body,.top_section{
	background:#ededed !important;	
}
.main-cont{
	width:80%;
}
.post_job_main{
	background: #ffffff none repeat scroll 0 0;
	float: right;
	width: 100%;
	padding:15px;
	position:relative;
	z-index:1;
	border-bottom:1px solid #ccc;
}
.post_job_main h5{
	background-repeat: no-repeat;
	color: #4e4f53;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10px;
}
.post_job_form label{
	color:#4E4F53;
}
.post_job_form input[type="text"], input[type="url"], input[type="tel"], input[type="email"], input[type="password"], select, textarea{
	border:1px solid #cccccc;
}
.create-blog-info{
	width:100%;
	height:auto;
	background:url('../images/blog.jpg') no-repeat right top #fff;
	padding:35px;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
	position:relative;
}
.arw-down{
	background:rgba(0, 0, 0, 0) url("../images/arrow-down-grey.png") no-repeat scroll center center;
	width:16px;
	height:7px;
	bottom:-1px;
	position:absolute;
}
.blog-info-head{
	font-size:16px;
	font-weight:500;
}
.blog-ifo-desc{
	font-size:13px;
}
.blog-ifo-desc p{
	line-height:18px;
}
.blog-ifo-desc p a{
	color:#ff9e05;
}
.group-span-filestyle .btn-default,
.btn-log {
	background:#4e4f53;
	color:#fff;
	border:1px solid #4e4f53;
	outline:none;
	height:auto;
}
.btn-log{
	padding:4px 12px;
	font-size:13px;
}
	.btn-log:hover{
		background:#4e4f53;
		color:#fff;
		border:1px solid #4e4f53;
		outline:none;
	}
.group-span-filestyle:focus{
	outline:none;
}
.post_job_main select{
	outline:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
	background:#fff url("../images/review_top_arrow.png") no-repeat scroll 97% center;
}
.post_job_main .input-group-addon{
	background:#fff;
	color:#ccc;
}
.post_job_main .form-control{
	height:auto;
}
.wysihtml5-sandbox{
	box-shadow:none !important;
	border:1px solid #ccc;
}
.post_job_main .form-control[disabled]{
	background:#fff;
}
.wysihtml5-toolbar .btn{
	font-size:13px;
	color:#4e4f53;
}
.post_job_main .form-control{
	padding-left:8px;
}
.bootstrap-filestyle input{
	font-size:12px;
}