@import url("user-home.css");
.pagination_box_jobs .jobs_search {
  color: #000;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
}
.inner_content_section .inner_top_border {
  border-top: 1px solid #e4e4e4;
  padding: 7px 0;
}