@charset "UTF-8";
/* CSS Document */
.top_section{
	background:#ededed;
}
.blog p{
	margin-bottom:0px;
}
.blog{
	position:relative;
}
.grey-sec-blog-create,.grey-sec-blog{
	background:#f4f4f4;
	border-bottom:1px solid #ccc;
	border-radius:4px;
}
.grey-sec-blog{
	padding:10px;
}
.grey-sec-blog .form-group{
	margin-bottom:0px;
}
.grey-sec-blog input{
	border:1px solid #c2c2c2;
	height:34px;
	margin-top:2px;
}
.searchBlog{
	border:none !important;
}
.img-sec-blog{
	width:39px;
	height:39px;
	border-radius:100%;
	overflow:hidden;
}
.alt-width-blog{
	width:40px;
}
.alt-width-blog-search{
	width:93%;
}
.grey-sec-blog-create{
	padding:9px 7px;
}
.create-blog{
	padding:10px 5px;
	background:#4e4f53;
	border-radius:4px;
	display:inline-block;
	color:#fff;
	text-decoration:none;
	font-size:13px;
}
.create-blog img{
	margin-right:6px;
	vertical-align:text-bottom;
}
.create-blog:visited, .create-blog:hover{
	color:#fff;
}
.notification-blog{
	margin-top:6px;
}
.blog-sec{
	margin-top:15px;
	border-radius:3px;
}
.blog-img{
	width:100%;
	max-height:418px;
	background-color:#ffffff;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	overflow:hidden;
}
.blog-img img{
	width:100%;
}
.blog-info{
	width:100%;
	height:auto;
	background:#fff;
}
.blog-info{
	padding:15px 15px 6px;
	border-radius:3px;
	border-bottom:1px solid #ccc;
}
.img-user-blog{
	width:46px;
	height:46px;
	border-radius:100%;
	overflow:hidden;
}
.blog-user-desc p{
	color:#4e4f53;
	font-weight:500;
	font-size:15px;
	line-height:16px;
}
.blog-user-desc p a{
	color:#4e4f53;
}
.place-job i{
	color:#4e4f53;
}
.place-job p{
	font-size:12px;
	color:#4e4f53;
}
.blog-head, .blog-info-more, .blog-desc{
	margin-top:10px;
}
.blog-head p{
	font-size:16px;
	color:#4e4f53;
	font-weight:500;
}
.blog-info-more p{
	font-size:11px;
	font-weight:bold;
	color:#b8b9ba;
}
.blog-info-more p span:first-child{
	padding-right:20px;
}
.blog-info-more p span+span{
	padding:0px 20px;
	border-left:1px solid #ccc;
}
.blog-desc p{
	font-size:13px;
	color:#515251;
	line-height:18px;
	margin-bottom:20px;
}
.blog-desc a{
	font-size:14px;
	color:#afb420;
	font-weight:300;
}
.like-comment-share-blog{
	margin-top:40px;
}
.like-blog a {
  color: #7e7e7f;
  font-size: 12px;
  text-decoration: none;
}
.like-blog a span, .like-blog a{
	font-weight:bold;
}
.like-blog a i{
	margin-right:10px;
}
.alt-width-like-blog{
	width:73px;
}
.liked-blog{
	color:#afb420 !important;
}
.share-btns a{
	font-size:18px;
	text-decoration:none;
	color:#b8b9ba;
	margin-right:6px;
}
.email-blog {
	margin-left:20px;
}
.email-blog span{
	font-size:12px;
	margin-left:3px;
	color:#7e7e7f;
	font-weight:bold;
}
.email-blog i{
	font-size:15px;
	color:#c6c6c6;
	font-weight:bold;
	display:inline-block;
	margin-right:3px;
}
.alt-width-user-img{
	width:60px;
}
.mosaicflow__item{
	max-width:100%;
}
.img-blog-mas{
	width:100%;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	overflow:hidden;
}
.img-blog-mas img{
	min-width:100%;
	height:auto;
}
.item{
	margin-top:20px;
}
.masnory .blog-info-more p span:first-child{
	padding-right:10px;
}
.masnory .blog-info-more p span+span{
	padding:0px 10px;
}
.searchBlog{
	font-size:14px !important;
	font-weight:400 !important;
}
@media only screen 
  and (min-device-width: 768px)  and (max-device-width: 1199px)  {
	.alt-width-blog-search{
		width:82%;
	}

}

@media only screen  and (min-width:1200px){
.alt-padding-lg-left{
		padding-left:0px;
	}
	
}