/**********************************

Name: cmxform Styles

***********************************/
form.cmxform {
	width: 370px;
	color: #333;
	
}
label{
	font-weight:400;
	font-size: 12px;
}
form.cmxform legend {
	padding-left: 0;
}

form.cmxform legend, form.cmxform label {
	color: #333;
}

form.cmxform fieldset {
	border: none;
	border-top: 1px solid #C9DCA6;
	background: url(../images/cmxform-fieldset.gif) left bottom repeat-x;
	background-color: #F8FDEF;
}

form.cmxform fieldset fieldset {
	background: none;
}

form.cmxform fieldset p, form.cmxform fieldset fieldset {
	padding: 5px 10px 7px;
	background: url(../images/cmxform-divider.gif) left bottom repeat-x;
}

form.cmxform label.error, label.error {
	/*display:block;*/
	color:#933;
	position:absolute;
	right:30px;
	display:block;
	margin-top:7px;
	z-index:99;
	
}
div.error { display: none; }
input {	border: 1px solid black; }
input.checkbox { border: none }
input:focus { border: 1px dotted black; }/*
input.error { box-shadow:0px 0px 3px #933; }*/
input.error { border:1px solid #933 !important; }
form.cmxform .gray * { color: gray; }
.genderField label.error{
	right:26px;
}
.genderField{
	width:185px;
}