@charset "UTF-8";
/* CSS Document */
.top_section{
	background:#ededed;
}
.composite{
	color:#4e4f53;
	font-size:15px;
	font-weight:500;
}
.pagination_box_jobs{
	margin-bottom:16px;
	position:relative;
}
.white-compo{
	background:#fff;
	padding:15px;
	width:100%;
	height:auto;
	border-radius:3px;
	border-bottom:1px solid #ccc;
}
.compo-head{
	background:#fbfbfb;
	padding:20px 15px 15px;
	border-bottom:1px solid #ededed;
}
.composite-head{
	font-size:16px;
	color:#4e4f53;
	font-weight:500;
}
.composite-head p{
	margin-bottom:5px;
}
.desc-compo{
	font-size:13px;
	font-weight:300;
}
.desc-compo p{
	line-height:18px;
}
.upld-data{
	width:100%;
	height:20px;
	background:#fff;
	border:1px solid #ccc;
}
.upload-btn{
	display:inline-block;
	padding:6px 7px;
	background:#fff;
	border:1px solid #dbdbdb;
	font-size:13px;
	font-weight:500;
	border-radius:3px;
}
.upload-btn i, .upload-btn img{
	margin-right:4px;
}
.upload-btn img{
	vertical-align:calc(-4px);
}
.custom-upload a{
	text-decoration:none;
	color:#4e4f53;
}
.custom-upload input[type="file"] {
  border: medium none;
  box-shadow: none;
  cursor: pointer;
  height: 100%;
  opacity: 0;
  outline: medium none;
  position: absolute;
  text-align: right;
  top: 0;
  z-index: 2;
}
.lesspadding-l{
	padding-left:2px;
}
.lesspadding-r{
	padding-right:2px;
}
.box-color-sec{
}
.color-box{
	display:inline-block;
	width:20px;
	height:20px;
	border-radius:3px;
	cursor:pointer;
	position:relative;
}
.dark-grey{
	background:#4e4f53;
}
.ninety{
	background:#5f6063;
}
.seventy{
	background:#828285;
}
.fifty{
	background:#a4a5a7;
}
.thirty{
	background:#c7c7c8;
}
.ten{
	background:#e9e9ea;
}
.zero{
	background:#fff;
}
.box-color-sec.pull-right{
	margin-top:8px;
}
.compo-designs{
	width:100%;
	height:auto;
	border:5px solid #4e4f53;
}
.border-compo{
	border-right:5px solid #4e4f53;
}
.img-left{
	padding:15px;
	width:100%;
	height:481px;
	overflow:hidden;
	position:relative;
}
.img-left img, .img-r-compo img, .img-como-d img{
	width:100%;
	min-height:100%;
}
.no-padding-r{
	padding-right:0px;
}
.no-padding-l{
	padding-left:0px;
}
.img-sec-right{
	padding:15px;
}
.compo-container{
	margin-top:20px;
}
.margin-top-up{
	margin-top:15px;
}
.alt-padding-half-r{
	padding-right:7.5px;
}
.alt-padding-half-l{
	padding-left:7.5px;
}
.info-model ul{
	margin-top:10px;
}
.info-model ul li{
	font-size:12px;
	line-height:20px;
}
.img-r-compo{
	width:100%;
	height:200px;
	overflow:hidden;
}
.img-como-d{
	width:100%;
	height:236px;
	overflow:hidden;
}
.selected{
	width:20px;
	height:5px;
	background:#fea210;
	display:block;
	position:absolute;
	left:0;
	top:-8px;
	display:none;
}
.selected.on{
	display:block;
}
.modal-title{
	font-size:18px;
}
.modal-footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 15px;
  padding: 8px 9px 11px;
  text-align: right;
}
.btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background:#afb420;
}
.btn:hover{
	background:#969a25;
	border:1px solid #969a25;
}
.right-btm-img{
	margin-top:20px;
}
.thumb-galery{
	width:100%;
	height:130px;
	overflow:hidden;
	margin-bottom:20px;
	cursor:pointer;
}
.thumb-galery img{
	width:100%;
	min-height:100%;
}
.pic-body{
	height:500px;
	overflow:hidden;
	overflow-x:hidden;
	position:relative;
}
.shadow-compo{
	position:absolute;
	z-index:99;
	bottom:0;
	left:0;
	width:100%;
	height:200px;
}
.name-info{
	width:100%;
	margin-top:-30px;
	color:#fff;
	position:relative;
	z-index:999;
}
.position-adjust, .gallery-pic{
	position:relative;
}
.border-selected{
	border:3px solid #afb420;
}
.position-adjust{
	height:450px;
	overflow:hidden;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active{
	background:#afb420;
	border:none;
}
.load_album_preloader{
   width:100%; 
   height:100%; 
   background:url('../images/1.gif') center center no-repeat;
   background-size:40px;
   position:absolute;
   border:1px solid #f5f5f5;
   top:0;
   left:0;
}
.modelDataLabel{
	font-weight:400;
}
.shareComposite{
	border-top: 1px solid #ededed;
	margin: 30px 0 0 10px;
	padding:10px;
}
.selectFromDevice{
	position:relative;
	line-height:40px;
	height:40px;
}

.selectFromDevice .album_uploader{
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  padding:10px;
  top:0;
  left:0;
  z-index:99;
}

.slectPhoto .modal-footer{
	margin-top:0;
}
.selCompositePhoto{
	position:relative;
	display:block;
}
.selCompositePhoto img{
	min-height:100%;
}
.ovelay_image_indicator{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	text-decoration:none;
	text-align:center;
	color:#fff;
	padding:5px;
	font-size:12px;
	display:none;
}
.selCompositePhoto:hover .ovelay_image_indicator{
	display:block;
}
.ovelay_image_indicator p{
	margin-top:50%;
	line-height:15px;
}
.ovelay_image_indicator .fa-upload{
	display:inline-block;
	margin-right:5px;
}
@media screen and (min-width:1280px){
	.col-lg-sp-6s{
		width:50%;
	}
	.col-lg-sp-6r{
		width:50%;
	}
	.col-lg-sp-11{
		width:87.86%;
	}
}