@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
body {
	margin: 0px;
	color: #4e4f53;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}
img{ max-width:100%; }
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif;
	margin:0px;
	color:#000000;
	font-size:30px;
	margin-bottom:20px;
	font-weight:200;
}
h2 {
    font-size: 28px;
}
h3{ font-size:26px;}
h4{ font-size:24px;}
h5{ font-size:22px; }
h6{ font-size:20px; }
hr{ margin:10px 0px; border:0px; border-bottom:1px dashed #828282;}
p, ul, ol{ margin:0px; line-height:23px; padding:0px;}
/*ul *, ol * { margin:0px; padding:0px;}*/
ol { padding-left: 25px;}
ul {display:block; }
ul li{
	line-height:30px;
	list-style:none;	
}
ul li+li{
}
a img { border: 0px;}
a,a:hover,a:active,a:focus{
	outline:none;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
	outline:none;
}
p {
    margin-bottom: 18px;
}
.clr{ display: block; float: none; clear: both;}
.c { overflow:hidden; float:none;}
.ovr{
	overflow:hidden;
}
.underline{text-decoration:underline;}
.round5 {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(css/PIE.htc);
	position: relative;
}
.round10 {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(css/PIE.htc);
	position: relative;
}
.round15 {
	-webkit-border-radius: 15px;
	border-radius: 15px;
	behavior: url(css/PIE.htc);
	position: relative;
}
.bg_white{
	background-color:#ffffff;
}
.left1{width:1%;float:left;} .left2{width:2%;float:left;} .left3{width:3%;float:left;} .left4{width:4%;float:left;} .left5{width:5%;float:left;} .left5more{width:5.5%;float:left;} .left6{width:6%;float:left;} .left7{width:7%;float:left;} .left8{width:8%;float:left;} .left9{width:9%;float:left;} .left10{width:10%;float:left;} .left11{width:11%;float:left;} .left12{width:12%;float:left;} .left13{width:13%;float:left;} .left14{width:14%;float:left;} .left15{width:15%;float:left;} .left16{width:16%;float:left;} .left17{width:17%;float:left;} .left18{width:18%;float:left;} .left19{width:19%;float:left;} .left20{width:20%;float:left;} .left21{width:21%;float:left;} .left22{width:22%;float:left;} .left23{width:23%;float:left;} .left24{width:24%;float:left;} .left25{width:25%;float:left;} .left26{width:26%;float:left;} .left27{width:27%;float:left;} .left28{width:28%;float:left;} .left29{width:29%;float:left;} .left30{width:30%;float:left;} .left31{width:31%;float:left;} .left32{width:32%;float:left;} .left-33{width:33%;float:left;} .left33{width:33.32%;float:left;} .left34{width:34%;float:left;} .left35{width:35%;float:left;} .left36{width:36%;float:left;} .left37{width:37%;float:left;} .left38{width:38%;float:left;} .left39{width:39%;float:left;} .left40{width:40%;float:left;} .left41{width:41%;float:left;} .left42{width:42%;float:left;} .left43{width:43%;float:left;} .left44{width:44%;float:left;} .left45{width:45%;float:left;} .left46{width:46%;float:left;} .left47{width:47%;float:left;} .left48{width:48%;float:left;} .left49{width:49%;float:left;} .left50{width:50%;float:left;} .left51{width:51%;float:left;} .left52{width:52%;float:left;} .left53{width:53%;float:left;} .left54{width:54%;float:left;} .left55{width:55%;float:left;} .left56{width:56%;float:left;} .left57{width:57%;float:left;} .left58{width:58%;float:left;} .left59{width:59%;float:left;} .left60{width:60%;float:left;} .left61{width:61%;float:left;} .left62{width:62%;float:left;} .left63{width:63%;float:left;} .left64{width:64%;float:left;} .left65{width:65%;float:left;} .left66{width:66%;float:left;} .left67{width:67%;float:left;} .left68{width:68%;float:left;} .left69{width:69%;float:left;} .left70{width:70%;float:left;} .left71{width:71%;float:left;} .left72{width:72%;float:left;} .left73{width:73%;float:left;} .left74{width:74%;float:left;} .left75{width:75%;float:left;} .left76{width:76%;float:left;} .left77{width:77%;float:left;} .left78{width:78%;float:left;} .left79{width:79%;float:left;} .left80{width:80%;float:left;} .left81{width:81%;float:left;} .left82{width:82%;float:left;} .left83{width:83%;float:left;} .left84{width:84%;float:left;} .left85{width:85%;float:left;} .left86{width:86%;float:left;} .left87{width:87%;float:left;} .left88{width:88%;float:left;} .left89{width:89%;float:left;} .left90{width:90%;float:left;} .left91{width:91%;float:left;} .left92{width:92%;float:left;} .left93{width:93%;float:left;} .left94{width:94%;float:left;} .left95{width:95%;float:left;} .left96{width:96%;float:left;} .left97{width:97%;float:left;} .left98{width:98%;float:left;} .left99{width:99%;float:left;} .left100{width:100%;float:left;}
.left,.flot_left{ float:left;}
.right,.flot_right{ float:right !important;}
.a_left { text-align: left !important;}
.a_center { text-align: center;}
.a_right { text-align: right;}
a { text-decoration:none; }
.hidden { display:none;}
.italic{
	font-style:italic;	
}
.bold{
	font-weight:bold;	
}
table{
	border-spacing:0px;
	border-collapse:collapse;
}
input[type="text"],input[type="url"],input[type="tel"], input[type="email"], input[type="password"], select, textarea {
    background:#fff;
    border:1px solid #4e4f53;
    color: #333;
    font-size: 14px;
    padding: 6px 15px;
    resize: vertical;
    width:100%;
	font-weight:300;
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	
}
textarea {
    width:100%;
}
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus { }
select { padding: 12px; width:100%;}
input[type="button"], input[type="submit"], input[type="reset"] {
	font-size:17px;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	background:#4e4f53;
	padding:5px 25px;
	border:1px solid #4e4f53;
	font-weight:500;
	text-shadow:0px 1px 1px rgba(000,000,000,.2);	
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	transition:background linear .2s;
	-moz-transition:background linear .2s;
	-ms-transition:background linear .2s;
	-o-transition:background linear .2s;
	-webkit-transition:background linear .2s;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover { 
	background:#3b3b3f;
 }
.margin_btm14{
	margin-bottom:14px;	
}
.margin_btm0{
	margin-bottom:0px;	
}
a:focus{
	text-decoration:none;	
}
.logo a img{
	width:170px;
	margin-top:7px;
}
.no-padding{
	padding-left:0px !important;
	padding-right:0px !important;
}
/*---------------------------------------*/

.login_table .facebook_login a{
	display:block;
	background:#325797;
	border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	padding:8px 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:600;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	margin:0px;
}
/*-----------------------*/
.relative{
	position:relative;	
}
.mob_dis{
	display:none;	
}
a:hover{
	text-decoration:none;	
}
.top_image_or_video{
	position:absolute;
	width:100%;
	box-sizing:border-box;
	text-align:center;
	z-index:0;
	background:#323232;
	top:0px;	
}
.top_image_or_video .background_image_or_video{

}
.top_image_or_video .background_image_or_video img{
	
}	
.top_section{
	background:rgba(227,227,227,.9);
	background:url(../images/banner_bg.png) no-repeat center top;
	position:relative;
	z-index:1;
}
.top_section .logo_nav_section{
	padding-top:4px;
	padding-bottom:10px;
}
.top_section .logo{
	padding-right:0px;
}
.top_section  .nav_signup_margin{
	margin-top:20px;
}
.top_section .main_nav{
	float:right;
	position:relative;
}
.top_section .login_signup{
	float:right;
	margin-top:2px;
}
.top_section .login_signup .signup_box{
	background:#4e4f53;
	padding:15px;
	position:absolute;
	min-width:300px;
	z-index:999;
	right:0px;
	margin-top:10px;
	display:none;	
}
.top_section .login_signup .signup_box .signup_box_arrow{
	position:absolute;
	top:-15px;
	width:100%;
	text-align:center;
}
.top_section .login_signup .signup_box.login_box .signup_box_arrow{
	text-align:right;
	right:39px;
}
.top_section .login_signup .signup_box td{
	padding-bottom:10px;
}	
.top_section .login_signup .signup_box input[type="text"],
.top_section .login_signup .signup_box input[type="email"],
.top_section .login_signup .signup_box input[type="tel"],
.top_section .login_signup .signup_box select{
	border:1px solid #5e5f64;
	padding:10px;		
	border-radius:0px;	
	-moz-border-radius:0px;	
	-ms-border-radius:0px;	
	-o-border-radius:0px;	
	-webkit-border-radius:0px;
	background:#646568;
	color:#fff;
	behavior: url(css/PIE.htc);
}
.top_section .login_signup .signup_box input[type="submit"]{
	border:1px solid #5e5f64;
	padding:10px 18px;		
	border-radius:0px;	
	-moz-border-radius:0px;	
	-ms-border-radius:0px;	
	-o-border-radius:0px;	
	-webkit-border-radius:0px;
	background:#646568;
	font-size:15px;
	font-weight:300;
	behavior: url(css/PIE.htc);
}
.top_section .main_nav ul,.top_section .main_nav ul li{
	padding:0px;
	margin:0px;
	list-style:none;	
}
.top_section .main_nav ul li {
	display:inline-block;
	vertical-align:top;	
}
.top_section .main_nav ul li a{
	font-size:12px;
	color:#000000;
	padding:5px 7px;
	border-radius:2px;	
	-moz-border-radius:2px;	
	-ms-border-radius:2px;	
	-o-border-radius:2px;	
	-webkit-border-radius:2px;
	text-transform:uppercase;
	transition:background linear .2s;
	-moz-transition:background linear .2s;
	-ms-transition:background linear .2s;
	-o-transition:background linear .2s;
	-webkit-transition:background linear .2s;
	behavior: url(css/PIE.htc);
}
.top_section .main_nav ul li:hover > a,.top_section .main_nav ul li.select > a{
	background:#4e4f53;
	color:#fff;	
}
.top_section .main_nav ul li.menu_drop:hover > a{
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-top-left-radius:2px;
	-moz-border-top-right-radius:2px;
	-moz-border-bottom-left-radius:0px;
	-moz-border-bottom-right-radius:0px;
	
	-ms-border-top-left-radius:2px;
	-ms-border-top-right-radius:2px;
	-ms-border-bottom-left-radius:0px;
	-ms-border-bottom-right-radius:0px;
	
	-o-border-top-left-radius:2px;
	-o-border-top-right-radius:2px;
	-o-border-bottom-left-radius:0px;
	-o-border-bottom-right-radius:0px;
	
	-webkit-border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	behavior: url(css/PIE.htc);
	
}
.top_section .main_nav ul li ul{
	position:absolute;
	background:#4e4f53;
	padding:2px;
	min-width:150px;
	display:none;
	z-index:99999;
	margin-top:-2px;
	
	
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	
	-moz-border-top-left-radius:0px;
	-moz-border-top-right-radius:0px;
	-moz-border-bottom-left-radius:2px;
	-moz-border-bottom-right-radius:2px;
	
	-ms-border-top-left-radius:0px;
	-ms-border-top-right-radius:0px;
	-ms-border-bottom-left-radius:2px;
	-ms-border-bottom-right-radius:2px;
	
	-o-border-top-left-radius:0px;
	-o-border-top-right-radius:0px;
	-o-border-bottom-left-radius:2px;
	-o-border-bottom-right-radius:2px;
	
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	behavior: url(css/PIE.htc);
}
.top_section .main_nav ul li ul li ul{
	margin-left:98%;
	margin-top:-36px;	
}
.top_section .main_nav ul li ul li{
	display:block;	
}
.top_section .main_nav ul li ul li a{
	display:block;
	text-transform:none;
	padding:2px 19px;
	color:#fff;	
	border-radius:0px;	
	-moz-border-radius:0px;	
	-ms-border-radius:0px;	
	-o-border-radius:0px;	
	-webkit-border-radius:0px;
	behavior: url(css/PIE.htc);
}
.top_section .main_nav ul li ul li:hover > a{
	background:#e3e3e3;	
	color:#000000;
}
.top_section .main_nav ul li:hover >ul{
	display:block;
	opacity:1;
}	
.top_section .main_nav .mob_btn{
	display:none;
	margin-top:-3px;
	margin-right:8px;
}
.mob_menu{
	position: fixed;
	background-color: #4e4f53;
	height: 100%;
	z-index: 999999;
	width: 280px;
	color: #fff;
	top: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 1;
	left:-280px;
}
.mob_menu.show_menu{
	left:0px;
}
.mob_menu ul li{
	display:block;	
}
.mob_menu ul li a{
	display:block;
	font-size:13px;
	color:#bbbbbb;
	padding:5px 10px;
	font-weight:500;
}
.mob_menu ul li:hover > a{
	color:#fff;
	background:#434447;	
}
.mob_menu ul li+li{
	border-top:1px solid #3f4043;	
}
.mob_menu ul li ul{
	display:none;
	margin-left:15px;
}	
.mob_menu .close_btn a{
	color:#737477;
	font-weight:500;
}

/*----*/
.top_section .login_signup a{
	display:inline-block;
	background:#4e4f53 url(../images/signup_arrow.png) no-repeat 88% center;
	font-size:12px;
	color:#ffffff;
	text-transform:uppercase;
	padding:5px 14px;
	padding-right:26px;
	border-radius:2px;	
	-moz-border-radius:2px;	
	-ms-border-radius:2px;	
	-o-border-radius:2px;	
	-webkit-border-radius:2px;
	behavior: url(css/PIE.htc);
	margin-left:5px;
	font-weight:500;
	transition:background linear .2s;
	-moz-transition:background linear .2s;
	-ms-transition:background linear .2s;
	-o-transition:background linear .2s;
	-webkit-transition:background linear .2s;	
}
.top_section .login_signup a:hover{
	background:#afb420 url(../images/signup_arrow.png) no-repeat 88% center;
}
.top_section .login_signup.user_login{
	
}
.top_section .login_signup.user_login .user_thumb{
	background:none;
	padding:0px;
	margin-left:10px;
	float:left;
	overflow:hidden;
	width:30px;
	height:30px;
}
.top_section .login_signup.user_login .name{
	background:#afb420;
	padding:6px 10px;
	text-transform:none;
	transition:background linear .2s;
	-moz-transition:background linear .2s;
	-ms-transition:background linear .2s;
	-o-transition:background linear .2s;
	-webkit-transition:background linear .2s;
}
.top_section .login_signup.user_login .name:hover{
	background:#4e4f53;
}
.top_section .login_signup.user_login .logout{
	background:#b8b8b9;
	padding:3px 11px 5px;
	transition:background linear .2s;
	-moz-transition:background linear .2s;
	-ms-transition:background linear .2s;
	-o-transition:background linear .2s;
	-webkit-transition:background linear .2s;
	font-size:14px;
}
.top_section .login_signup.user_login .logout:hover,.top_section .login_signup.user_login a.act{
	background:#afb420;
}
.top_section .banner_section  .owl-pagination{
	
}
.top_section .banner_section   .owl-controls .owl-page{
	display:inline-block;
	background:#fff;
	border:1px solid #e3e3e3;
	width:10px;
	height:10px;
	border-radius:600px;
	-moz-border-radius:600px;
	-ms-border-radius:600px;
	-o-border-radius:600px;
	-webkit-border-radius:600px;
	margin:0px 5px;
	behavior: url(css/PIE.htc);
}
.top_section .banner_section  .owl-controls .owl-page.active{
	background:#4e4f53;
	border-color:#4e4f53;	
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-carousel .owl-item .item{
margin: 10px;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
#owl-demo .item{
margin: 10px;
}
.customNavigation{
text-align: center;
}
.customNavigation a{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*----------------------------*/

/*---------------------------*/
.client_logo_section{
	text-align:center;
	padding:10px 0px;
	position:relative;
	z-index:999;
	background:#fff;	
}
.client_logo_section a img{
	transition:opacity ease-in-out .2s;
	-moz-transition:opacity ease-in-out .2s;
	-ms-transition:opacity ease-in-out .2s;
	-o-transition:opacity ease-in-out .2s;
	-webkit-transition:opacity ease-in-out .2s;
}
.client_logo_section a img:hover{
	opacity:.5;
}


/*-----------------*/
.footer_section{
	background:#4e4f53;
	padding:22px 0px;
	text-align:center;
	font-size:12px;
	color:#999999;	
}
.footer_section p{
	line-height:20px;
}
.footer_section p.social_links{
	text-align:center;
	margin-bottom:13px;	
}
.footer_section p.social_links a{
	display:inline-block;
	vertical-align:top;
	margin:0px 4px;
}
.footer_section p.social_links a img{
	opacity:1;	
}
.footer_section p.social_links a:hover > img{
	transition:opacity linear .2s;
	-moz-transition:opacity linear .2s;
	-ms-transition:opacity linear .2s;
	-o-transition:opacity linear .2s;
	-webkit-transition:opacity linear .2s;
	opacity:.5;
}
.footer_section .links p{
	margin-bottom:5px;
}	
.footer_section .links a{
	color:#afafaf;
}
.footer_section .links a+a{
	margin-left:15px;	
}
.footer_section .links a:hover{
	text-decoration:underline;
	color:#fff;	
}
.footer_section  .copyright{
	color:#afafaf;
}
/*--------------------------*/

.popup_box.login_width{
	max-width:424px;
}
.popup_box h2{
	font-size:24px;
	color:#4e4f53;
	font-weight:400;	
}
.popup_box .login_table{
	
}
.popup_box .login_table .tr{
	border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	background:#ffffff;
	border:1px solid #e2e2e2;
	margin-bottom:8px;
}
.popup_box .login_table .tr.submit{
	background:none;
	border:0px;
	margin-top:9px;
}
.popup_box .login_table .tr .icon{
	float:left;
	width:40px;
	border-right:1px solid #eaeaea;
	height:34px;
	box-sizing:border-box;
	text-align:right;
	padding-right:7px;
	padding-top:2px;
}
.popup_box .login_table .tr .field{
	float:left;
	width:80%;
}
.popup_box .login_table input[type="text"],.popup_box .login_table input[type="password"]{
	border:0px;
	font-size:13px;
	color:#919191;	
}
.popup_box .login_table input[type="submit"]{
	font-size:18px;
	color:#ffffff;
	font-weight:500;
	display:block;	
	border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	width:100%;
	text-transform:uppercase;
}
.popup_box .login_table .forgot{
	font-size:12px;
	color:#969494;
	margin-top:15px;	
}
.popup_box .login_table .forgot a{
	font-size:12px;
	color:#000000;
	transition:opacity linear .2s;
	-moz-transition:opacity linear .2s;
	-ms-transition:opacity linear .2s;
	-o-transition:opacity linear .2s;
	-webkit-transition:opacity linear .2s;
}
.popup_box .login_table .forgot a:hover{
	color:#515051;	
}
.popup_box .login_table .forgot .forgot_pass{
	float:left;
}
.popup_box .login_table .forgot .forgot_pass+.forgot_pass{
	float:right;
}

.popup_box .login_table ::-webkit-input-placeholder { 
    color:    #919191;
   opacity:  1;
}
.popup_box .login_table ::-moz-placeholder { 
   color:    #919191;
   opacity:  1;
}
.popup_box .login_table ::-moz-placeholder { 
   color:    #919191;
   opacity:  1;
}
.popup_box .login_table ::-ms-input-placeholder { 
   color:    #919191;
   opacity:  1;
}
/*--------------------------*/
.inner_content_section{
		
}
.inner_content_section .inner_top_border{
	border-top:1px solid #e4e4e4;
	padding:7px 0px;
}

h2.heading{
	font-size:17px;
	color:#4e4f53;
	font-weight:500;	
}
h2.heading.with_border{
	background:url(../images/border.jpg) repeat-x center 13px;
}
h2.heading.with_border span{
	background:#fff;
	padding-right:4px;	
}
h2.heading.with_border span.seemore{
	float:right;
	padding-left:10px;
}
h2.heading.with_border span.seemore a{
	font-size:13px;
	color:#4e4f53;
	font-weight:300;
}
h2.heading.with_border span.seemore a i{
	font-size:10px;
	vertical-align:top;
	margin-top:6px;	
}
h2.heading.with_border span.seemore a:hover{
	color:#ff9e05;	
}
/*-------------*/

.user_profile{
	
}
.user_profile .content{
	float:left;
	width:850px;
}
.user_profile .sidebar{
	float:right;
	width:300px;
}
.user_profile .content .pagination_box{
	margin-bottom:16px;
}
.user_profile .content .pagination_box a{
	font-size:13px;
	color:#4e4f53;	
}
.user_profile .content .pagination_box a.active{
	color:#ff9e05;	
}
.user_profile .content .pagination_box i{
	font-size:15px;
	color:#4E4F53;
	margin:0px 2px 0px 3px;
}
.user_profile .content .pagination_box a:hover{
	text-decoration:underline;	
}
.user_profile .content .profile_box{
	float:left;
	width:250px;
	background:#efefef;
	padding:10px;
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
}
.user_profile .content .profile_content{
	width:580px;
	float:right;
}
.user_profile .content .profile_box .profile_pic{
	margin-bottom:10px;
}
.user_profile .content .profile_box .profile_tabs{
	
}
.user_profile .content .profile_box h1,
.user_profile .content .profile_box h2{
	font-size:20px;
	color:#4e4f53;
	font-weight:500;
	margin-bottom:0px;
}
.user_profile .content .profile_box h2{
	font-size:16px;
	margin-bottom:5px;	
}
.user_profile .content .profile_box .profile_tabs+.profile_tabs{
	margin-top:10px;
}
.user_profile .content .profile_box .profile_tabs .username{
	font-size:12px;
	color:#4e4f53;
	margin-bottom:3px;	
}
.user_profile .content .profile_box .profile_tabs .status_box{

}
.user_profile .content .profile_box .profile_tabs .status_box a{
	display:block;
	font-size:14px;
	color:#4e4f53;	
}
.user_profile .content .profile_box .profile_tabs .status_box .current_status i {
    font-size: 19px;
    margin-left: 5px;
    margin-top: -4px;
    vertical-align: top;
}
.user_profile .content .profile_box .profile_tabs .status_box .status_option{
	border:1px solid #cbcaca;
	background:#fff;
	width:110px;
	box-sizing:border-box;
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	padding:10px;
	position:absolute;
	margin-top:4px;
	z-index:9999;
	display:none;
}
.user_profile .content .profile_box .profile_tabs .status_box .status_option a{
	font-size:12px;
}	
.user_profile .content .profile_box .profile_tabs .status_box .status_option a:hover{
	color:#000;	
}
.user_profile .content .profile_box .profile_tabs .status_box .status_online{
	display:inline-block;
	background:url(../images/status_online.png) no-repeat left center;
	padding-left:15px;
}
.user_profile .content .profile_box .profile_tabs .status_box .status_option .status_busy,
.user_profile .content .profile_box .profile_tabs .status_box .status_busy{
	background:url(../images/status_busy.png) no-repeat left center;
	padding-left:15px;
}
.user_profile .content .profile_box .profile_tabs .status_box .status_option .status_invisible,
.user_profile .content .profile_box .profile_tabs .status_box .status_invisible{
	background:url(../images/status_invisible.png) no-repeat left center;
	padding-left:15px;
}
.user_profile .content .profile_box .profile_tabs .status_box .status_option .status_option_arrow{
	position:absolute;
	left:10px;
	top:-15px;
}
.user_profile .content .profile_box .profile_tabs ul,
.user_profile .content .profile_box .profile_tabs ul li{
	margin:0px;
	padding:0px;
	list-style:none;
}
.user_profile .content .profile_box .profile_tabs ul li+li	{
	/*border-top:1px solid #fffefe;	*/
}
.user_profile .content .profile_box .profile_tabs ul li a{
	font-size:14px;
	color:#4e4f53;
	display:block;
	vertical-align:middle;
	line-height:23px;
	font-weight:normal;
}
.user_profile .content .profile_box .profile_tabs.list_bold ul li a{
	font-size:16px;
	color:#4e4f53;
	font-weight:500;
}
.user_profile .content .profile_box .profile_tabs ul li a:hover,
.user_profile .content .profile_box .profile_tabs ul li a:hover > .icons{
	color:#ff9e05;	
}

.user_profile .content .profile_box .profile_tabs ul li a span{
	display:inline-block;
	position:relative;	
}
.user_profile .content .profile_box .profile_tabs ul li a  sup{
	background:#ff9e05;
	font-size:12px;
	color:#ffffff;
	font-weight:normal;
	padding:2px 13px;
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	left:12px;
	top:-1px;	
}
.user_profile .content .profile_box .profile_tabs ul li a .icons {
    font-size: 15px;
    margin-right: 5px;
    margin-top: 4px;
    text-align: center;
    vertical-align: top;
    width: 20px;
	color:#7b7b7c;
}
.user_profile .content .profile_box .profile_tabs ul li a .arrow_list{
	float:right;
	margin-top:9px;
	font-size:10px;
}
.user_profile .content .profile_box .profile_tabs  a.promote{
	display:block;
	font-size:18px;
	color:#fefefe;
	background:#afb420;
	padding:6px 12px;
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	text-align:center;
	font-weight:500;
}
.user_profile .content .profile_box .profile_tabs  a.promote:hover{
	background:#4e4f53;	
}
/*------------*/
.user_profile .content .profile_content .rank_follw_box{
	background:#ededed;
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	margin-bottom:6px;
	position:relative;
}
.user_profile .content .profile_content .rank_follw_box .follow_box{
	width:21%;
	float:left;
	text-align:center;
	padding:6px 12px;
	box-sizing:border-box;
	height:60px;
}
.user_profile .content .profile_content .rank_follw_box .request{
	width:25%;
	float:left;
}
.user_profile .content .profile_content .rank_follw_box  .notification{
	float:right;
	width:30px;
	margin-right:25px;
}
.user_profile .content .profile_content .rank_follw_box .request .request_btn{
	display:inline-block;
	font-size:13px;
	color:#a2a71c;
	background:#fff;
	padding:10px 14px;
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	margin-top:11px;
	transition:background linear .2s;
	-moz-transition:background linear .2s;
	-ms-transition:background linear .2s;
	-o-transition:background linear .2s;
	-webkit-transition:background linear .2s;
	font-weight:normal;
}
.user_profile .content .profile_content .rank_follw_box .request .request_btn i{
	margin-right:9px;
	font-size:15px;
	color:#666666;	
}
.user_profile .content .profile_content .rank_follw_box .request .request_btn:hover{
	background:#666666;	
	color:#fff;
}
.user_profile .content .profile_content .rank_follw_box .request .request_btn:hover i{
	color:#fff;
}
.user_profile .content .profile_content .rank_follw_box  .notification .noti_icon{
	position:relative;
	margin-top:16px;
}
.user_profile .content .profile_content .rank_follw_box  .notification sup{
	font-size:13px;
	color:#ffffff;
	background:#ff9e05;
	height:27px;
	width:27px;	
	border-radius:300px;	
	-moz-border-radius:300px;	
	-ms-border-radius:300px;	
	-o-border-radius:300px;	
	-webkit-border-radius:300px;
	behavior: url(css/PIE.htc);
	display:block;
	right:-12px;
	top:-17px;
	box-sizing:border-box;
	padding-top:13px;
	position:absolute;
	text-align:center;
	font-weight:normal;
}
.user_profile .content .profile_content .rank_follw_box .follow_box+.follow_box{
	background:url(../images/follow_arrow.png) repeat-y left top;	
}
.user_profile .content .profile_content .rank_follw_box .follow_box.ranking{
	border-radius:3px 0px 0px 3px;
	border-top-left-radius:3px;	
	border-top-right-radius:0px;	
	border-bottom-left-radius:3px;	
	border-bottom-right-radius:0px;
	
	-moz-border-top-left-radius:3px;	
	-moz-border-top-right-radius:0px;	
	-moz-border-bottom-left-radius:3px;	
	-moz-border-bottom-right-radius:0px;
	
	-ms-border-top-left-radius:3px;	
	-ms-border-top-right-radius:0px;	
	-ms-border-bottom-left-radius:3px;	
	-ms-border-bottom-right-radius:0px;	
	
	-o-border-top-left-radius:3px;	
	-o-border-top-right-radius:0px;	
	-o-border-bottom-left-radius:3px;	
	-o-border-bottom-right-radius:0px;
	
	-webkit-border-top-left-radius:3px;	
	-webkit-border-top-right-radius:0px;	
	-webkit-border-bottom-left-radius:3px;	
	-webkit-border-bottom-right-radius:0px;	
	background:#afb420;
	color:#fff;
}
.user_profile .content .profile_content .rank_follw_box .follow_box .no{
	font-size:18px;
	font-weight:500;
}
.user_profile .content .profile_content .rank_follw_box .follow_box .text{
	font-size:14px;
	font-weight:500;
}
.user_profile .content .profile_content .rank_follw_box .follow_box.following:hover{
	border-bottom:5px solid #4e4f53;
}
.user_profile .content .profile_content .rank_follw_box .follow_box.following a{
	display:block;	
}
.user_profile .content .profile_content .rank_follw_box .follow_box.following a .no{
	color:#4d4e52;
}
.user_profile .content .profile_content .rank_follw_box .follow_box.following a .text{
	color:#9d9d9f;
}
.user_profile .content .profile_content .profile_completion{
	border:1px solid #ededed;
	background:#fff;
	padding:18px 15px;
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	margin-bottom:14px;
}
.user_profile .content .profile_content .profile_completion .profile_graph{
	float:left;
	width:50%;
	font-size:12px;
	color:#4e4f53;
	font-weight:normal;
}
.user_profile .content .profile_content .profile_completion .profile_graph p{
	margin-bottom:15px;	
}
.user_profile .content .profile_content .profile_completion .profile_tips{
	float:right;
	width:50%;
}
.user_profile .content .profile_content .profile_completion .profile_graph .graph{
	width:85px;
	float:left;
}
.user_profile .content .profile_content .profile_completion .profile_graph .percentage{
	float:left;
	font-size:56px;
	color:#b4b4b6;
	font-weight:300;
	margin-left:14px;
}
.user_profile .content .profile_content .profile_completion .profile_tips .tip_heading{
	font-size:14px;
	color:#afb420;
	border-bottom:1px solid #ededed;
	padding-bottom:4px;
	margin-bottom:8px;
}
.user_profile .content .profile_content .profile_completion .profile_tips p{
	margin-bottom:0px;	
}
.user_profile .content .profile_content .profile_completion .profile_tips a{
	color:#4e4f53;	
}
.user_profile .content .profile_content .profile_completion .profile_tips a:hover{
	color:#afb420;	
}
.user_profile .content .profile_content .working_comments{
	border:1px solid #ededed;
	background:#f4f4f4;
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	padding:10px;
	margin-bottom:14px;	
}
.user_profile .content .profile_content .working_comments .thumb{
	width:39px;
	height:39px;
	float:left;
}
.user_profile .content .profile_content .working_comments .thumb img{
	border-radius:300px;	
	-moz-border-radius:300px;	
	-ms-border-radius:300px;	
	-o-border-radius:300px;	
	-webkit-border-radius:300px;
	behavior: url(css/PIE.htc);
}
.user_profile .content .profile_content .working_comments .comments{
	display:block;
	margin-left:53px;
	position:relative;
}
.user_profile .content .profile_content .working_comments .comments .comments_arrow {
    left: -7px;
    position: absolute;
    top: 9px;
}
.user_profile .content .profile_content .working_comments .comments textarea{
	border:1px solid #eaeaea;
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	background:#ffffff;
	padding:9px;
	font-size:12px;
	color:#d8d4d4;
	font-weight:400;
	height:42px;
}
.user_profile .content .profile_content .working_comments .comments .upload_section{
	margin-top:15px;
	display:none;
}
.user_profile .content .profile_content .working_comments .comments .upload_section .post_list{
	float:left;
	width:45%;
}
.user_profile .content .profile_content .working_comments .comments .upload_section .post_list .option_btn{
	border:1px solid #cccccc;
	padding:4px 10px;
	background:#fff url(../images/select_arrow.png) no-repeat 97% center;
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	padding-right:27px;
	color:#4f4e53;
	margin-top:0px;
	display:block;
}
.user_profile .content .profile_content .working_comments .comments .upload_section .post_list .option_box {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #cccccc;
    position: absolute;
    width: 228px;
	display:none;
}
.user_profile .content .profile_content .working_comments .comments .upload_section .post_list .option_box .option_list{
	padding:4px;
	padding-left:15px;
	cursor:pointer;
}
.user_profile .content .profile_content .working_comments .comments .upload_section .post_list .option_box .option_list+.option_list{
	border-top:1px solid #cccccc;
}
.user_profile .content .profile_content .working_comments .comments .upload_section .post_list .option_box .option_list .title{
	font-size:13px;
	font-weight:500;	
}
.user_profile .content .profile_content .working_comments .comments .upload_section .post_list .option_box .option_list .dis{
	font-size:12px;
}
.user_profile .content .profile_content .working_comments .comments .upload_section .post_btns{
	float:right;
}
.user_profile .content .profile_content .working_comments .comments .upload_section .post_btns a{
	font-size:14px;
	color:#4e4f53;
	display:inline-block;
	margin-right:10px;
}
.user_profile .content .profile_content .working_comments .comments .upload_section .post_btns a i {
    color: #4e4f53;
    font-size: 14px;
	margin-right:8px;
}
.user_profile .content .profile_content .working_comments .comments .upload_section .post_btns input[type="submit"]{
	font-weight:400;
	font-size:14px;	
}
.profile_border_box{
	border:1px solid #ededed;
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	background:#fff;
	padding:15px;
	margin-bottom:14px;
	margin-top:14px;
}
.profile_border_box .casting_box{
	background:#ececec;
	transition:background linear .2s;
	-moz-transition:background linear .2s;
	-ms-transition:background linear .2s;
	-o-transition:background linear .2s;
	-webkit-transition:background linear .2s;
}
.profile_border_box .casting_box:hover{
	
}
.profile_border_box .casting_box+.casting_box{
	border-top:1px solid #ffffff;	
}
.profile_border_box .casting_box:hover{
	background:#fff;	
}
.profile_border_box .casting_box:nth-child(odd){
	background:#f5f4f4;	
}
.profile_border_box .casting_box .image{
	float:left;
	width:79px;
	margin:10px;
}
.profile_border_box .casting_box .text{
	float:left;
	font-size:14px;
	margin-left:16px;
	width:76%;
	margin:10px 0px;
	margin-left:6px;
}
.profile_border_box .casting_box .link{
	float:right;
	width:25px;
	background:#afb420;
	text-align:center;
	vertical-align:middle;
}
.profile_border_box .casting_box .link a{
	display:block;	
	height:100px;
	box-sizing:border-box;
	padding-top:35px;
	color:#fff;
}
.profile_border_box .casting_box .text h5{
	font-size:14px;
	color:#4e4f53;
	font-weight:500;
	margin-bottom:2px;	
}
.profile_border_box .casting_box .text .name{
	font-size:12px;
	color:#ff9e05;
	margin-bottom:2px;
	line-height:18px;	
}
.profile_border_box .casting_box .text .sex{
	line-height:18px;
	margin-bottom:2px;	
}
.profile_border_box .casting_box .text .name span{
	color:#afb420;
}	
.profile_border_box .casting_box .text .dates{
	font-size:12px;
	color:#4e4f53;
	margin-bottom:0px;
}
.profile_border_box .casting_box .text .dates span{
	display:inline-block;	
}
.profile_border_box .casting_box .text .dates span i{
	margin-right:5px;	
}
.profile_border_box .casting_box .text .dates span.loc{
	margin-left:16px;
}	
.profile_border_box .casting_box .text .dates span.date i{
	color:#bcbcbc;
	font-size:14px;
}
.profile_border_box .casting_box .text .dates span.loc i{
	color:#afb420;
	font-size:16px;
}
.profile_border_box .worked_box{
	background:#ececec;
	padding:5px;
	position:relative;
	box-sizing:border-box;
	overflow:hidden;
}
.profile_border_box .worked_box+.worked_box{
	margin-top:8px;	
}
.profile_border_box .worked_box .image{
	float:left;
	width:37px;
	height:37px;
	overflow:hidden;
	border-radius:3px;
}
.profile_border_box .worked_box .text{
	float:left;
	width:91%;
	font-size:14px;
	color:#4e4f53;
	font-weight:400;
	padding-left:8px;
}
.profile_border_box .worked_box .text p{
	margin:0px;
	padding-top:6px	
}
.profile_border_box .worked_box .text p a{
	color:#4e4f53;
}
.profile_border_box .worked_box .text p.time {
    bottom: 3px;
    font-size: 10px;
    position: absolute;
    right: 10px;
    text-align: right;
	font-weight:300;
}
.profile_border_box .worked_box .text p.time span i {
    font-size: 14px;
    font-weight: lighter;
    margin-right: 6px;
    margin-top: 5px;
    vertical-align: top;
	color:#7b7c7e;
}
.profile_border_box  .session_box{
	background:#f5f4f4;
	padding:10px;
	height:54px;
	box-sizing:border-box;
}
.profile_border_box  .session_box+.session_box{
	border-top:1px solid #ffffff;	
}
.profile_border_box  .session_box:nth-child(odd){
	background:#f8f7f7;	
}
.profile_border_box  .session_box .text{
	float:left;
	max-width:84%;
}
.profile_border_box  .session_box .link{
	float:right;
}
.profile_border_box  .session_box .text .name{
	font-size:14px;
	font-weight:400;
	margin-bottom:0px;
	line-height:15px;
}
.profile_border_box  .session_box .text .dates{
	font-size:12px;
	color:#4e4f53;
	margin-bottom:0px;
}
.profile_border_box  .session_box .text .dates span{
	display:inline-block;	
}
.profile_border_box  .session_box .text .dates span i{
	margin-right:5px;	
}
.profile_border_box  .session_box .text .dates span.loc{
	margin-left:16px;
}	
.profile_border_box  .session_box .text .dates span.date i{
	color:#bcbcbc;
	font-size:14px;
}
.profile_border_box  .session_box .text .dates span.loc i{
	color:#afb420;
	font-size:16px;
}
.profile_border_box  .session_box .link a{
	display:inline-block;
	font-size:14px;
	color:#ffffff;
	font-weight:400;
	background:#afb420;
	padding:6px 14px;	
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	transition:background linear .2s;
	-moz-transition:background linear .2s;
	-ms-transition:background linear .2s;
	-o-transition:background linear .2s;
	-webkit-transition:background linear .2s;
}
.profile_border_box  .session_box .link a:hover{
	background:#4e4f53;	
}

::-webkit-input-placeholder {
   opacity:  1;
}
:-moz-placeholder { 
   opacity:  1;
}
::-moz-placeholder { 
   opacity:  1;
}
:-ms-input-placeholder { 
   opacity:  1;
}

/*-------------------*/
.user_profile .sidebar .search_box{
	margin-bottom:14px;
}
.user_profile .sidebar .search_box input[type="text"]{
	border:1px solid #e1e0e0;
	color:#9b9b9b;
	font-size:14px;	
	border-radius:1px;	
	-moz-border-radius:1px;	
	-ms-border-radius:1px;	
	-o-border-radius:1px;	
	-webkit-border-radius:1px;
	behavior: url(css/PIE.htc);
	padding:5px 9px;
	padding-right:35px;
	background:#fff url(../images/search_icon.png) no-repeat 96% center;
}
.user_profile .sidebar .visitors_box{
	
}
.user_profile .sidebar .visitors_box .visitor_images{
	
}
.user_profile .sidebar .visitors_box h2.heading.with_border span{
	background:#f9f9f9;	
}
.user_profile .sidebar .visitors_box .visitor_images a{
	display:inline-block;
	position:relative;
	width:32.5%;
	vertical-align:top;	
}
.user_profile .sidebar .visitors_box .visitor_images a span.thumb{
	display:block;
}
.user_profile .sidebar .visitors_box .visitor_images a span.thumb img{
	width:100%;	
}
.user_profile .sidebar .visitors_box .visitor_images a span.title{
	position:absolute;
	width:100%;
	bottom:0px;
	background:url(../images/thumb_shadow.png) repeat-x center bottom;
	height:83px;
	font-size:12px;
	color:#ffffff;
	box-sizing:border-box;
	padding-top:55px;
	font-weight:normal;
	text-align:center;
	line-height:12px;
}
.user_profile .sidebar .reviews h2{
	border-bottom:1px solid #ececec;
	padding-bottom:8px;
	margin-bottom:8px;
}
.user_profile .sidebar .reviews .review_box{
	border-bottom:1px solid #ececec;
	padding-bottom:4px;
	margin-bottom:6px;
}
.user_profile .sidebar .reviews .review_box .thumb{
	float:left;
	width:62px;
}
.user_profile .sidebar .reviews .review_box .text{
	font-size:14px;
	color:#4e4f53;
	font-weight:400;
	margin-left:76px;
	margin-bottom:7px;
}
.user_profile .sidebar .reviews .review_box .text .review{
	margin-bottom:0px;
	line-height:17px;
}
.user_profile .sidebar .reviews .review_box .text .posted{
	font-size:11px;
	color:#afb420;
	margin-bottom:0px;
}
.user_profile .sidebar .reviews .review_box .text .posted span{
	color:#4e4f53;	
}
.user_profile .sidebar .reviews .review_box .rating_box{
	width:68px;
	display:inline-block;
	vertical-align:top;
	position:relative;
	background:url(../images/rating_star_white.png) no-repeat left top;
	height:11px;
}
.user_profile .sidebar .reviews .review_box .rating_box .rating_yellow{
	background:url(../images/rating_star_yellow.png) no-repeat left top;
	height:11px;
	position:absolute;
	left:0px;
	top:0px;
}
.user_profile .sidebar .reviews .review_box .time{
	display:inline-block;
	vertical-align:top;
	font-size:10px;
	color:#4e4f53;
	margin-left:10px;
}
.user_profile .sidebar .reviews .review_box .time i {
    font-size: 14px;
    margin-right: 4px;
    margin-top: 0;
    vertical-align: top;
	color:#7b7c7e;
}
.user_profile .sidebar .reviews .seemore{
	color: #4e4f53;
    font-size: 13px;
    font-weight: 300;
}
.user_profile .sidebar .reviews .seemore i {
    font-size: 10px;
    margin-left: 3px;
    margin-top: 8px;
    vertical-align: top;
}
.user_profile .sidebar .reviews .seemore:hover{
	color:#ff9e05;	
}
.countryTimeZone{
	font-size:11px;
	text-transform:none;
	color:#444;
	font-weight:400;
	text-align:right;
	padding-bottom:10px;
	vertical-align:central;
}
.curTm{
	display:inline-block;
}
.countryTimeZone span{
	display:inline-block;
	width:15px;
	height:15px;
	overflow:hidden;
	border-radius::50%;
	margin-right:5px;
	margin-bottom:-2px;
}
.countryTimeZone span img{
	max-width:100%;
}
.countryTimeZone .myCountry{
	text-transform:capitalize;
}
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}
/*--------------------------*/
@media only screen and  (max-width:1200px){
	.top_section .main_nav .main_manu{
		display:none;	
	}
	.top_section .main_nav .mob_btn{
		display:block;
	}
	.top_section .main_nav ul.main_manu{
		background:#4e4f53;
		padding:2px;
		min-width:150px;
		position:absolute;
		z-index:99999;
	}
	.top_section .main_nav ul.main_manu li{
		display:block;	
	}
	.top_section .main_nav ul.main_manu li a{
		display:block;
		text-transform:none;
		padding:2px 19px;
		color:#fff;	
		border-radius:0px;	
		-moz-border-radius:0px;	
		-ms-border-radius:0px;	
		-o-border-radius:0px;	
		-webkit-border-radius:0px;
		behavior: url(css/PIE.htc);
	}
	.top_section .main_nav ul.main_manu li:hover > a{
		background:#e3e3e3;	
		color:#000000;
	}
	.top_section .main_nav ul li ul,.top_section .main_nav ul li ul li ul {
		position:relative;
		margin-left:10px;
		display:block;
		margin-top:0px;
	}
	.top_section .main_nav ul li ul li ul{
		margin-left:18px;
		margin-top:0px;	
	}
	.top_section .main_nav ul li.menu_drop:hover > a{
		border-radius:0px;	
		-moz-border-radius:0px;	
		-ms-border-radius:0px;	
		-o-border-radius:0px;	
		-webkit-border-radius:0px;
		behavior: url(css/PIE.htc);
	}
}
@media only screen and (min-width:992px) and (max-width:1200px){
	
	.top_section  .nav_signup_margin{
		margin-top:25px;
	}
	.user_profile .content{
		float:none;
		width:auto;
	}
	.user_profile .sidebar{
		float:none;
		width:auto;
		margin-top:20px;
	}
	.user_profile .content .profile_content {
		float: right;
		width: 670px;
	}	

}
@media only screen and (min-width:769px) and (max-width:992px){
	.top_section  .nav_signup_margin{
		margin-top:25px;
	}
	.user_profile .content{
		float:none;
		width:auto;
	}
	.user_profile .sidebar{
		float:none;
		width:auto;
		margin-top:20px;
	}	
	.user_profile .content .profile_box{
		width:auto;
		float:none;	
	}
	.user_profile .content .profile_content{
		width:auto;
		float:none;	
	}

}
@media only screen  and (max-width:769px){
	.top_section .logo{
		text-align:center;	
	}
	.top_section .logo{
		padding-right:15px;
	}.top_section  .nav_signup_margin{
		margin-top:15px;
	}
	.top_section .login_signup{
		width:230px;
		margin:0px auto;
		float:none;
		text-align:center;
		position:relative;
	}	
	.top_section .login_signup .signup_box{
		right:-48px;	
	}
	.top_section .login_signup .signup_box .signup_box_arrow{
		left:110px;
		text-align:left;
	}	
	.top_section .login_signup .signup_box .signup_box_arrow{
		left:110px;
		text-align:left;
	}	
	.top_section .login_signup .signup_box.login_box .signup_box_arrow{
		text-align:right;
		right:90px;
		left:auto;	
	}
	.top_section{
		background:rgba(227,227,227,.9);
	}
	/*------------*/
	.mob_menu_nav a.mob_btn{
		margin-top:32px;
		display:inline-block;
	}
	.mob_menu_nav  ul.main_manu{
		background:#4e4f53;
		padding:2px;
		min-width:191px;
		position:absolute;
		z-index:99999;
		left:-46px;
		display:none;
		text-align:left;
	}
	.mob_menu_nav ul.main_manu li{
		display:block;	
	}
	.mob_menu_nav ul.main_manu li a{
		display:block;
		text-transform:none;
		padding:2px 19px;
		color:#fff;	
		border-radius:0px;	
		-moz-border-radius:0px;	
		-ms-border-radius:0px;	
		-o-border-radius:0px;	
		-webkit-border-radius:0px;
		behavior: url(css/PIE.htc);
	}
	.mob_menu_nav ul.main_manu li:hover > a{
		background:#e3e3e3;	
		color:#000000;
	}
	..mob_menu_nav ul li ul,.mob_menu_nav ul li ul li ul {
		position:relative;
		margin-left:10px;
		display:block;
	}
	.mob_menu_nav ul li ul li ul{
		margin-left:18px;
		margin-top:0px;	
	}
	.mob_none{
		display:none !important;	
	}
	.mob_dis{
		display:block !important;	
	}
	/*---------------*/
	
	.profile_border_box .casting_box .text{
		width:67%;
	}	
	.user_profile .content{
		float:none;
		width:auto;
	}
	.user_profile .sidebar{
		float:none;
		width:auto;
		margin-top:20px;
	}	
	.user_profile .content .profile_box{
		width:auto;
		float:none;	
	}
	.user_profile .content .profile_content{
		width:auto;
		float:none;	
	}
}
@media only screen  and (max-width:500px){
	
	.top_image_or_video{
		display:none;	
	}
}
@media only screen  and (max-width:340px){
	
	.top_section .login_signup .signup_box{
		width:100%;
		min-width:100px;
		right:0px;	
	}
	.top_section .login_signup .signup_box .signup_box_arrow{
		left:48px;
	}	
	.top_section .login_signup .signup_box.login_box .signup_box_arrow{
		right:48px;	
	}
	.popup_box .login_table .tr .field {
		float: left;
		width: 65%;
	}
	.popup_box .login_table .forgot .forgot_pass,.popup_box .login_table .forgot .forgot_pass+.forgot_pass{
		float:none;
		text-align:center;
	}
}
@media only screen  and (max-width:560px){


.user_profile .content .profile_content .profile_completion .profile_graph .graph,
.user_profile .content .profile_content .profile_completion .profile_graph .percentage{
	width:auto;
	float:none;
	text-align:center;	
}
.user_profile .content .profile_content .profile_completion .profile_graph{
	float:none;
	width:auto;
	text-align:center;
}
.user_profile .content .profile_content .profile_completion .profile_tips{
	float:none;
	width:auto;
	text-align:center;
}	
.user_profile .content .profile_content .rank_follw_box .follow_box,
.user_profile .content .profile_content .rank_follw_box .follow_box.ranking,
.user_profile .content .profile_content .rank_follw_box .request{
	width:auto;
	float:none;	
	border-radius:0px;	
	-moz-border-radius:0px;	
	-ms-border-radius:0px;	
	-o-border-radius:0px;	
	-webkit-border-radius:0px;
}
.user_profile .content .profile_content .rank_follw_box .request{
	text-align:center;	
}
.user_profile .content .profile_content .rank_follw_box .notification{
	float:none;
	margin:0px auto;
}
	
}
@media only screen  and (max-width:490px){
.profile_border_box .casting_box{
	padding:10px;	
}
.profile_border_box .casting_box .image{
	float:none;	
}
.profile_border_box .casting_box .text{
	float:none;
	width:auto;	
}
.profile_border_box .casting_box .link{
	display:none;	
}
.profile_border_box .casting_box .text .dates span{
	display:block;
	margin:0px;	
}
.profile_border_box .casting_box .text .dates span.loc{
	margin-left:0px;	
}
.profile_border_box .worked_box{
	height:auto;
	padding-bottom:28px;	
}
.profile_border_box .worked_box .image{
	float:none;	
}
.profile_border_box .worked_box .text{
	float:none;
	width:auto;	
}
.profile_border_box  .session_box{
	height:auto;	
}
.profile_border_box  .session_box .text{
	float:none;
}
.profile_border_box  .session_box .link{
	float:none;
	text-align:right;
}
.profile_border_box  .session_box .text .dates span{
	display:block;
	margin-top:10px;	
}
.profile_border_box  .session_box .text .dates span.loc{
	margin-left:0px;	
}
.user_profile .sidebar .visitors_box .visitor_images a{
	display:block;
	width:100%;	
}
.user_profile .content .profile_content .working_comments .comments .upload_section .post_list{
	float:none;
	width:auto;
}
.user_profile .content .profile_content .working_comments .comments .upload_section .post_btns{
	float:none;
	width:auto;
	margin-top:15px;
}
}


/*------------*/
.user_login .dropdown_option{
	border:1px solid #cbcaca;
	background:#fff;
	width:220px;
	box-sizing:border-box;
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	behavior: url(css/PIE.htc);
	padding:10px;
	position:absolute;
	z-index:999;
	right:0px;
	margin-top:5px;
	margin-right:15px;
	display:none;
	text-align:right;
}
.user_login .dropdown_option .arrow {
    position: absolute;
    right: 7px;
    top: -15px;
}
.user_login .dropdown_option a{
	font-size:13px;
	color:#4e4f53;
	background:none;
	display:block;
	padding:0;
	margint:0;
	font-weight:400;
	text-transform:capitalize;
}
.user_login .dropdown_option a+a{
	margin-top:5px;
}
.user_login .dropdown_option a:hover{
	color:#ff9e05;	
	background:none;
}
