@charset "UTF-8";
/* CSS Document */
.top_section{
	background:#ededed;
}
.loadGame{
	min-height:600px;
	background:#000;
}
.pagination_box_jobs {
	position:relative;
	margin-bottom:9px;
}
.pagination_box_jobs .jobs_search{
	font-size:15px;
	font-weight:600;
	color:#000;
	display:inline-block;
	margin-top:5px;
}
.pagination_box_jobs .result_job{
	font-size:12px;
	color:#606060;
}

.tab_white_most_wanted{
	width:100%;
	height:auto;
	background:#fff;
	margin-bottom:15px;
	border-radius:3px;
	height:auto;
}
.games-top{
	width:100%;
	height:auto;
	background:#f4f4f4;
	border-bottom:1px solid #ccc;
}
.main-banner-games{
	padding:10px;
	border-bottom:1px solid #ccc;
}
.main-banner-games h3{
	font-size:16px;
	font-weight:400;
	color:#535457;
	margin:0 0 5px;
	float:left;
}
.loadGame{
	margin:10px 0px;
}
.show_rate_result{
	display:none;
}
.has-spinner{
	padding:5px 10px;
}
.like a{
	background: #ff9e05 none repeat scroll 0 0;
	border-radius: 2px;
	color: #ffffff;
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	padding: 3px 8px 3px 10px;
	transition: background 0.2s linear 0s;
}
.rate-ex2-cnt {
  margin: 4px -2px 4px 12px;
  width: 80px;
}
.desc-head-game{
	margin-left:50px;
}
.desc-head-main h5{
	font-size:14px;
	margin:0px;
	font-weight:bold;
}
.subhead-game p{
	margin:0px;
	font-size:12px;
}
#newone .modal-header{
	background:#f8f7f7;
	border-bottom:0px;
}
#newone .modal-content{
	overflow:hidden;
}
.game-details_sec {
  margin-top: 5px;
}
.game-img{
	width:63px;
	height:63px;
	overflow:hidden;
	float:left;
}
.game-desc{
	float:left;
	margin-left:10px;
	width: 83%;
}
.game-desc h4{
	color:#272729;
	font-size:16px;
	font-weight:500;
	margin-bottom:2px;
}
.game-desc p{
	font-size:13px;
	color:#272729;
	margin-bottom:0px;
}
.game-desc p span{
	display:inline-block;
	margin-right:10px;
	color:#272729;
}
.game-desc p span i{
	margin-right:3px;
	color:#959494;
}
.game-desc h5{
	font-size:14px;
	margin:0px;
	font-weight:400;
	color:#afb420;
	margin-top:10px;
}
.game-desc p{
	font-size:12px;
	margin-bottom:0px;
	line-height:18px;
}
.game-desc a{
	text-decoration:none;
	color:#ff9e05;
}
#newone .modal-body{
	padding:10px 15px;
}
.screenshots_container {
  height: 210px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.img-scroll-sec {
  height: 206px;
  width: 1260px;
}
.img-scroll-sec ul li{
	width:300px;
	height:193px;
	overflow:hidden;
	border-radius:3px;
	display:inline-block;
}
.img-scroll-sec ul li img{
	width:100%;
	min-height:100%;
}
.img-scroll-sec ul li+li{
	margin-left:15px;
}
.play_now_game{
	margin:10px 0px;
	border:1px solid #e8e8e8;
	padding:15px;
	height:autto;
}
.play_now_game a{
	padding:10px 80px;
	text-decoration:none;
	background:#afb420;
	color:#fff;
	font-size:16px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;;
	-ms-border-radius:3px;;
	-o-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	margin-bottom:10px;
}
.play_now_game a img{
	margin-right:5px;
}
.play_now_game p{
	font-size:12px;
	line-height:18px;
	color:#7c7c7c;
	margin-bottom:5px;
}
.play_now_game span{
	font-weight:bold;
}
.privacy_reviws a{
	text-decoration:none;
	padding:0px;
	background:none;
	color:#ff9e05;
	font-size:12px;
	font-weight:normal;
	margin-bottom:10px;
}
.privacy_reviws img, {
	vertical-align:top;
	margin-right:3px;
}
.privacy_reviws a{
	margin-right:3px;
}
.bottom-a a{
	display:block;
	margin-bottom:0px;
}
.like_share a{
	font-size:12px;
	font-weight:normal;
	color:#fff;
	margin-left:10px;
	padding:5px 10px;
	border-radius:3px;
}
.like_share a i{
	margin-right:5px;
}
.like_share a:nth-of-type(1){
	background:#ff9e05;
}

.like_share a:nth-of-type(2){
	background:#3b5998;
}
.desc-games-banner{
	width:65%;
	height:auto;
	position:absolute;
	right:5px;
	display:block;
	color:#fff;
	bottom:20px;
	font-size:13px;
	z-index:91;
}
.desc-games-banner p{
	margin-bottom:0px;
	width:77%;
	display:inline-block;
	line-height:18px;
}
.desc-games-banner a{
	text-decoration:none;
	color:#fff;
	padding:6px 20px;
	font-size:16px;
	font-weight:400;
	background:#ff9e05;
	display:inline-block;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	vertical-align: calc(7px);
}
.banner_with_icon{
	width:30%;
	position:absolute;
	height:auto;
	bottom:20px;
	left:10px;
	color:#fff;
	z-index:91;
}
.banner_with_icon .img-sec-icon{
	width:35px;
	height:35px;
	display:inline-block;
	overflow:hidden;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
	vertical-align:top;
	margin-right:10px;
}
.banner_with_icon .tile_sec{
	display:inline-block;
}
.banner_with_icon .tile_sec h2{
	font-size:16px;
	font-weight:500;
	color:#fff;
	margin:0px;
}
.banner_with_icon .tile_sec p{
	margin:0px;
}
.banner_with_icon span img{
	width:100%;
	min-height:100%;
}
.selected:nth-of-type(1){
	display:block !important;
}
.bring_shadow{
	width:100%;
	height:104px;
	background:url('../images/shadowgames.png') no-repeat bottom center;
	background-size:100% auto;
	position:absolute;
	bottom:0;
	left:0;
	z-index:9;
}
.request_sec {
  display: inline-block;
}
.request_sec .request {
  margin: 0 !important;
  width: 100%;
}
.request_sec .request .likedPopUp {
  margin: 0;
  padding: 3px 8px !important;
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  color: #4E4F53;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  transition: background 0.2s linear 0s;
  border:1px solid #EDEDED;
}
.request_sec .request .likedPopUp i {
  color: #666666;
  font-size: 15px;
  margin-right: 9px;
}
.postmsgs a {
  color: #4e4f53;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
.loadLikedUserName .btn-primary {
  background: #afb420 none repeat scroll 0 0;
  border: medium none !important;
  margin: 10px;
  padding: 3px 30px ;
}
.share a {
  background: #3b5998 none repeat scroll 0 0;
  border-radius: 2px;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 8px 3px 10px;
  transition: background 0.2s linear 0s;
}
.like,.share{
	display:inline-block;
}
.like a i, .share a i {
  margin-right: 4px;
}