@charset "UTF-8";
/* CSS Document */
.top_section{
	background:#ededed;
}
.pagination_box_jobs {
	position:relative;
	margin-bottom:9px;
}
.pagination_box_jobs .jobs_search{
	font-size:15px;
	font-weight:600;
	color:#000;
	display:inline-block;
	margin-top:5px;
}
.pagination_box_jobs .result_job{
	font-size:12px;
	color:#606060;
}

.tab_white_most_wanted{
	width:100%;
	height:auto;
	background:#fff;
	border-radius:3px;
	height:auto;
}
.games-top{
	width:100%;
	height:auto;
	background:#f4f4f4;
	border-bottom:1px solid #ccc;
}
.nav-games ul li{
	display:inline-block;
	padding:13px 14px;
	line-height:24px;
}
.nav-games ul li.active{
	background:#ffffff;
}
.nav-games ul li>a{
	color:#4e4f53;
	text-decoration:none;
}
.nav-games ul li+li{
	border-left:1px solid #d3d3d3;
	-webkit-box-shadow: -1px 0px 0px 0px #fff;
	-moz-box-shadow: -1px 0px 0px 0px#fff;
	box-shadow: -1px 0px 0px 0px #fff;
}
.active-game{
	background:#fff;
}
.search_games{
	padding:8px 0px;
}
.search_games input{
	width:100%;
	border:1px solid #c2c2c2;
	color:#4e4f53;
	box-shadow:none;
	background:url('../images/search_icon.png') no-repeat 5px center #fff;
	padding-left:30px;
}
.search_games input:focus{
	box-shadow:none;
	border:1px solid #c2c2c2;
}
.search_games .form-group{
	margin-bottom:0px;
}
.search_game_btn{
	padding:0px 15px 0px 0px;
}
.search_game_btn .btn{
	width:100%;
	background:#4e4f53;
	color:#fff;
}
.less-padding-r{
	padding-right:5px;
}
.less-padding-l{
	padding-left:5px;
}

.prev a, .next a{
	text-decoration:none;
	color:#acacac;
}
.prev, .next{
	position:absolute;
	top:50%;
	margin-top:-3px;
}
.next{
	right:0;
}
.prev{
	left:0;
}
.top-category{
	width:100%;
	padding:8px 15px;
	background:#f4f4f4;
	border-bottom:1px solid #ccc;
	margin-top:10px;
}
.top-category P{
	margin-bottom:0px;
	font-weight:500;
	font-size:15px;
}
.top-category img{
	margin-right:4px;
	vertical-align:calc(-14%);
}
.game-info{
	margin-bottom:10px;
	height:50px;
	position:relative;
}
.game-info p{
	margin-bottom:0px;
	font-size:13px;
	font-weight:500;
	color:#4e4f53;
}
.game-info p a{
	color:#4e4f53;
}
.game-cat p{
	font-weight:300;
}
.rating_box{
	display:block;
}
.owl-carousel_1, .owl-carousel_2{
	background:#fff;
}
.owl-carousel_2, .owl-carousel_1{
	padding:10px;
}
.owl-carousel_1 .owl-prev, .owl-carousel_1 .owl-next, .owl-carousel_2 .owl-prev, .owl-carousel_2 .owl-next{
	position:absolute;
	padding:5px 10px;
	color:#acacac;
	margin-top:10px;
}
.owl-carousel_1 .owl-prev, .owl-carousel_2 .owl-prev{
	left:0;
	border-right:1px solid #ccc;
	-webkit-box-shadow: 1px 0px 1px 0px rgba(244,243,243,1);
	-moz-box-shadow: 1px 0px 1px 0px rgba(244,243,243,1);
	box-shadow: 1px 0px 1px 0px rgba(244,243,243,1);
}
.owl-carousel_1 .owl-next, .owl-carousel_2 .owl-next{
	right:0;
	border-left:1px solid #ccc;
	-webkit-box-shadow: -1px 0px 1px 0px rgba(244,243,243,1);
	-moz-box-shadow: -1px 0px 1px 0px rgba(244,243,243,1);
	box-shadow: -1px 0px 1px 0px rgba(244,243,243,1);
}
.bottom-sec-game{
	height:30px;
	background:#f4f4f4;
	border-bottom:1px solid #ccc;
}
.bottom-sec-game a{
	padding-top:4px;
	display:block;
	color:#4e4f53;
	font-size:13px;
	font-weight:500;
	line-height:22px;
}
.gamei{
	padding:5px;
}
.main-banner-games{
	padding:10px;
	border-bottom:1px solid #ccc;
}
#slider {
  position: relative;
  overflow: hidden;
}
#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 280px;
  list-style: none;
  overflow:hidden;
  
  -webkit-transition:1s ease-out;
  -moz-transition:1s ease-out;
  -o-transition:1s ease-out;
  -ms-transition:1s ease-out;
  transition:1s ease-out;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 819px;
  height: 280px;
  text-align: center;
}
.nex_prev{
	width:100%;
	height:90px;
	padding:10px 15px;
	position:relative;
	overflow:hidden;
}
.nex_prev ul{
	position:relative;
}
.nex_prev ul li{
	display:inline-block;
	width:80px;
	height:80px;
	padding:5px;
	position:relative;
}
.nex_prev ul li img{
	width:100%;
	min-height:100%;
}
.border{
	border:1px solid #000;
}
.game-container-inner{
	height:490px;
	overflow:hidden;
}
.img-size-thumb{
	height:122px;
	overflow:hidden;
}
.img-size-thumb img{
	min-height:100%;
}

/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/
.jssora05l, .jssora05r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url('../img/a17.png') no-repeat;
	overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }
  /* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p            (normal)
.jssort01 .p:hover      (normal mouseover)
.jssort01 .p.pav        (active)
.jssort01 .p.pdn        (mousedown)
*/

.jssort01 {
	position: absolute;
	/* size of thumbnail navigator container */
	width: 800px;
	height: 45px !important;
	bottom:0px !important;
}


.jssort01 .p {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
}

.jssort01 .t {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.jssort01 .w {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.jssort01 .c {
	position: absolute;
	top: -16px;
	left: 0px;
	width: 68px;
	height: 10px;
	box-sizing: content-box;
	background: url('../images/ar.png') center top no-repeat;
	_background: none;
	display:none;
}

.jssort01 .pav .c {
	top: -16px;
	_top: -15px;
	left: 2px;
	_left: 0px;
	width: 68px;
	height: 10px;
   display:block;
}

.jssort01 .p:hover .c {
	top: -16px;
	left: 0px;
	width: 70px;
	height: 10px;
   
	display:block;
}

.jssort01 .p.pdn .c {
	background-position: 50% 50%;
	width: 68px;
	height: 10px;
	
}

* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
	/* ie quirks mode adjust */
	width /**/: 72px;
	height /**/: 72px;
}
.slider1_container{
	width:832px !important;
}
#slider1_container{
	background:#fff !important;
}
.desc-head-game{
	margin-left:50px;
}
.desc-head-main h5{
	font-size:14px;
	margin:0px;
	font-weight:bold;
}
.subhead-game p{
	margin:0px;
	font-size:12px;
}
#newone .modal-header{
	background:#f8f7f7;
	border-bottom:0px;
}
#newone .modal-content{
	overflow:hidden;
}
.game-details_sec {
  margin-top: 5px;
}
.game-img{
	width:63px;
	height:63px;
	overflow:hidden;
	float:left;
}
.game-desc{
	float:left;
	margin-left:10px;
	width: 83%;
}
.game-desc h4{
	color:#272729;
	font-size:16px;
	font-weight:500;
	margin-bottom:2px;
}
.game-desc p{
	font-size:13px;
	color:#272729;
	margin-bottom:0px;
}
.game-desc p span{
	display:inline-block;
	margin-right:10px;
	color:#272729;
}
.game-desc p span i{
	margin-right:3px;
	color:#959494;
}
.game-desc h5{
	font-size:14px;
	margin:0px;
	font-weight:400;
	color:#afb420;
	margin-top:10px;
}
.game-desc p{
	font-size:12px;
	margin-bottom:0px;
	line-height:18px;
}
.game-desc a{
	text-decoration:none;
	color:#ff9e05;
}
#newone .modal-body{
	padding:10px 15px;
}
.screenshots_container {
  height: 210px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.img-scroll-sec {
  height: 206px;
  width: 1260px;
}
.img-scroll-sec ul li{
	width:300px;
	height:193px;
	overflow:hidden;
	border-radius:3px;
	display:inline-block;
}
.img-scroll-sec ul li img{
	width:100%;
	min-height:100%;
}
.img-scroll-sec ul li+li{
	margin-left:15px;
}
.play_now_game{
	margin:10px 0px;
	border:1px solid #e8e8e8;
	padding:15px;
	height:autto;
}
.play_now_game a{
	padding:10px 80px;
	text-decoration:none;
	background:#afb420;
	color:#fff;
	font-size:16px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;;
	-ms-border-radius:3px;;
	-o-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	margin-bottom:10px;
}
.play_now_game a img{
	margin-right:5px;
}
.play_now_game p{
	font-size:12px;
	line-height:18px;
	color:#7c7c7c;
	margin-bottom:5px;
}
.play_now_game span{
	font-weight:bold;
}
.privacy_reviws a{
	text-decoration:none;
	padding:0px;
	background:none;
	color:#ff9e05;
	font-size:12px;
	font-weight:normal;
	margin-bottom:10px;
}
.privacy_reviws img, {
	vertical-align:top;
	margin-right:3px;
}
.privacy_reviws a{
	margin-right:3px;
}
.bottom-a a{
	display:block;
	margin-bottom:0px;
}
.like_share a{
	font-size:12px;
	font-weight:normal;
	color:#fff;
	margin-left:10px;
	padding:5px 10px;
	border-radius:3px;
}
.like_share a i{
	margin-right:5px;
}
.like_share a:nth-of-type(1){
	background:#ff9e05;
}

.like_share a:nth-of-type(2){
	background:#3b5998;
}
.desc-games-banner{
	width:65%;
	height:auto;
	position:absolute;
	right:5px;
	display:block;
	color:#fff;
	bottom:20px;
	font-size:13px;
	z-index:91;
}
.desc-games-banner p{
	margin-bottom:0px;
	width:77%;
	display:inline-block;
	line-height:18px;
}
.desc-games-banner a{
	text-decoration:none;
	color:#fff;
	padding:6px 20px;
	font-size:16px;
	font-weight:400;
	background:#ff9e05;
	display:inline-block;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	vertical-align: calc(7px);
}
.banner_with_icon{
	width:30%;
	position:absolute;
	height:auto;
	bottom:20px;
	left:10px;
	color:#fff;
	z-index:91;
}
.banner_with_icon .img-sec-icon{
	width:35px;
	height:35px;
	display:inline-block;
	overflow:hidden;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
	vertical-align:top;
	margin-right:10px;
}
.banner_with_icon .tile_sec{
	display:inline-block;
}
.banner_with_icon .tile_sec h2{
	font-size:16px;
	font-weight:500;
	color:#fff;
	margin:0px;
}
.banner_with_icon .tile_sec p{
	margin:0px;
}
.banner_with_icon span img{
	width:100%;
	min-height:100%;
}
.selected:nth-of-type(1){
	display:block !important;
}
.bring_shadow{
	width:100%;
	height:104px;
	background:url('../images/shadowgames.png') no-repeat bottom center;
	background-size:100% auto;
	position:absolute;
	bottom:0;
	left:0;
	z-index:9;
}
