/*POP UP STYLES*/
.lightBox .slider_thumb{
	position:relative;
	overflow:hidden;
}
.lightBox .slider_thumb_box{
       border-bottom: 1px solid #d7d7d7;
	   padding-bottom:10px;
	   margin-bottom:2px;
	   overflow:hidden;
}
.lightBox .slider_thumb_box ul{
	width:100% !important;
	transform:none !important;	
}
.lightBox .slider_thumb_box li {
    display: block !important;
    float: left !important;
    width:30% !important;
	margin-left:4px;
	margin-bottom:4px;
}
.lightBox .slider_thumb_box li img{
	width:100%;
}	
.lightBox .comments {
  border: 1px solid #e3e2e2;
  bottom: 77px;
  left: 0;
  position: static;
  width: 100%;
}
.lightBox .comment_shadow{
	position:relative;
}
.lightBox .drop_shasdow{
	position:absolute;
	top:-20px;
	width:100%;
	box-sizing:border-box;
	height:10px;
	background:url(../images/drop_shadow.png) repeat-x center bottom;
	height:20px;
}
.lightBox .comments a {
    background-color: #d6d6d6;
    color: #9f9e9e;
    display: block;
    font-size: 11px;
    font-weight: 500;
    padding: 2px 0;
	text-align:center;
}
.lightBox .comments .cmnt_cnt {
   /* max-height: 328px;*/
    overflow: hidden;
	position:relative;
}
.lightBox .comments .cmnt_cnt .comment {
    padding: 10px 6px;
	position:relative;
}
.lightBox .comments .cmnt_cnt .comment + .comment {
    border-top: 1px solid #fff;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
}

.lightBox .comments .comment span.prof_pic,
.lightBox .comments .comment span.commnt_content {
    display: block;
    float: left;
}
.lightBox .comments .comment span.prof_pic {
    width: 38px;
	height:38px;
	border-radius:50%;
	overflow:hidden;
}
.lightBox .comments .comment span.commnt_content{
	float:none;
	margin-left:48px;
}
.lightBox .comments .comment span.name {
    color: #4e4f53;
    font-size: 13px;
    font-weight: 500;
}
.lightBox .comments .comment span.time {
    color: #939395;
    font-size: 10px;
    font-weight: 400;
    float: right;
	padding-top:3px;
}
.lightBox .comments .comment span.text {
    color: #575757;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.lightBox .comment_box {
  bottom: 0;
  left: 0;
  padding: 12px 5px 12px 4px;
  position: absolute;
  width: 100%;
  border-top:1px solid #ccc;
  background:#fff;
}
.lightBox .comment_box .prof_thump {
  border-radius: 50%;
	float: left;
	height: 38px;
	overflow: hidden;
	width: 38px;
}
.lightBox .comment_box .prof_thump img {
    border-radius: 50px;
}
.lightBox .comment_box .post_commnt {
    float: left;
	width:84%;
}
.lightBox .comment_box .post_commnt .textarea {
    padding-left: 10px;
	position:relative;
}
.lightBox .comment_box .post_commnt .textarea .smile_icon{
	position:absolute;
	right:6px;
	top:0px;
	color:#d1cfcf;
	z-index:99;
	font-size:17px;
}
.lightBox .comment_box .post_commnt textarea {
    border: 1px solid #bec0c0;
    height: 32px;
    padding: 4px;
}
.lightBox .comment_box .post_commnt .arrow {
    margin-left: 2px;
    margin-top: 4px;
    position: absolute;
	z-index:99;
}
.lightBox .comment_box .post_commnt .textarea small {
    font-size: 10px;
	font-weight:400;
	color:#8a8b8c;
}
.lightBox .comment_box .post_commnt .cmt_submit{
	margin-top:-7px;
}
.lightBox .comment_box .post_commnt input[type="submit"] {
    font-size: 12px;
    font-weight: 400;
    padding: 1px 9px;
}


/*.cd-popup-container .left_side .slider_big_box .big_image{
	text-align:center;
	min-height:545px;
}
.cd-popup-container .left_side .slider_big_box .big_image .arrow_box a{
	position:absolute;
	top:50%;
}
.cd-popup-container .left_side .slider_big_box .big_image .arrow_box a.left_arrow{
	left:20px;
}
.cd-popup-container .left_side .slider_big_box .big_image .arrow_box a.right_arrow{
	right:20px;
}
.cd-popup-container .left_side .slider_big_box .big_image img{
	max-width:100%;
}
.cd-popup-container .left_side .slider_big_box .flex-direction-nav a{
	width:24px;
	height:40px;
}
.cd-popup-container .left_side .slider_big_box .flex-direction-nav a.flex-prev{
	background:url(../images/slider_arrow_left.png) no-repeat left top;	
}
.cd-popup-container .left_side .slider_big_box .flex-direction-nav a.flex-next{
	background:url(../images/slider_arrow_right.png) no-repeat left top;	
}
.cd-popup-container .left_side .slider_big_box li img{
	width:100%;
}
.cd-popup-container .left_side .slider_big_box li img{
	max-height:80%;
	width:auto;	
}
.cd-popup-container .left_side .share_like_box {
    background: url("../images/pro_shadow.png") repeat-x scroll center -67px / 100% 208% rgba(0, 0, 0, 0);
    bottom: 0;
    height: 93px;
    left: 0;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 43px;
    position: absolute;
    width: 100%;
	overflow:hidden;
	padding-bottom:13px;
}
.cd-popup-container .left_side .share_like_box .review_message {
    background: none repeat scroll 0 0 #afb420;
    border-radius: 2px;
    display: inline-block;
    vertical-align: top;
}
.cd-popup-container .left_side .share_like_box .like {
    display: inline-block;
    margin: 0 2px;
    vertical-align: top;
}
.cd-popup-container .left_side .share_like_box .share {
    display: inline-block;
    vertical-align: top;
}
.cd-popup-container .left_side .share_like_box .worked{
	float:right;
}
.cd-popup-container .left_side .share_like_box .review_message a {
    border-radius: 2px 0 0 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 10px 6px 14px;
   /* transition: background 0.2s linear 0s;*/
}
.cd-popup-container .left_side .share_like_box .review_message a:hover {
    background: none repeat scroll 0 0 #9ba01a;
}
.cd-popup-container .left_side .share_like_box .review_message a + a {
    background: url("../images/review_border.png") repeat-y scroll left top rgba(0, 0, 0, 0);
    border-radius: 0 2px 2px 0;
    margin-left: -4px;
}
.cd-popup-container .left_side .share_like_box .review_message a i {
    font-size: 12px;
    margin-left: 2px;
    margin-top: 4px;
    vertical-align: top;
}
.cd-popup-container .left_side .share_like_box .like a {
    background: none repeat scroll 0 0 #ff9e05;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 10px;
    /*transition: background 0.2s linear 0s;*/
}
.cd-popup-container .left_side .share_like_box .like a:hover {
    background: none repeat scroll 0 0 #dc8803;
}
.cd-popup-container .left_side .share_like_box .like a.liked i,.cd-popup-container .left_side .share_like_box .like a.liked {
    color: #a06201;
}
.cd-popup-container .left_side .share_like_box .share a {
    background: none repeat scroll 0 0 #3b5998;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 10px;
    /*transition: background 0.2s linear 0s;*/
}
.cd-popup-container .left_side .share_like_box .share a:hover {
    background: none repeat scroll 0 0 #204490;
}
.cd-popup-container .left_side .share_like_box .like a i, .cd-popup-container .left_side .share_like_box .share a i ,.cd-popup-container .left_side .share_like_box .worked a i{
    margin-right: 6px;
    margin-top: 2px;
    vertical-align: top;
}
.cd-popup-container .left_side .share_like_box .worked a{
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 2px;
    color: #787777;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 10px;
    /*transition: background 0.2s linear 0s;*/
	border:1px solid #cdc2b1;
}
.cd-popup-container .left_side .share_like_box .worked a:hover{
	background:#4e4f53;
	color:#fff;
	border-color:#4e4f53;
}*/
.close_popup {
  background: #f5f5f5 none repeat scroll 0 0;
  cursor: pointer;
  padding: 2px 6px 3px 8px;
  position: absolute;
  right: 0;
  top: 0;
  z-index:2;
  border-radius:0px !important;
}
/*
.cd-popup-container .left_side .slider_big_box .prev, .cd-popup-container .left_side .slider_big_box .next {
    position: absolute;
    top: 47%;
}
.cd-popup-container .left_side .slider_big_box .next {
    right: 5%;
}
.cd-popup-container .left_side .slider_big_box .prev {
    left: 5%;
}*/
/*POP UP STYLES ENDS*/
.ajaxloader{
	display:none;
	position:absolute;
	width:100%;
}
.comments .comment .likecom{
	color: #939395;
	font-size: 10px;
	font-weight: 400;
	padding-right:10px;
	width:50%;
	margin-top:3px;
}
.comments .comment .likecom a{
	background-color: inherit  !important;
	text-align:left;
}
.comments .comment .likecom  a.liked{
	color:#ff9e05;
}
.deletComment{
	padding: 7px;
	position: absolute;
	right: 5px;
	top: 0;
	opacity:0.2;
}
.deletComment a{
	background-color: inherit  !important;
	color:#4e4f53;
	font-size:16px;
}
.imgUserBox{
	overflow:hidden;
	padding:10px;
}
.imgUserBox .prof_pic{
	border-radius: 50%;
	height: 38px;
	overflow: hidden;
	width: 38px;
	display:block;
	float:left;
}
.imgUserBox .commnt_content{
	float:left;
	margin-left:10px;
	width:80%;
}
.imgUserBox span.name{
	color: #4E4F53;
	font-size: 13px;
	font-weight: 600;	
}
.imgUserBox span.text{
	color:#4E4F53;
	display: block;
	font-size: 11px;
	font-weight: 400;
	line-height: 16px;
}
.imgUserBox span.likestr{
	font-size: 12px;
	color: #575757;
}
a.delPopImg{
	color:#4e4f56;
}
a.delPopImg:hover{
	color:#ff9e05;
}
#img_pop_form label{
	font-size:12px;
	margin-right:2px;
}
#img_pop_form #img_descr{
	font-size:12px;
}
.delPopImg{
	font-size:11px;
	font-weight:bold;
	color:#aaa;
}
#post_img_descr{
	text-transform:capitalize;
	font-weight:bold;
}
.lightBox .readP{
 margin-bottom:0px !important;
}
.lightBox .readP .readMore{
 color:#9BA01A;
}