.top_section .logo_nav_section{
	background:none !important;
}
.top_section .banner_section{
	margin-bottom:15px;
	background:none !important;
}
.top_section .banner_section h1{
	font-size:30px;
	color:#4e4f53;
	font-weight:100;
	margin-bottom:4px;	
}
.top_section .banner_section h2{
	font-size:14px;
	color:#000000;
	margin-bottom:40px;	
}
.top_section .banner_section .banner_btn{
	display:inline-block;
	vertical-align:top;
	font-size:20px;
	color:#ffffff;
	background:#4e4f53;
	padding:8px 26px;
	border-radius:3px;	
	-moz-border-radius:3px;	
	-ms-border-radius:3px;	
	-o-border-radius:3px;	
	-webkit-border-radius:3px;
	font-weight:100;
	transition:background linear .2s;
	-moz-transition:background linear .2s;
	-ms-transition:background linear .2s;
	-o-transition:background linear .2s;
	-webkit-transition:background linear .2s;
	behavior: url(css/PIE.htc);
}
.top_section .banner_section .banner_btn:hover{
	background:#1c1d1e;	
}
.top_section .banner_section .banner_btn+.banner_btn{
	margin-left:5px;
}	
.top_section .banner_section .banner_cnt{
	margin-top:40px;
	margin-bottom:52px;
}
/*------------------------------*/

.top_section .banner_section .featured_members_slider{
	position:relative;
	text-align:center;
	margin-left:-9px;
}
.top_section .banner_section .featured_members_slider a{
	display:block;	
}
.top_section .banner_section .featured_members_slider span.image{
	display:block;
	margin-bottom:10px;
	background:#c8c8c8;
	padding-top:15px;
}
.top_section .banner_section .featured_members_slider span.title{
	display:block;
}
.top_section .banner_section .featured_members_slider span.title h4{
	font-size:14px;
	font-weight:400;	
}
.top_section .banner_section .featured_members_slider span.image img{
	box-shadow:0px 0px 9px #a4a4a4;
	-moz-box-shadow:0px 0px 9px #a4a4a4;
	-ms-box-shadow:0px 0px 9px #a4a4a4;
	-o-box-shadow:0px 0px 9px #a4a4a4;
	-webkit-box-shadow:0px 0px 9px #a4a4a4;
	width:100%;
	transition:opacity ease-in-out .2s;
	-moz-transition:opacity ease-in-out .2s;
	-ms-transition:opacity ease-in-out .2s;
	-o-transition:opacity ease-in-out .2s;
	-webkit-transition:opacity ease-in-out .2s;
	behavior: url(css/PIE.htc);
}
.top_section .banner_section .featured_members_slider span.image img:hover{
	box-shadow:inset 0px 0px 9px #a4a4a4;
	-moz-box-shadow: inset 0px 0px 9px #a4a4a4;
	-ms-box-shadow:inset0px 0px 9px #a4a4a4;
	-o-box-shadow:inset0px 0px 9px #a4a4a4;
	-webkit-box-shadow:inset 0px 0px 9px #a4a4a4;
	opacity:.6;
	behavior: url(css/PIE.htc);
}
.top_section .banner_section  .owl-pagination{
	
}
.top_section .banner_section   .owl-controls .owl-page{
	display:inline-block;
	background:#fff;
	border:1px solid #e3e3e3;
	width:10px;
	height:10px;
	border-radius:600px;
	-moz-border-radius:600px;
	-ms-border-radius:600px;
	-o-border-radius:600px;
	-webkit-border-radius:600px;
	margin:0px 5px;
	behavior: url(css/PIE.htc);
}
.top_section .banner_section  .owl-controls .owl-page.active{
	background:#4e4f53;
	border-color:#4e4f53;	
}
/*----------------------------*/

.top_section .banner_section .models{

}
.top_section .banner_section .models h4{
	border-bottom:1px solid #cfcfd0;
	padding-bottom:11px;
	margin-bottom:8px;	
}
.top_section .banner_section .social_icons{

}
.top_section .banner_section .social_icons h4{
	margin-bottom:10px;	
}
.top_section .banner_section .social_icons a{
	display:inline-block;
	width:50px;
	height:50px;
	margin-bottom:6px;
	border-radius:2px;	
}
.top_section .banner_section .social_icons a+a{
	margin-left:5px;	
}
.top_section .banner_section .social_icons a.facebook,
.top_section .banner_section .social_icons a.twitter,
.top_section .banner_section .social_icons a.youtube,
.top_section .banner_section .social_icons a.google_plus,
.top_section .banner_section .social_icons a.pintrest,
.top_section .banner_section .social_icons a.instagram{
	background-position:0px 0px;
	transition:background-position linear .2s;
	-moz-transition:background-position linear .2s;
	-ms-transition:background-position linear .2s;
	-o-transition:background-position linear .2s;
	-webkit-transition:background-position linear .2s;
	background-size:100%;
}


.top_section .banner_section .social_icons a.facebook{
	background-image:url(../images/facebook.png);
}
.top_section .banner_section .social_icons a.twitter{
	background-image:url(../images/twitter.png);
}
.top_section .banner_section .social_icons a.youtube{
	background-image:url(../images/youtube.png);
}
.top_section .banner_section .social_icons a.google_plus{
	background-image:url(../images/google_plus.png);
}
.top_section .banner_section .social_icons a.pintrest{
	background-image:url(../images/pintrest.png);
}
.top_section .banner_section .social_icons a.instagram{
	background-image:url(../images/instagram.png);
}
/*---*/
.top_section .banner_section .social_icons a.facebook:hover{
	background-position:0px -50px;
}
.top_section .banner_section .social_icons a.twitter:hover{
	background-position:0px -50px;
}
.top_section .banner_section .social_icons a.youtube:hover{
	background-position:0px -50px;
}
.top_section .banner_section .social_icons a.google_plus:hover{
	background-position:0px -50px;
}
.top_section .banner_section .social_icons a.pintrest:hover{
	background-position:0px -50px;
}
.top_section .banner_section .social_icons a.instagram:hover{
	background-position:0px -50px;
}
.top_section .banner_section .models .model_thumbs{
	
}
.top_section .banner_section .models .model_thumbs a{
	display:block;
	float:left;
	width:20%;	
}
.top_section .banner_section .models .model_thumbs a img{
	opacity:1;	
	transition:opacity linear .2s;
	-moz-transition:opacity linear .2s;
	-ms-transition:opacity linear .2s;
	-o-transition:opacity linear .2s;
	-webkit-transition:opacity linear .2s;
	width:100%;
}
.top_section .banner_section .models .model_thumbs a:hover > img{
	opacity:.6;	
}
.top_section .banner_section .social_icons .border{
	background:url(../images/border.jpg) repeat-x center center;
	text-align:center;
	margin-top:15px;
}
.top_section .banner_section .social_icons .border span{
	background:#fff;
	padding:0px 10px;	
}
.top_section .banner_section .models .border{
	text-align:right;
	/*margin-top:14px;
	margin-bottom:5px;*/
}
.top_section .banner_section .models .border span{
	padding:0px 10px;
	display:inline-block;
	padding-right:0px;	
}
.top_section .banner_section .models .border span a{
	/*background-image:url(../images/view_arrow.png);
	background-repeat:no-repeat;
	background-position:right 0px;*/
	padding-right:0px;
	display:inline-block;
	color:#4e4f53;
	font-size:13px;
	width:auto;
	transition:background-position linear .2s;
	-moz-transition:background-position linear .2s;
	-ms-transition:background-position linear .2s;
	-o-transition:background-position linear .2s;
	-webkit-transition:background-position linear .2s;
}
.top_section .banner_section .models .border span a i {
    font-size: 10px;
    margin-left: 5px;
    margin-top: 6px;
    vertical-align: top;
}
.top_section .banner_section .models .border span a:hover{
	/*background-position:right -19px;	*/
	color:#ff9e05;
}
.index-page{
	background:none !important;
}
/*----------------------*/
.community_section{
	background:#f7f7f7;
	overflow:hidden;
	margin-bottom:0px;
	position:relative;
	z-index:3;
}
.community_section .community_img_bg {
    left: -359px;
    position: absolute;
}
.community_section .head{
	background:url(../images/community_head_bg.png) no-repeat left top;
	padding-left:58px;
	margin-bottom:20px;
}
.community_section .head h4{
	display:inline-block;
	background:#4e4f53;
	padding:15px;
	margin:0px;
	color:#fff;
	height:56px;
}
.community_section .view_all{
	/*background-image:url(../images/view_arrow.png);
	background-repeat:no-repeat;
	background-position:right 0px;*/
	padding-right:0px;
	display:inline-block;
	color:#4e4f53;
	font-size:14px;
	margin-top:19px;
	margin-bottom:10px;
	/*transition:color linear .2s;
	-moz-transition:color linear .2s;
	-ms-transition:color linear .2s;
	-o-transition:color linear .2s;
	-webkit-transition:color linear .2s;*/
}

.community_section .view_all i {
    font-size: 10px;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
}
.community_section .view_all:hover{
	/*background-position:right -19px;	*/
	color:#ff9e05;
}
.community_section .community_box{
	background:#ffffff;
	padding:10px;
	position:relative;
	margin-bottom:65px;
	transition:box-shadow linear .2s;
	-moz-transition:box-shadow linear .2s;
	-ms-transition:box-shadow linear .2s;
	-o-transition:box-shadow linear .2s;
	-webkit-transition:box-shadow linear .2s;	
}
.community_section .community_box:hover{
	box-shadow:0px 0px 8px  #d6d6d6;	
	-moz-box-shadow:0px 0px 8px  #d6d6d6;	
	-ms-box-shadow:0px 0px 8px  #d6d6d6;	
	-o-box-shadow:0px 0px 8px  #d6d6d6;	
	-webkit-box-shadow:0px 0px 8px  #d6d6d6;	
}
.community_section .community_box .discription{
	padding-bottom:5px;
	font-style:italic;
	font-weight:400;
	line-height:20px;
	font-size:13px;
}
.community_section .community_box  .name{
	font-weight:500;
	margin-bottom:0px;
	line-height:18px;
	padding-left:6px;
}
.community_section .community_box  .position{
	margin-bottom:0px;
	line-height:18px;
	font-weight:400;
	padding-left:6px;
	font-size:11px;
}
.community_section .community_box .image{
	width:90px;
	height:90px;
	right:20px;
	bottom:-20px;
	position:absolute;
	transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
}	
.community_section .community_box:hover > .image{
    transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
    -webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
    -moz-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
    -o-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
    -ms-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
}

.community_section .community_box .image img{
	border-radius:300px;	
	-moz-border-radius:300px;	
	-ms-border-radius:300px;	
	-o-border-radius:300px;	
	-webkit-border-radius:300px;
	behavior: url(css/PIE.htc);
	
}
.community_section .community_box .arrow_community {
    bottom: -14px;
    left: 21px;
    position: absolute;
}
.community_section .padding_left{
	padding-left:88px;
}
.community_bg_box{
	background:url(../images/community_bg_box.png) no-repeat left top;	
}
.community_box i{
	margin-right:10px;
	margin-left:3px;
}

/*--------------------------*/
@media only screen and  (max-width:1200px){
	
	.community_section .padding_left{
		padding-left:0px;
	}
	.community_section .community_img_bg {
		left: -446px;
	}
	.top_section .banner_section .featured_members_slider{
		margin-left:0px;
	}
}
@media only screen and (min-width:992px) and (max-width:1200px){
	
	.top_section .banner_section .banner_cnt{
		
	}
	.social_media_models .model_border .social_icons a + a {
		margin-left:0px;
	}
	.top_section .banner_section .social_icons a + a {
		margin-left: 0px;
	}
}
@media only screen and (min-width:769px) and (max-width:992px){
	
	.top_section .banner_section .banner_cnt{
		text-align:center;
	}
	.top_section .banner_section h2{
		margin-bottom:14px;	
	}
	.social_media_models .model_border .models{
		float:none;
		width:auto;
		margin-bottom:30px;
	}
	.social_media_models .model_border .social_icons{
		float:none;
		width:auto;
	}
}
@media only screen  and (max-width:769px){
	
	.top_section .banner_section .banner_cnt{
		height:326px;
		text-align:center;
		display:block;	
	}
	.top_section .banner_section .banner_btn{
		margin-bottom:8px;
	}
	.top_section .banner_section h1{
		font-size:25px;	
	}
	.top_section .banner_section h2{
		font-size:20px;	
	}
	.top_section .banner_section .banner_cnt{
		height:auto;
		padding-bottom:20px;
		margin-bottom:0px;
	}	
	.featured_members h1.title{
		margin-top:0px;
		position:relative;
		z-index:0;	
	}
	.top_section .banner_section .models .border span{
		background:#e6e6e6;	
	}
	.social_media_models .model_border .models{
		float:none;
		width:auto;
		margin-bottom:30px;
	}
	.social_media_models .model_border .social_icons{
		float:none;
		width:313px;
		margin:0px auto;
	}
	.social_media_models .model_border .social_icons a + a {
		margin-left:0px;
	}
	
	
}
@media only screen  and (max-width:500px){
	.featured_members  .left_bg,.featured_members  .right_bg{
		display:none;	
	}
	.top_section .banner_section .banner_btn{
		display:block;
		text-align:center;
	}	
	.top_section .banner_section .banner_btn+.banner_btn{
		margin-left:0px;
		margin-top:10px;	
	}
	.social_media_models .model_border .models .model_thumbs a{
		width:25%;	
	}
	.community_section .head h4{
		font-size:18px;
	}
}
@media only screen  and (max-width:340px){
	.social_media_models .model_border .social_icons a.facebook, .social_media_models .model_border .social_icons a.twitter, .social_media_models .model_border .social_icons a.youtube, .social_media_models .model_border .social_icons a.google_plus, .social_media_models .model_border .social_icons a.pintrest, .social_media_models .model_border .social_icons a.instagram{
		background-size:100%;
		width:70px;
		height:70px;	
	}
	.community_section .head h4{
		font-size:15px;
	}
	.social_media_models .model_border .social_icons{
		float:none;
		width: auto;
		margin:0px auto;
	}
	.popup_box .login_table .tr .field {
		float: left;
		width: 65%;
	}
	.popup_box .login_table .forgot .forgot_pass,.popup_box .login_table .forgot .forgot_pass+.forgot_pass{
		float:none;
		text-align:center;
	}
}

/*------------*/
