@charset "UTF-8";
/* CSS Document */
.modal-header{
	padding:10px;
}
.likes p, .likes ul, .likes ol{
	line-height:16px !important;
}
.likes .modal-header h4{
	font-size:13px;
	font-weight:bold;
	color:#4e4f53;
}
.likes .modal-body{
	padding:0px;
	max-height:400px;
	overflow:hidden;
	position:relative;
}
.likes .modal-body ul li{
	padding:5px 10px;
	border-bottom:1px solid #f4f4f4;
}
.likes .modal-body ul li:last-child{
	border-bottom:0px;
}
.img_users_liked {
  border-radius: 100%;
  float: left;
  height: 40px;
  margin-right: 10px;
  overflow: hidden;
  width: 40px;
}
.likedPeoples a{
	display:block;
}
.likes .name_users_liked{
	display:inline-block;
}
.likes .follow-btn a {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 1%, #ebebeb 100%) repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #4e4f53;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  height: 23px;
  margin-top: 3px;
  padding: 3px 8px;
  line-height:15px;
}
.likes .follow-btn a > i {
  display: inline-block;
  line-height: 13px;
  margin-right: 3px;
}
.likes .modal-dialog{
	width:400px;
}
.likes .modal-header{
	background:#f4f4f4;
}
 .postmsgs a{
	font-size:13px;
}
.likes .modal-footer{
	margin-top:0px;
}