@charset "UTF-8";
/* CSS Document */
.top_section{
	background:#ededed;
}
.pagination_box_jobs {
	position:relative;
	margin-bottom:9px;
}
.pagination_box_jobs .jobs_search{
	font-size:15px;
	font-weight:600;
	color:#000;
	display:inline-block;
	padding-top:5px;
}
.pagination_box_jobs .result_job{
	font-size:12px;
	color:#606060;
}
.post_jobs{
	display:inline-block;
}
.post_jobs a{
	color:#4e4f53;
	font-size:13px;
	padding:5px 12px;
	background:#fff;
	border:1px solid #ccc;
	border-radius:3px;
	position:absolute;
	right:80px;
	top:0px;
	font-weight:bold;
}
.post_jobs a i{
	display:inline-block;
	margin-right:4px;
}
.content-jobs a{
	font-size:13px;
	color:#4e4f53;
}
.job-head p,.job-head p a{
	font-size:16px;
	font-weight:500;
	color:#4e4f53;
}
.info-job p{
	margin-bottom:0px;
}
.place-job i{
	color:#4e4f53;
}
.place-job p{
	font-size:12px;
	color:#afb420;
}
.minute-info{
	margin-top:10px;
}
.post-info p{
	font-size:12px;
}
.post-info input[type="submit"]{
	font-size:12px;
	padding:4px 20px;
}
.post-info input[type="submit"]:hover{
	background:#414246;
	color:#fff;
}
.dim-me{
	color:#a3a3a3;
}
.grey-sec-search .upload-help select{
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   background:url('../images/arrow-down-1.png') no-repeat 95% center #fff;
   border:1px solid #c2c2c2;
}
.grey-sec-search{
	width:100%;
	height:auto;
	background:#f4f4f4;
	border-radius:3px;
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
	padding:15px 10px;
}
.grey-sec-search .form-group{
	margin-bottom:0px;
}
.grey-sec-search  input{
	border:1px solid #c2c2c2;
	font-size:13px;
	color:#4e4f53;
}
.grey-sec-search .btn{
	width:100%;
	background:#4e4f53;
	color:#fff;
}
.marketplace{
	width:100%;
	height:auto;
	background:#fff;
	border-bottom:1px solid #9e9e9e;
	margin-bottom:10px;
	padding:15px 15px 10px;
	border-radius:3px;
}
.marketplace-image{
	width:160px;
	height:120px;
	overflow:hidden;
}
.marketplace-image img{
	width:100%;
	min-height:100%;
}
.new-width-marketplace{
	width:21.43%;
}
.new-width-marketplace-right{
	width:78.57%;
}
.marketplace_main .place-job i{
	color:#bababa;
}
.dark-me{
	color:#4e4f53;
}
.marketplace_main .post-info{
	margin-top:10px;
	padding-bottom:7px;
}
.post-info_down {
	padding-bottom:3px;
	border-bottom:1px solid #e4e4e4;
}
.post-info_down p{
	font-size:12px;
	line-height:17px;
}
.market-price {
  border: 1px solid #ccc;
  padding: 2px;
  border-radius: 30px;
  overflow:hidden;
}
.market-price a {
  background: #afb420 none repeat scroll 0 0;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  padding: 3px 25px;
  text-decoration: none;
}
a.crossOriginal{
	text-decoration:line-through;
	color:#b3b3b3;
	background:none;
	font-size:12px;
}
.actualprice{
	color:#4e4f53 !important;
	background:none !important;
	font-weight:500;
	padding:0px 10px !important;
	font-size:16px;
}
p.count_reading{
	margin-bottom:0px !important;
	text-align:right;
}
p.count_reading a{
	color:#AFB420;
}
p.count_reading a:hover{
	color:#4E4F53;
}
.place-job{
	display:inline-block;
	margin-right:20px;
}
.display-inline{
	display:inline-block;
	font-size:11px;
	font-weight:500;
	margin-right:10px;
	margin-top:3px;
	color:#a09e9e;
}
.display-inline a{
	text-decoration:none;
	color:#a09e9e;
}
.make-inline p, .make-inline .post-info{
	display:inline-block;
	margin-right:20px;
	margin-bottom:5px;
}
.requestsent{
	background:#4e4f53 !important;
}
.market-price.pull-left > a:last-child {
  margin-right: 0;
}