@import url("market-place.css");
.post-info_down{
	margin-top:10px;
}
.dark-me a{
	color:#4e4f53;
}
a.crossOriginalNone{
	color:#4e4f53;
	background:none;
	font-weight:bold;
}
.market-price a{
	margin-right:5px;
}
.has-spinner{
	padding:3px 25px 3px 10px !important;
}
.market-price {
  margin-bottom: 10px;
  margin-top: 5px;
}
.market-price a i{
	margin-right:10px;
}
.no-border-dwn{
	border-bottom:0px;
}
.request-back .modal-body{
	padding:15px;
}
.request-back .modal-footer{
	margin-top:0px;
}
.request-back .form-group{
	margin-bottom:0px;
}
.user-post-info-ad{
	margin-bottom:10px;
}
.user-post-info-ad .img-section{
	width:50px;
	height:50px;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
}
.pot-user-info{
	display:inline-block;
	margin-left:10px;
}
.pot-user-info p{
	margin-bottom:0px;
	line-height:16px;
}
.request-back label{
	font-weight:normal;
}
.request-back .modal-footer .btn-primary{
	background:#afb420 !important;
	color:#fff;
	border:0px;
	font-size:13px;
}
.request-back .modal-footer{
	padding:10px 15px;
}
.request-back .modal-header h4{
	font-size:15px;
	font-weight:400;
}
.request-back .profesn{
	font-size:12px;
}
.desc{
	margin-top:10px;
}
.inside_market{
	margin-top:12px;
	margin-left:10px;
}
.requestsentDone{
	background:#afb420 none repeat scroll 0 0 !important;
}