@charset "UTF-8";
/* CSS Document */
.top_section{
	background:#ededed;
}
.composite{
	color:#4e4f53;
	font-size:15px;
	font-weight:500;
}
.pagination_box_jobs{
	margin-bottom:16px;
	position:relative;
}
.white-compo{
	background:#fff;
	padding:20px;
	width:100%;
	height:auto;
	border-radius:3px;
	border-bottom:1px solid #ccc;
}
.message-container{
	width:100%;
	height:auto;
	border-radius:3px;
	border:1px solid #e1e0e0;
}
.message-head{
	width:100%;
	border-bottom:1px solid #e1e0e0;
	background:#f2f0f0;
}
.menu-message ul{
	transition:0.8s;
}
.menu-message ul li{
	list-style:none;
	display:inline-block;
	padding:6.5px 9px 6.5px 8px;
	border-right:1px solid #e1e0e0;
	margin:0px;
	font-weight:300;
	cursor:pointer;
	-webkit-box-shadow: 1px 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: 1px 0px 1px 0px rgba(255,255,255,1);
	box-shadow: 1px 0px 1px 0px rgba(255,255,255,1);
	
	transition:0.8s;
}
.menu-message ul li img{
	vertical-align:sub;
	margin-right:5px;
}
.menu-message ul li a{
	text-decoration:none;
	color:#2d2d30;
}
.msg-all a{
	font-weight:500;
	margin-right:10px;
}
.msg-all{
	padding-left:15px !important;
	position:relative;
}
.msg-all img{
	vertical-align:middle !important;
	cursor:pointer;
}
.search-msg{
	margin-left:-4px !important;
	padding:7.5px 7px 7.5px 10px !important;
	box-shadow:none !important;
}
.search-msg, .msg-all{
	background:#fff !important;
}
.arw-dwn{
	position:absolute;
	width:18px;
	height:8px;
	left:11px;
	bottom:1px;
	z-index:9999;
}
.checkbx .checkbox{
	margin:12px 10px;
}
.more-options.pull-left {
  margin-right: 10px;
  margin-top: 11px;
}
.user-img{
	width:35px;
	height:35px;
	border-radius:3px;
	overflow:hidden;
}
.message-container-list{
	height:399px;
	overflow:hidden;
	position:relative;
}
.message-items{
	padding:8px 15px;
	transition:0.3s;
	cursor:pointer;
}
.message-items:last-child{
	border-bottom:0px;
}
.user-img img{
	width:100%;
	min-height:100%;
}
.user-name-msg a{
	color:#2d2d30;
	font-weight:500;
}
.user-name-msg p, .profession-msg p, .user-msg-brief p{
	margin-bottom:0px;
}
.profession-msg{
	font-size:13px;
	color:#afb420;
	font-weight:500;
}
.user-msg-brief{
	font-weight:400;
	font-size:13px;
}
.check-one .checkbox{
	margin:0px;
	margin-left:10px;
}
.check-one .checkbox input[type="checkbox"]{
	width:13px;
	height:13px;
}
.date-msg{
	font-size:12px;
	color:#78787a;
}
.replay-trash ul li{
	display:inline-block;
	padding:0px 8px;
	font-size:12px;
	line-height:15px !important;
}
.replay-trash ul li a{
	text-decoration:none;
	color:#afb420;
}
.replay-trash ul li img{
	margin-right:5px;
}
.replay-trash{
	display:none;
}
.settings-star{
	height:23px;
}
.settings-msg{
	margin-right:39px;
}
.message-items:hover .replay-trash{
	display:block;
}
.msg-all ul{
	position:absolute;
	z-index:999999;
	background:#fff;
	width:152px;
	border:1px solid #ededed;
	top:42px;
	right:-120px;
	border-radius:3px;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(209,209,209,1);
	-moz-box-shadow: 1px 1px 5px 1px rgba(209,209,209,1);
	box-shadow: 1px 1px 5px 1px rgba(209,209,209,1);
	display:none;
}
.msg-all ul li{
	display:block;
	font-size:12px;
	padding:0 10px;
	margin:0px;
	border:0px;
	background:url('../images/list-point.png') no-repeat center left;
	margin-left:10px;
}
.msg-all ul li a{
	color:#4e4f53;
	text-decoration:none;
	font-weight:300;
}
.msg-all ul li a:hover{
	color:#000;
}
.arw-up{
	position:absolute;
	width:18px;
	height:9px;
	left:5px;
	top:-21px;
}
.arw-up-create{
	position:absolute;
	width:18px;
	height:9px;
	left:5px;
	top:-1px;
}
.search{
	border:none !important;
	height:30px;
	width:180px;
	font-size:13px !important;
	color:#9f9fa1 !important;
}
.return{
	display:none;
}
.input-search{
	position:relative;
	display:;
}
.min-icon{
	position:absolute;
	right:0px;
	top:0;
}
.new{
	font-weight:400 !important;
	position:relative !important;
}
.new ul{
	width:450px;
	height:auto;
	background:#fff;
	position:absolute;
	z-index:1050;
	padding:0px 0px 10px;
	
	-webkit-box-shadow: 1px 1px 5px 1px rgba(209,209,209,1);
	-moz-box-shadow: 1px 1px 5px 1px rgba(209,209,209,1);
	box-shadow: 1px 1px 5px 1px rgba(209,209,209,1);
	display:none;
}
.menu-message ul li ul li{
	box-shadow:none;
}
.new ul li{
	border-right:0px;
	display:block;
}
.create-msg{
	padding:5px;
}
.create-msg label{
	font-size:12px;
	margin-bottom:0px;
}
.create-msg .form-control{
	border:1px solid #ccc;
	box-shadow:none;
}
.create-msg .input-group-addon{
	background:#fff;
	color:#ccc;
}
.create-msg .form-control:focus{
	border:1px solid #ccc;
	box-shadow:none;
}
.create-msg .form-group{
	margin-bottom:5px;
}
.write-msg{
	width:100%;
	background:#f2f0f0;
	padding:10px 15px;
}
.text-area{
	border:1px solid #d7d7d7 !important;
	box-shadow:none;
	min-height:63px !important;
	border-bottom-left-radius:0px !important;
	border-bottom-right-radius:0px !important;
}
.text-area:focus{
	border:1px solid #d7d7d7 !important;
	box-shadow:none;
}
.form-group{
	margin-bottom:0px;
}
.send-items-msg {
	padding:0px 0px;
	background:#fff;
	border:1px solid #d7d7d7;
	border-top:0px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	
}
.left-options-msg ul li{
	list-style:none;
	display:inline-block;
	padding:5px 10px;
	border-right:1px solid #d7d7d7;
	position:relative;
	cursor:pointer;
	font-size:13px;
}
.left-options-msg ul li:last-child{
	border-right:0px;
}
.left-options-msg ul li span{
	margin-left:4px;
}
.left-options-msg ul li input[type="file"]{
   filter: alpha(opacity=0);
   opacity: 0;
   position:absolute;
   width:100%;
   height:100%;
   top:0;
   left:0;
   cursor:pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	appearance:none;
}
.enter label{
	margin:0px;
}
.right-li ul li{
	border-right:0px;
}
.right-li .btn{
	background:#4e4f53;
	color:#fff;
	padding:3px 12px;
	border:0px;
}
.inside-msg .input-search .search{
	width:215px;
	padding:0px;
}
.name-user-inside{
	padding:10px 15px;
	background:#fafafa;
	border-bottom:1px solid #e0e0e0;
	position:relative;
	font-weight:500;
	font-size:16px;
	color:#2d2d30;
}
.name-user-inside p{
	margin-bottom:0px;
}
.online-e{
	display:inline-block;
	width:10px;
	height:10px;
	border-radius:50%;
	background:#64ce1d;
	margin-left:5px;
}
.offline-e{
	display:inline-block;
	width:10px;
	height:10px;
	border-radius:50%;
	background:#b8b8b9;
	margin-left:5px;
}
.check-one .checkbox{
	padding-left:13px !important;
}
.top-head{
	width:100%;
	height:auto;
	background:#afb420;
	padding:5px;
	color:#fff;
	line-height:30px;
}
.ui-autocomplete{
	width:400px !important;
	background:#fff;
	border:1px solid #ccc;
	z-index:99999;
}
.ui-autocomplete li{
	padding:0px 10px;
}
	.ui-autocomplete li:hover{
		background:#f4f4f4;
		cursor:pointer;
	}
.date-line{
	border-bottom:1px solid #ccc;
}
.sapan-date{
	width:100px;
	display:block;
	padding:2px 10px;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	background:#f4f4f4;
	font-size:11px;
	border:1px solid #ccc;
	border-top:0px;
	text-align:center;
	
}
.date-time{
	font-size:10px;
	margin-bottom:0px;
}
.ajaxloader{
	display:none;
}

.loadMoreTime a{
	color:#afb420;
	padding:5px;
}
.loadMoreTime a:hover{
	color:#4E4F53;
}
.auto_complete {
  border: 1px solid #ccc;
  display: none;
  height: 400px;
  left: -16px;
  overflow: hidden;
  position: absolute;
  top: 30px;
  width: 310px;
}
.form-group{
	position:relative;
}
.auto_load {
  border: 1px solid #ccc;
  display: none;
  height: 400px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 64px;
  width: 100%;
}
@media screen and (min-width:1280px){
	.alt-padding-left{
		padding-left:3px;
	}
	.alt-padding-right{
		padding-right:3px;
	}
	.alt-col-lg-1{
		width:60px;
	}
}
@media screen and (max-width:1280px){
	.inside-msg .input-search .search{
		width:117px;
	}
}