@charset "UTF-8";
/* CSS Document */
.top_section{
	background:#ededed;
}
.composite{
	color:#4e4f53;
	font-size:15px;
	font-weight:500;
}
.pagination_box_jobs{
	margin-bottom:16px;
	position:relative;
}
.white-compo{
	background:#fff;
	padding:15px;
	width:100%;
	height:auto;
	border-radius:3px;
	border-bottom:1px solid #ccc;
}
.message-container{
	width:100%;
	height:auto;
	border-radius:3px;
	border:1px solid #e1e0e0;
}
.message-head{
	width:100%;
	border-bottom:1px solid #e1e0e0;
	background:#f2f0f0;
}
.menu-message ul{
	/*transition:0.8s;*/
}
.msg-all.clickHide {
  padding: 7.5px 10px 0 8px;
}
.menu-message ul li{
	list-style:none;
	display:inline-block;
	padding:7.5px 10px 6px 8px;
	border-right:1px solid #e1e0e0;
	margin:0px;
	font-weight:300;
	cursor:pointer;
	-webkit-box-shadow: 1px 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: 1px 0px 1px 0px rgba(255,255,255,1);
	box-shadow: 1px 0px 1px 0px rgba(255,255,255,1);
	
	/*transition:0.8s;*/
}
.menu-message ul li img{
	vertical-align:sub;
	margin-right:5px;
}
.menu-message ul li a{
	text-decoration:none;
	color:#2d2d30;
}
.msg-all a{
	font-weight:500;
	margin-right:10px;
}
.msg-all{
	padding-left:15px !important;
	position:relative;
}
.msg-all img{
	vertical-align:middle !important;
	cursor:pointer;
}
.search-msg{
	margin-left:-4px !important;
	
	box-shadow:none !important;
}
.search-msg, .msg-all{
	background:#fff !important;
}
.arw-dwn{
	position:absolute;
	width:18px;
	height:8px;
	left:11px;
	bottom:5px;
	z-index:999;
}
.checkbx .checkbox{
	margin:12px 10px;
}
.more-options.pull-left {
  margin-right: 10px;
  margin-top: 11px;
}
.user-img{
	width:68px;
	height:68px;
	border-radius:3px;
	overflow:hidden;
}
.message-container-list{
	height:610px;
	overflow:hidden;
	position:relative;
}
.message-items{
	padding:15px;
	border-bottom:1px solid #e0e0e0;
	transition:0.3s;
	cursor:pointer;
}
.message-items:last-child{
	border-bottom:0px;
}
.user-img img{
	width:100%;
	min-height:100%;
}
.user-name-msg a{
	color:#2d2d30;
	font-weight:500;
}
.user-name-msg p, .profession-msg p, .user-msg-brief p{
	margin-bottom:0px;
}
.user-msg-brief p i{
	margin-right:4px;
	color:#ccc;
}
.profession-msg,.profession-msg p a{
	font-size:13px;
	color:#afb420;
	font-weight:500;
}
.user-msg-brief{
	font-weight:400;
	font-size:13px;
}
.user-msg-brief p a{
	color:#4E4F53;
}
.check-one .checkbox{
	margin:0px;
	margin-left:10px;
}
.check-one .checkbox input[type="checkbox"]{
	width:13px;
	height:13px;
}
.date-msg{
	font-size:12px;
	color:#78787a;
}
.replay-trash ul li{
	display:inline-block;
	padding:0px 8px;
	font-size:12px;
	line-height:15px !important;
}
.replay-trash ul li a{
	text-decoration:none;
	color:#afb420;
}
.replay-trash ul li img{
	margin-right:5px;
}
.replay-trash{
	display:none;
}
.settings-star{
	height:23px;
}
.settings-msg{
	margin-right:39px;
}
.message-items:hover .replay-trash{
	display:block;
}
.message-items:hover{
	background:#f6f6f6;
}
.msg-all ul{
	position:absolute;
	z-index:999999;
	background:#fff;
	width:152px;
	border:1px solid #ededed;
	top:42px;
	right:-120px;
	border-radius:3px;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(209,209,209,1);
	-moz-box-shadow: 1px 1px 5px 1px rgba(209,209,209,1);
	box-shadow: 1px 1px 5px 1px rgba(209,209,209,1);
	display:none;
}
.msg-all ul li{
	display:block;
	font-size:12px;
	padding:0 10px;
	margin:0px;
	border:0px;
	background:url('../images/list-point.png') no-repeat center left;
	margin-left:10px;
}
.msg-all ul li a{
	color:#4e4f53;
	text-decoration:none;
	font-weight:300;
}
.msg-all ul li a:hover{
	color:#000;
}
.arw-up{
	position:absolute;
	width:18px;
	height:9px;
	left:5px;
	top:-21px;
}
.arw-up-create{
	position:absolute;
	width:18px;
	height:9px;
	left:5px;
	top:-1px;
}
.search{
	border:none !important;
	height:30px;
	width:180px;
	font-size:13px !important;
	color:#9f9fa1 !important;
}
.return{
	display:none;
}
.input-search{
	position:relative;
	display:none;
}
.min-icon{
	position:absolute;
	right:0px;
	top:0;
}
.new{
	font-weight:400 !important;
	position:relative !important;
}
.new ul{
	width:450px;
	height:auto;
	background:#fff;
	position:absolute;
	z-index:1050;
	padding:0px 0px 10px;
	
	-webkit-box-shadow: 1px 1px 5px 1px rgba(209,209,209,1);
	-moz-box-shadow: 1px 1px 5px 1px rgba(209,209,209,1);
	box-shadow: 1px 1px 5px 1px rgba(209,209,209,1);
	display:none;
}
.top-head{
	width:100%;
	height:auto;
	background:#afb420;
	padding:5px;
	color:#fff;
	line-height:30px;
}
.new ul li{
	border-right:0px;
	display:block;
	box-shadow:none;
}
.create-msg{
	padding:5px;
}
.create-msg label{
	font-size:12px;
	margin-bottom:0px;
}
.create-msg .form-control{
	border:1px solid #ccc;
	box-shadow:none;
}
.create-msg .input-group-addon{
	background:#fff;
	color:#ccc;
}
.create-msg .form-control:focus{
	border:1px solid #ccc;
	box-shadow:none;
}
.create-msg .form-group{
	margin-bottom:5px;
}
.star-msg{
	font-size:15px;
}
.fa-star{
	color:#ccc;
}
.colored{
	color:#FC0;
}
.btn{
	background:#4e4f53;
	color:#fff;
	padding:5px 18px;
	border:0px;
	font-weight:300;
	font-size:12px;
}
.btn:hover{
	background:#4e4f53;
	color:#fff;
}
.ui-autocomplete{
	width:400px !important;
	background:#fff;
	border:1px solid #ccc;
	z-index:99999;
}
.ui-autocomplete li{
	padding:0px 10px;
}
	.ui-autocomplete li:hover{
		background:#f4f4f4;
		cursor:pointer;
	}
.search{
	padding-top:0px !important;
	padding-bottom:15px !important;
}
.hide-me{
	display:inline-block;
	padding-bottom:7px;
}
.hidee{
	display:none;
}
.create-msg .ui-autocomplete{
	z-index:99999;
}
.unreadMsg a{
	color:#ff9e05 !important;
}
.auto_complete {
  border: 1px solid #ccc;
  display: none;
  height: 400px;
  left: -16px;
  overflow: hidden;
  position: absolute;
  top: 30px;
  width: 310px;
}
.form-group{
	position:relative;
}
.auto_load {
  border: 1px solid #ccc;
  display: none;
  height: 400px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 64px;
  width: 100%;
}
/*new css*/
.nav_bar_message{
	width:806px;
	height:46px;
	background:#f9f9f9;
	border-bottom:1px solid #e1e0e0;
	padding:7px 10px;
}
.sender_img, .user_info_name_msg, .message_stratz, .checkBox_delete,.date_msg,.search_bar_msg,.compose_msg,.checkAll,.settings_msg{
	display:inline-block;
	vertical-align:middle;
}
.search_bar_msg{
	width:65%;
}
.search_bar_msg input{
	border:1px solid #e1e0e0;
	width:93%;
	padding:6px 12px;
	display:inline-block;
	vertical-align:middle;
}
.search_bar_msg button {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e0e0;
  box-shadow: none;
  height: 31px;
  margin-left: -7px;
  vertical-align: middle;
  width: 39px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}
.settings_msg > a {
  padding: 5px 10px;
  text-decoration:none;
  background:#fff;
  border:1px solid #e1e0e0;
  color:#4e4f53;
  border-radius:3px;
  position:relative;
  z-index:99;
  display:inline-block;
}
.compose_msg{
	width:22%;
}
.compose_msg a{
	text-decoration:none;
	padding:6px 12px;
	line-height:32px;
	font-size:12px;
	background:#afb420;
	color:#fff;
	border-radius:3px;
}
.nav_items{
	width:100%;
	height:35px;
	border-bottom:1px solid #e1e0e0;
}
.nav_items ul li{
	line-height:35px;
	font-size:13px;
	padding:0px 15px;
	border-right:1px solid #e1e0e0;
	display:inline-block;
	vertical-align:middle;
}
.nav_items ul li+li{
	margin-left:-4px;
}
.activeTabMsg{
	border-top:2px solid #afb420;
	line-height:33px !important;
}
.inbox_msges{
	overflow:hidden;
	min-height:150px;
}
.new_msg_unread{
	width:100%;
	height:auto;
	border-bottom:1px solid #e1e0e0;
	padding:8px 10px;
	overflow:hidden;
}
.sender_img{
	width:30px;
	height:30px;
	overflow:hidden;
	margin-right:10px;
	display:inline-block;
	vertical-align:middle;
	border-radius:100%;
}
.user_info_name_msg{
	width:22%;
}
.user_info_name_msg h4{
	font-size:13px;
	font-weight:500;
	line-height:30px;
	margin:0px;
}
.read_messages{
	background:#f9f9f9;
}
.read_messages .user_info_name_msg h4{
	font-weight:400;
}
.message_stratz{
	width:56%;
}
.message_stratz p{
	margin:0px;
	font-size:13px;
	font-weight:500;
}
.checkBox_delete,.checkAll{
	margin-right:5px;
}
.date_msg {
  text-align: right;
  width: 12%;
  font-size:12px;
	font-weight:500;
}
.date_msg p{
	margin:0px;
}
.read_messages .message_stratz p,.read_messages .date_msg{
	font-weight:400;
}
.selected_msg{
	background:#ffc;
}
.options_onCheck{
	width:100%;
	height:auto;
	border-bottom:1px solid #e1e0e0;
	padding:8px 15px;
	overflow:hidden;
	display:none;
}
.more_optn{
	background:#f1f1f1;
	border:1px solid #e1e0e0;
	display:inline-block;
	float:right;
}
.more_optn a{
	display:inline-block;
	text-decoration:none;
	font-size:15px;
	color:#4e4f53;
	line-height:18px;
	padding:5px 20px;
	border-right:1px solid #e1e0e0;
}
.small_more{
	font-size:12px !important;
	border-right:0px !important;
}
.message_selected{
	float:left;
}
.message_selected p{
	margin:0px;
	font-size:13px;
	text-decoration:underline;
}
.message_selected p a{
	margin-left:5px;
	text-decoration:underline;
	color:#ff9e05;
}
.sender_details{
	width:100%;
	height:auto;
	padding:10px;
	background:#f9f9f9;
}
.sub_message{
	padding:15px 10px;
}
.sub_message h3{
	font-size:14px;
	font-weight:500;
	margin:0px;
	line-height:19px;
}
.sub_static{
	font-weight:400;
}
.time_date{
	vertical-align:middle;
	display:inline-block;
	font-size:12px;
}
.time_date p{
	margin:0px;
	line-height:17px;
}
.inside_mesgae{
	width:40px !important;
	height:40px !important;
}
.recived_message, .attachments_msg{
	padding:10px 10px 10px 55px;
	font-size:13px;
	margin-bottom:15px;
}
.recived_message p{
	margin-bottom:10px;
	line-height:20px;
}
.attachments_msg ul {
	margin-top:15px;
}
.attachments_msg ul li{
	display:inline-block;
	width:136px;
	height:136px;
	background: no-repeat center center;
	background-size:cover;
	border:1px solid #e1e0e0;
	border-radius:3px;
	margin-right:5px;
	margin-bottom:5px;
	position:relative;
}
.head_attachment{
	background:#f9f9f9;
	padding:5px 10px;
}
.head_attachment h4{
	font-size:13px;
	font-weight:500;
	margin-bottom:0px;
	display:inline-block;
	vertical-align:middle;
}
.head_attachment a{
	text-decoration:none;
	color:#4e4f53;
	background:#fff;
	border:1px solid #e1e0e0;
	padding:3px 10px;
}
.replay_message{
	width:91.5%;
	height:auto;
	border:1px solid #e1e0e0;
	margin-bottom:10px;
}
.overlay_download{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.6);
	line-height:136px;
	display:none;
}
.attachments_msg ul li:hover .overlay_download{
	display:block;
}
.overlay_download a{
	color:#fff;
	background:none;
	padding:5px 10px;
	font-size:15px;
	border:1px solid #fff;
	margin-right:5px;
	border-radius:3px;
	cursor:pointer;
}
.overlay_download a:hover{
	background:#fff;
	color:#4e4f53;
}
.user_me{
	width:30px;
	height:30px;
	overflow:hidden;
	border-radius:100%;
	margin:0px 12px;
}
.replay_message,.user_me{
	display:inline-block;
	vertical-align:top;
}
.replay_message .btn{
	background:#fff;
	color:#4e4f53;
	border-right:1px solid #e1e0e0;
	line-height:30px;
	border-radius:0px;
}
.replay_message .btn:hover{
	background:#4e4f53;
	color:#fff;
}
.wysihtml5-toolbar li{
	margin:0px !important;
}
.wysihtml5-toolbar{
	border-bottom:1px solid #e1e0e0;
}
.wysihtml5-sandbox{
	border:0px !important;
	border-radius:0px !important;
	box-shadow:none !important;
}
.SendBtn{
	margin:0px 10px 10px 0px;
	border-radius:0px;
	float:right;
}
ul.wysihtml5-toolbar a.btn.wysihtml5-command-active{
	box-shadow:none;
}
.new_msg{
	width:100%;
	height:auto;
	background:#f4f4f4;
	overflow:hidden;
	display:none;
}
.to{
	width:100%;
	height:30px;
	background:#fff;
	border-bottom:1px solid #e1e0e0;
	position:relative;
}
.input_fields{
	position:absolute;
	top:0;
	right:0;
	width:90%;
}
.title_to{
	position:absolute;
	left:0;
	top:0;
	display:inline-block;
	line-height:30px;
	width:10%;
	text-align:right;
	font-size:12px;
	border-right:1px solid #e1e0e0;
	padding:0px 10px;
}
.input_fields input{
	font-size:12px;
	border:0px;
	border-radius:0px;
}
.message_attachments{
	width:100%;
	position:relative;
}
.write_message, .attachments_field{
	background:#fff;
	width:100%;
	overflow:hidden;
}
.write_message{
	height:300px;
	border:0px;
	border-bottom:1px solid #e1e0e0;
	margin:0px;
}
.attachments_field{
	background:#f9f9f9;
	margin-bottom:10px;
}
.head_attachments, .attach_field{
	height:34px;
	line-height:35px;
	padding-left:10px;
	font-size:12px;
	background:#fff;
	position:relative;
}
.attach_field input[type="file"]{
	position:absolute;
	width:100%;
	height:100%;
	opacity:0;
	cursor:pointer;
}
.chooseFile{
	border-left:1px solid #e1e0e0;
	padding:0px 10px;
	text-align:center;
	background:#4e4f53;
	color:#fff;
}
.cont_files{
	background:#fff;
	border-bottom:1px solid #e1e0e0;
}
.prevNames{
	display:inline-block;
	padding:3px 10px;
	background:#fff;
	border:1px solid #9e9e9e;
	margin:10px 5px;
	background:#e4e4e4;
}
.namesFile, .prevNames i,.chk_delt{
	display:inline-block;
	vertical-align:middle;
	font-size:12px;
}
.prevNames i{
	margin-left:4px;
	cursor:pointer;
}
.auto_result_search{
	width:400px;
	max-height:300px;
	border:1px solid #e1e0e0;
	position:absolute;
	top:30px;
	left:3px;
	z-index:9;
	background:#fff;
	border-top:0px;
	overflow:hidden;
}
.auto_search_results {
  border-bottom: 1px solid #e1e0e0;
  padding: 4px 10px;
  background:#f9f9f9;
  cursor:pointer;
}
.auto_search_results:last-child{
	border-bottom:0px;
}
.auto_search_results:hover{
	background:#fff;
}
.name_user,.img_user_s{
  display: inline-block;
  vertical-align: middle;
}
.img_user_s {
  border-radius: 100%;
  height: 30px;
  overflow: hidden;
  width: 30px;
  margin-right:6px;
}
.name_user h4{
	font-size:12px;
	margin:0px;
	font-weight:500;
}
.sentItemz i{
	font-size:11px;
	margin-right:4px;
	color:#808080;
}
.reportStartz {
	padding:7px 15px;
	overflow:hidden;
}
.reportStartz h4{
	font-size:14px;
	font-weight:500;
	margin:0px;
	display:inline-block;
	vertical-align:middle;
}
.date_chat {
	text-align:right;
	border-top:1px solid #f4f4f4;
}
.date_chat span{
	font-size:11px;
	display:inline-block;
	padding:3px 10px;
	background:#f4f4f4;
	margin-bottom:10px;
}
.chats_show{
	padding:5px 15px;
}
.sender_page,.reciver_page{
	margin-bottom:15px;
}
.userInfo_online_chat p{
	font-size:12px;
	color:#636363;
}
.time_chat{
	font-size:10px;
	margin-left:5px;
	color:#acacac;
	font-weight:400;
}
.drop_down_settings{
	display:block;
	position:absolute;
	width:200px;
	height:auto;
	padding:10px 0px;
	background:#fff;
	top:40px;
	left:0;
	z-index:9999;
	display:none;
	border:1px solid #e1e0e0;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);
	box-shadow: 2px 2px 5px 0px rgba(204,204,204,1);
}
.drop_down_settings::after{
	content:' ';
	position:absolute;
	background:url(../images/status_option_arrow.png) no-repeat center top;
	width:20px;
	height:20px;
	top:-7px;
	left:7px;
}
.options {
  border-bottom: 1px solid #e1e0e0;
  display: block;
  padding: 7px 10px;
  font-size:12px;
  cursor:pointer;
}
.options:last-child{
	border-bottom:0px;
}
.options:hover{
	background:#4e4f53;
	color:#fff;
}
.settings_msg{
	position:relative;
}
.chk_delt{
	margin-right:5px;
	display:none;
}
.chat_inside{
	background:none;
	border:none;
}
.chat_inside a{
	font-size:12px;
	margin-right:5px;
	background:#f1f1f1;
	border:1px solid #e1e0e0;
	padding:3px 15px;
}
.chat_inside a i{
	margin-right:5px;
}
.chat_inside_main{
	width:auto;
	border-bottom:0px;
	vertical-align:middle;
	float:right;
	padding:0px;
}
.open_chatbox{
	width:24%;
}
.block_inline{
	display:inline-block !important;
}
.submitBtn{
	position:relative;
	z-index:999999999;
	overflow:hidden;
}
#loadEmail p.emailLoading{
	padding:10px;
	background:#EDEDED;
}
@media screen and (min-width:1280px){
	.alt-padding-left{
		padding-left:3px;
	}
	.alt-padding-right{
		padding-right:3px;
	}
	.alt-col-lg-1{
		width:87px;
	}
}