@charset "UTF-8";
/* CSS Document */
.top_section{
	background:#ededed;
}
.pagination_box_jobs {
	position:relative;
	margin-bottom:16px;
}
.pagination_box_jobs .jobs_search{
	font-size:15px;
	font-weight:600;
	color:#000;
}
.pagination_box_jobs .result_job{
	font-size:12px;
	color:#606060;
}
.dim-me{
	color:#a3a3a3;
}
.tab_white_most_wanted{
	width:100%;
	height:auto;
	background:#fff;
	padding:15px;
	margin-bottom:15px;
	border-radius:3px;
	border-bottom:1px solid #ccc;
}
.serach_filter .upload-help select{
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   background:url('../images/arrow-down-1.png') no-repeat 95% center #fff;
   border:1px solid #cbcbcb;
   font-size:12px;
   height:30px;
   color:#888888;
	font-weight:400;
}
.dark-me{
	color:#4e4f53;
}

.verify{
	width:18px;
	height:18px;
	margin-left:3px;
}
.point-it{
	width:16px;
	height:7px;
	background:url('../images/arrow-down-grey.png') no-repeat center;
	position:absolute;
	bottom:-1.5px;
	left:30px;
}

.main-face-sec{
	position:relative;
	overflow:hidden;
}
.like_com{
	background: rgba(0, 0, 0, 0) url("../images/shadow.png") no-repeat scroll center bottom;
	width:100%;
	height:300px;
	position:absolute;
	bottom:-10px;
	z-index:999;
	display:none;
}
.name-sec{
	position:absolute;
	bottom:20px;
	left:15px;
}
.name-sec >p, .like-comment-sec>p{
	margin-bottom:0px;
	color:#fff;
	font-weight:300;
	font-size:11px;
	padding:0px;
	line-height:16px;
}
.name-sec >p:first-child{
	font-weight:bold;
	font-size:12px;
}
.like-comment-sec{
	position:absolute;
	bottom:10px;
	width:100%;
	padding: 0px 15px;
}
.like-comment-sec .fa.fa-share-alt{
	margin-top:6px;
	font-size:14px;
	color:#fff;
	cursor:pointer;
}
.like-comment-sec>p{
	display:inline-block;
	margin-right:10px;
}
.like-comment-sec>p>i{
	margin-right:5px;
	vertical-align:calc(10%);
	color:#afb420;
}
.comment_pic >i{
	color:#fff !important;
}
.main-face-sec:hover > .like_com{
	display:block;
}
.most-wanted-detailed{
	width:100%;
	height:auto;
	background:#fff;
	padding:15px;
	border-bottom:1px solid #ccc;
	border-radius:3px;
}
.most-img{
	width:100%;
	height:135px;
	overflow:hidden;
}
.most-img img{
	width:100%;
	min-height:100%;
}
.head-most-img> p{
	color:#4e4f53;
	font-size:15px;
	font-weight:600;
}
.head-most-img> p a{
	color:#4e4f53;
}
.most-wanted-detailed p{
	margin-bottom:0px;
}
.dim-me> i{
	margin-right:3px;
	vertical-align:calc(2px);
}
.most-wanted-rating{
	margin-top:10px;
}
.ranking-number> p{
	font-size:13px;
	font-weight:500;
	color:#4e4f53;
	margin-top:4px;
}
.follow-wanted{
	margin-top:8px;
}
.follow-wanted a {
	color:#fff;
	padding:3px 12px;
	background:#4e4f53;
	border-radius:3px;
	font-size:12px;
	
}
.follow-wanted a>i{
	margin-right:6px;
}
.coment-wanted {
	margin-top:10px;
}
.coment-wanted P{
	line-height:22px;
	padding-right:5px;
	font-size:12px;
}
.coment-wanted .border-it{
	border-right:1px solid #ccc;
}
.coment-wanted p> i{
	color:#c1c1c1;
	margin-right:3px;
}
.coment-wanted p> a{
	color:#AFB420;
	margin-right:3px;
}
.seperate{
	margin-bottom:30px;
	border-bottom:1px solid #f0f0f0;
}
.most-head-sec{
	width:100%;
	padding:15px;
	background:#fcfcfc;
	position:relative;
	border-bottom:1px solid #dfdede;
}
.most-head-sec p{
	margin-bottom:0px;
	font-weight:600;
	font-size:15px;
}
.filter-most {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  height: auto;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
}
.female_sec{
	width:100%;
	height:auto;
	padding:15px;
}
.border-ed{
	border-right:1px solid #f0f0f0;
}
.head-filter-pre p{
	font-size:14px;
	font-weight:500;
	margin-bottom:0px;
}
.head-filter-pre>p>i{
	margin-top:4px;
	color:#c0bebe;
}
.head-filter-pre ul {
	margin-top:10px;
}
.head-filter-pre ul li{
	font-size:12px;
	line-height:18px;
}	
.head-filter-pre ul li a{
	color:#4e4f53;
	text-decoration:none;
}
.active-filter{
	color:#ff9e05 !important;
	font-weight:500;
}
.follow-btn a.follow{
	background:#afb420 none repeat scroll 0 0;
}
.faceof-month-img{
	height:255px;
	width:255px;
	overflow:hidden;
}
.faceof-month-img img{
	width:100%;
}
.job-head p{
	margin-bottom:10px;
}
.post-info p{
	font-size:12px;
}
@media screen and (max-width: 1024px) {
	.main-face-sec{
		height:136px;
	}
	.like_com{
		display:block;
	}
	.like-comment-sec{
		padding:0px 10px;
	}
}