@charset "UTF-8";
/* CSS Document */
.top_section{
	background:#ededed;
}
.pagination_box_jobs {
	position:relative;
	margin-bottom:9px;
}
.pagination_box_jobs .jobs_search{
	font-size:15px;
	font-weight:600;
	color:#000;
	display:inline-block;
	margin-top:5px;
}
.pagination_box_jobs .result_job{
	font-size:12px;
	color:#606060;
}
.post_jobs{
	display:inline-block;
}
.post_jobs a{
	color:#4e4f53;
	font-size:13px;
	padding:5px 12px;
	background:#fff;
	border:1px solid #ccc;
	border-radius:3px;
	position:absolute;
	right:53px;
	top:0px;
}
.content-jobs a{
	font-size:13px;
	color:#4e4f53;
}
.job-head p{
	font-size:16px;
	font-weight:500;
	color:#4e4f53;
}
.info-job p{
	margin-bottom:0px;
}
.place-job i{
	color:#4e4f53;
}
.place-job p{
	font-size:12px;
	color:#afb420;
}
.minute-info{
	margin-top:10px;
}
.post-info p{
	font-size:12px;
}
.post-info input[type="submit"]{
	font-size:12px;
	padding:4px 20px;
}
.post-info input[type="submit"]:hover{
	background:#414246;
	color:#fff;
}
.dim-me{
	color:#a3a3a3;
}
.serach_filter .upload-help select{
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   background:url('../images/arrow-down-1.png') no-repeat 95% center #fff;
   border:1px solid #cbcbcb;
   font-size:12px;
   height:30px;
   color:#888888;
	font-weight:400;
}
.dark-me{
	color:#4e4f53;
}
.search-img{
	width:100px;
	height:100px;
	overflow:hidden;
}
.search-img img{
	width:100%;
	min-height:100%;
}
.search-main .job-head p{
	font-size:14px;
	display:inline-block;
}
.new-width-search{
	width:120px;
}
.status-user{
	font-size:12px;
	color:#afb420;
	margin-bottom:0px;
}
.follow-btn a{
	font-size:12px;
	color:#fff;
	padding:3px 15px;
	background:#4e4f53;
	border-radius:3px;
}
.border-me-under{
	border-bottom:1px solid #e1e0e0;
	background:url('../images/line-back.png') no-repeat bottom right;
	margin-bottom:20px;
	
}
.verify{
	width:18px;
	height:18px;
	margin-left:3px;
}
.point-it{
	width:16px;
	height:7px;
	background:url('../images/arrow-down-grey.png') no-repeat center;
	position:absolute;
	bottom:-1.5px;
	left:30px;
}
.filter_search{
	border-bottom:1px solid #e1e0e0;
}
.filter_search p{
	margin-bottom:5px;
}
.serach_filter .form-group{
	margin-bottom:8px;
}
.serach_filter  input[type="text"]{
	border:1px solid #cbcbcb;
	height:30px;
	font-size:12px;
	box-shadow:none;
	color:#888888;
	font-weight:400;
}
.serach_filter  .btn{
	width:80px;
	background:#4e4f53;
	color:#fff;
	font-size:13px;
	height:30px;
	text-transform:uppercase;
	margin-top:2px;
}
.tab_white_most_wanted{
	width:100%;
	height:auto;
	background:#fff;
	padding:15px;
	margin-bottom:15px;
	border-radius:3px;
	border-bottom:1px solid #ccc;
}
.faceof-month-img{
	width:100%;
	height:255px;
	margin-top:10px;
	overflow:hidden;
}
.faceof-month-img img{
	width:100%;
	min-height:100%;
}
.main-face-sec{
	width:100%;
	height:auto;
}
.model-head {
	width:100%;
	height:auto;
	background:#fcfcfc;
	border-bottom:1px solid #dfdede;
	border-left:1px solid #dfdede;
	position:relative;
}
.model-head p{
	text-align:center;
	padding:12px 10px;
	margin-bottom:0px;
	color:#303033;
	font-weight:500;
	margin-left:-25px;
}
.model-head .arrow-side{
	position:absolute;
	width:25px;
	height:100%;
	background:#4e4f53;
	color:#fff;
	font-size:18px;
	text-align:center;
	top:0;
	right:0;
	cursor:pointer;
}
.tab_white_most_wanted_float .model-head{
	height:auto;
	font-size:13px;
}
.tab_white_most_wanted_float .model-head p, .tab_white_most_wanted_float .model-head .arrow-side i{
	padding:8px 0px;
	margin-top:0px;
	text-align:center;
	margin-bottom:0px;
	line-height:18px;
}
.model-head .arrow-side:hover{
	background:#ff9e05;
}
.model-head .arrow-side i{
	margin-top:60%;
}	
.tab_white_most_wanted_float{
	width:100%;
	height:auto;
	background:#fff;
	border-radius:3px;
	padding:0px 15px 15px;
	border-bottom:1px solid #ccc;
}
.featured-image{
	width:20%;
	height:auto;
	padding:10px;
	float:left;
}
.face-img-category{
	width:100%;
	height:218px;
	overflow:hidden;
	margin-top:20px;
}
.face-img-category img{
	width:100%;
	min-height:100%;
}
.wrapeme{
	border-bottom:1px solid #e4e4e4;
	padding-bottom:20px;
	padding-top:20px;
}
.margin_arrange{
	padding-bottom:20px;
	border-bottom:1px solid #e4e4e4;
}
.most-wanted-grey{
	width:100%;
	height:auto;
	background:#f9f9f9;
	border-bottom:1px solid #dfdede;
	
}
.most-wanted-grey ul li{
	display:inline-block;
	font-size:14px;
	font-weight:500;
	color:#4e4f53;
	position:relative;
	cursor:pointer;
	padding:7px 20px;
	border-right:1px solid #f0f0f0;
	-webkit-box-shadow: 1px 0px 1px 0px #fff;
	-moz-box-shadow: 1px 0px 1px 0px #fff;
	box-shadow: 1px 0px 1px 0px #fff;
}
.most-wanted-grey ul li img{
	vertical-align:sub;
	margin-right:5px;
}
.point-it-1{
	width:16px;
	height:7px;
	background:url('../images/arrow-up-grey.png') no-repeat center;
	position:absolute;
	bottom:-6.5px;
	left:30px;
}
.maleIco{
	display:none;
}
.load_album_preloader{
   min-height:300px; 
   background:url('../images/1.gif') center center no-repeat;
   background-size:40px;
}
@media screen and (max-width: 1024px) {
	.faceof-month-img{
		height:215px;
	}
	.model-head p{
		font-size:12px;
	}
}