.ttw-music-player {
    width: 812px;
}

.wrapper{
	width:265px;
	display:inline-block;
	position:relative;
	border:1px solid #e1e1e1;
    background: #fff;
	margin-left:-3px;
	height:457px;
}
.ttw-music-player .player {
    width: 543px;
	display:inline-block;
	vertical-align:top;
	padding:10px;
	background:#f2f0f0;
}
.description{
	display:none !important;
}
/** Album Cover **/
.ttw-music-player .album-cover {
    position: relative;
    background: #333 url(../images/mp_images/album-cover-bg.jpg) no-repeat 0 0 scroll;
}

.ttw-music-player .album-cover .img {
    box-shadow: inset 0 0 1px rgba(255, 255, 255, .6);
    -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, .6);
    -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, .6);
    background-position:center center;
    background-repeat:no-repeat;
    background-color:transparent;
}

.ttw-music-player .album-cover .highlight {
    background: transparent url(../images/mp_images/album-cover-highlight.png) no-repeat 0 0 scroll;
    opacity: 1;

}

.ttw-music-player .album-cover:hover .highlight {
    opacity: 1;
}

.ttw-music-player .album-cover,
.ttw-music-player .album-cover .img,
.ttw-music-player .album-cover .highlight {
    display: inline-block;
    height: 162px;
    width: 162px;
}

.ttw-music-player .album-cover img,
.ttw-music-player .album-cover .img,
.ttw-music-player .album-cover .highlight {
    position: absolute;
    top: 0;
    left: 0;
    height: 162px;
    width: 162px;
}

/** Track Info **/
.ttw-music-player .track-info {
    width: 335px;
    margin: 0px 0 0 20px;
    font-size: 12px;
	display:inline-block;
	clear:both;
	vertical-align:top;
}

.ttw-music-player .track-info p {
    margin: 0 0 10px 0;
}

.ttw-music-player .player .title {
	color: #4e4f53;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 7px;
}

.ttw-music-player .artist-outer {
    color: #7e7e7e;
}

.ttw-music-player .artist {
    color: #000;
    margin-left: 4px;
}

.ttw-music-player .rating {
    width: 75px;
    height: 16px;
}

.ttw-music-player .rating-star {
    width: 15px;
    height: 16px;
    display: block;
    float: left;
    background: transparent url(../images/mp_images/rating-off.png) no-repeat center center scroll;
    cursor: pointer;
}

.ttw-music-player .rating-star:hover,
.ttw-music-player .rating-star.on,
.ttw-music-player .rating-star.hover {
    background: transparent url(../images/mp_images/rating-on.png) no-repeat center center scroll;
}

/** Player **/
.ttw-music-player .bottom{
    width: 100%;
    height: auto;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background:#4e4f53;
	clear:both;
	margin-top:52px;
	overflow:hidden;
}

.control-wrapper{
	height:55px;
}
.ttw-music-player .bottom .main {
    width: 125px;
    height: 80px;
    float: left;
	background:#434448;
}

.ttw-music-player .player-controls div {

    float: left;
    cursor: pointer;
}

.ttw-music-player .bottom .previous, .ttw-music-player .bottom .next {
    height: 60px;
    width: 46px;
    margin: 1px 0;
}

.ttw-music-player .bottom .play, .ttw-music-player .bottom .pause {
    width: 18px;
    height: 60px;
    margin: 0 7px;
}

.ttw-music-player .previous {
    background: transparent url(../images/mp_images/player-previous1.png) no-repeat right center scroll;
}

.ttw-music-player .next {
    background: transparent url(../images/mp_images/player-next1.png) no-repeat left center scroll;
}

.ttw-music-player .play {
    background: transparent url(../images/mp_images/player-play2.png) no-repeat center center scroll;
}

.ttw-music-player .pause {
    background: transparent url(../images/mp_images/player-pause2.png) no-repeat center center scroll;
}
.main-progress-wrapper{
	padding:10px;
	width:395px;
}
.ttw-music-player .progress-wrapper {
    height: 9px;
    width: 68%;
    float: left;
    background: transparent url(../images/mp_images/player-progress.png) repeat-x 0 0 scroll;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	margin-top:4px;
	margin-left:10px;
}

.ttw-music-player .progress {
    height: 9px;
    width: 300px;
    cursor: pointer;
}

.ttw-music-player .elapsed {
    height: 9px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 60%;
    background: transparent url(../images/mp_images/player-elapsed.png) repeat-x 0 0 scroll;
}

.ttw-music-player .unused-controls {
    display: none !important;
}

/** Description **/
.ttw-music-player .description {
    clear: both;
    margin: 30px 0 0 0;
    font-size: 12px;
    color: #999;
}

.ttw-music-player .description.showing{
    margin:30px 0;
}

/** Track List **/
.jp-video .tracklist {
  background-color: #ffffff;
  border: 1px solid #ebeaea;
  color: #999;
  display: inline-block;
  height: 479px;
  overflow: hidden;
  position: relative;
  width: 265px;
  
   -webkit-box-shadow: 0px 2px 2px 0px rgba(235,234,234,1);
-moz-box-shadow: 0px 2px 2px 0px rgba(235,234,234,1);
box-shadow: 0px 2px 2px 0px rgba(235,234,234,1);
}
.ttw-music-player .tracklist ol {
    margin: 0;
    padding: 0;
    overflow:hidden;
	margin-top:32px;
}

.ttw-music-player .tracklist li {
    background: transparent url(../images/mp_images/playlist.png) no-repeat 15px center;
    padding: 0px 10px  0px 15px;
    position: relative;
	color:#000;
	font-weight:500;
	border-bottom:1px solid #ccc;
}

.ttw-music-player .tracklist li:hover {
    color: #000;
	 background:url(../images/mp_images/playlist.png) no-repeat 15px center #eee;
}
.playing{
	background:url(../images/mp_images/pauselist.png) no-repeat 15px center #eee !important;
}

.ttw-music-player .show-more-button li:last-child{
    background: transparent url(../images/mp_images/tracklist-item-bg.png) repeat-x bottom left scroll;
}



.ttw-music-player .tracklist .title {
    width: 164px;
    display: inline-block;
    padding: 10px 0 10px 10px;
    cursor: pointer;
	margin-left:20px;
	border-left:1px solid #ccc;
}

.ttw-music-player li:nth-child(1n + 10) .title{
    padding-left:7px;
}

.ttw-music-player li.playing {
    color:#000 !important;

}

.ttw-music-player .tracklist .rating {
    margin-left: 10px;
    width: 30px;
    display: block;
    position: absolute;
    right: 72px;
    top: 12.5px;
}

.ttw-music-player .rating-bar {
    height: 10px;
    width: 3px;
    display: block;
    float: left;
    cursor: pointer;
    background: transparent url(../images/mp_images/rating-bar.png) no-repeat 0 0 scroll;
}

.ttw-music-player .rating-bar.on,
.ttw-music-player .rating-bar:hover,
.ttw-music-player .rating-bar.hover {
    background: transparent url(../images/mp_images/rating-bar-on.png) no-repeat 0 0 scroll;
}

.ttw-music-player .buy {
    width: 62px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 0;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: transparent url(../images/mp_images/buy-bg.png) repeat 0 0 scroll;
    margin: 0 0 0 10px;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    text-shadow: none;
    color: #999;
    text-decoration: none;
}

.ttw-music-player .buy:hover {
    color: #eee;
}

.ttw-music-player .buy.not-active{
    display:none;
}

.ttw-music-player .more {
    display:none;
    font-size: 11px;
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: transparent url(../images/mp_images/tracklist-more.png) repeat 0 0 scroll;
}

.ttw-music-player .more:hover {
    color: #eee;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, .2);
}

.ttw-music-player .show-more-button .more{
    display:block;
}


/** Transitions **/
.ttw-music-player .more,
.ttw-music-player .album-cover .highlight,
.ttw-music-player .tracklist li,
.ttw-music-player .buy {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */
.ttw-music-player .player:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* new modifications */
.playlist_head{
	position:absolute;
	width:100%;
	height:auto;
	background:#4e4f53;
	top:0;
	left:0;
	padding:10px;
}
.playlist_head .head-title{
	font-size:14px;
	color:#fff;
	font-weight:500;
}
.playlist_head .head-title i{
	margin-right:4px;
}
.delete-playlist{
	text-align:right;
}
.bottom-playlist{
	position:absolute;
	width:100%;
	height:auto;
	bottom:0 !important;
	left:0;
	background:#ececec;
	padding:10px;
}
.bottom-playlist a{
	padding:0px 5px;
}
.subtitle{
	color:#7e7e7e;
}
.tagHeadings{
	color:#000;
}
.top-nav{
	background:none !important;
}
.top-nav .main, .top-nav .main .play, .top-nav .main .pause {
  background-position: 10px center;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  height: 32px !important;
  margin: 0;
  text-align: left;
}
.fav{
	display:block;
}
.top-nav .main{
	margin:9px 10px 9px 0px !important;
}
.top-nav .playerz{
	background-color: #afb420;
	width: 72px !important;
}
.top-nav > .main .pause{
	background-image:url('../images/mp_images/player-pause1.png') !important;
	width: 72px !important;
  padding-left:28px;
  line-height:32px;
}
.top-nav .main .play{
	background-image:url('../images/mp_images/player-play1.png') !important;
	width: 72px !important;
  padding-left:28px;
  line-height:32px;
}
.top-nav .downloads{
	background-color: #4e4f53;
	width: 100px !important;
	background-image:url('../images/mp_images/cloud.png');
	background-position:10px center;
	background-repeat:no-repeat;
	padding-left:35px;
	line-height:32px;
}
.top-nav .favrites{
	background-color:#ff9e05;
    width: 86px !important;
	background-image:url('../images/mp_images/love.png');
	background-position:10px center;
	background-repeat:no-repeat;
	padding-left:30px;
	line-height:32px;
}
.top-nav .addto{
	width:30px !important;
	border:1px solid #4e4f53;
	background:url('../images/mp_images/plus.png') no-repeat center center;
}
.favrated{
	background-image:url('../images/mp_images/love-ful.png') !important;
}
.repat-shuffle{
	width:100%;
	padding:0px 12px;
	font-size:12px;
	color:#ffffff;
	font-weight:300;
}
.repeat, .all{
	padding:1px 6px;
}
.repeat{
	border-radius:30px;
}
.all{
	border-radius:10px;
}
.active-rep{
	background:#ff9e05;
}
.player_mp .title{
	color:#ff9e05 !important;
	font-size:14px !important;
	margin-bottom:0px !important;
}
.player_mp .artist-outer{
	margin-bottom:0px !important;
}

.player_mp .artist-outer .artist{
	margin-left:0px !important;
	color:#a4a5a7;
}
.player_mp{
	margin-bottom:10px;
}
.jp-duration, .jp-current-time{
	color:#fff;
	float:left;
	font-size:12px;
}
.jp-current-time{
}
.jp-duration, .jp-mute, .jp-volume-max{
	margin-left:5px;
}
.progress{
	margin-bottom:0px;
}
.volume {
  display: block;
  float: none;
  margin-top: 39px;
}
.listed .play{
}
.jp-volume-max{
	display:none;
}
.max_vol{
	display:block;
}
.jp-mute img, .jp-volume-max img{
	vertical-align:calc(0px);
}
.deletelist{
	margin-top:9px;
	cursor:pointer;
}
.jp-volume-bar {
  background: #444;
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 4px;
  width: 100px;
}

.jp-volume-bar-value {
  position: relative;
  background: #cc181e;
  height: 100%;
}

.jp-volume-bar-knob {
  position: absolute;
  right: 0px;
  margin-top: -6px;
  z-index: 50;
}
/*--------------------------------new player style-----------*/
.jp-type-playlist{
	width:543px;
	float:left;
	background-color:#F2F0F0;
	padding:15px;
}
.jp-playlist {
  float: left;
  height: 440px;
  overflow:hidden;
  width: 100%;
  position:relative;
}
.jp-volume-controls{
	position:absolute;
	right:25px;
	top:-3px;
}