body,.top_section{
	background:#ededed !important;	
}
.user_profile .sidebar .booking .t_data .data_content .main_content{
	width:100% !important;
	min-height:100px !important;
}

.user_profile .sidebar .booking .table .data_content .main_content .duration{
	width:36% !important;
}
.user_profile .sidebar .booking .t_data .data_hed .delete .fa.fa-pencil{
	color: #878788;
	font-size: 17px;
	padding-left:5px;
}
.user_profile .sidebar .booking .t_data .data_hed a{
	color:#4e4f53;
}
