body,.top_section{
	background:#ededed !important;	
}
.user_profile .sidebar .booking .t_data .data_content .main_content{
	width:100% !important;
}
.user_profile .sidebar .booking .table .data_content .main_content .duration{
	width:36% !important;
}
.user_profile .sidebar .booking .t_data .data_hed .delete .fa.fa-pencil{
	color: #878788;
	font-size: 17px;
	padding-left:5px;
}
.view{
	color:#afb420;
}
.bookReq .w_details{
	width:100% !important;
	background:none !important;
}
