span.seemore a{
	color: #4e4f53;
	font-size: 13px;
	font-weight: 300;
	padding-right:5px;
}
span.seemore a:hover{
	color: #ff9e05;
}
.user_profile .content .profile_content  .photos_section + .photos_section{
	margin-top:10px;
}
a.playbtn{
	background: rgba(0, 0, 0, 0) url("../images/url_to_play_button_image.png") no-repeat scroll center center;
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
.user_profile .content .profile_content .photos_section .photos_box .friends{
	width:138px !important;
}
.friends .pic span{
	background: rgba(0, 0, 0, 0) url("../images/thumb_shadow.png") repeat-x scroll center bottom;
	bottom: 0;
	box-sizing: border-box;
	color: #ffffff;
	font-size: 12px;
	font-weight: normal;
	height: 83px;
	line-height: 12px;
	padding-top: 55px;
	position: absolute;
	text-align: center;
	width: 100%;
	left:0px;
}
.inside_profile .working_comments{
	margin-bottom:10px;
}
.worked_together_box{
	background: #fff none repeat scroll 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 4px;
	display: inline-block;
	height: 210px;
	margin-right: 0;
	overflow: hidden;
	width: 175px;
}
.worked_together_box:last-child{
	margin-right:0px;
}
.cover_image_profile{
	height: 175px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.cover_image_profile img{
	width:100%;
	min-height:100%;
}
.profile_img_info {
  margin-top: -37px;
  padding: 0 10px;
  position: relative;
  z-index: 9;
}
.img_profiles{
	width:50px;
	height:50px;
	border-radius:100%;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
}
.shadow_worked{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
}
.shadow_worked img{
	width:100%;
}
.user_profile_info{
	display:inline-block;
	width:100%;
	color:#fff;
	margin-top:5px;
}
.user_profile_info h5{
	font-size:12px;
	color:#fff;
	margin:0px;
	font-weight:500;
}
.user_profile_info p{
	font-size:11px !important;
	color:#fff;
	margin:0px;
	line-height:14px;
}
.follow_status{
	overflow:hidden;
	margin-top:10px;
}
.follow_status p,.follow_status a{
	border:1px solid #ccc;
	display:inline-block;
	padding:3px 15px;
	border-radius:4px;
	line-height:13px;
	margin:0px;
	font-size:12px;
	float:right;
	cursor:pointer;
	color:#6E6F72;
}
.working_together .owl-nav {
  text-align:center;
}
.working_together .owl-prev, .working_together .owl-next{
	position:absolute;
	width:30px;
	height:97%;
	top:0;
	background:rgba(0,0,0,0.3);
	line-height:160px;
	color:#fff;
	opacity:0;
	
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-ms-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
.working_together .owl-prev{
	left:0;
}
.working_together .owl-next{
	right:0;
}
.working_together .owl-prev:hover,.working_together .owl-next:hover{
	opacity:1;
}
.my_profile_tabs .nav-tabs{
	background:#fff;
}
.my_profile_tabs .nav-tabs > li{
	margin-bottom:0px;
	border-radius:0px;
	position:relative;
	
}
.my_profile_tabs .nav > li > a{
	border-right:1px solid #ccc;
	border-radius:0px;
	margin:0px;
	border-left:0px;
	font-weight:600;
	text-decoration:none;
	color:#4e4f53;
	font-size:14px;
}
.my_profile_tabs .nav > li > a::after{
	content:"";
	width:15px;
	height:10px;
	display:block;
	position:absolute;
	bottom:-2px;
	left:50%;
	margin-left:-8px;
	
}
.my_profile_tabs .nav > li.active > a::after{
	background:url('../images/photo_arrow.png') no-repeat center center;
}
.my_profile_tabs .nav > li > a:hover, .my_profile_tabs .nav > li > a:focus{
	background:#fff;
	border-radius:0px;
	border-right:1px solid #ccc;
	border-bottom:0px;
	border-left:0px;
}
/*----------------------News feeds fro news feeds home ---------------*/
.home_update_margin{
	margin-bottom:8px;
}
.media-sec{
	padding:0px 15px;
	padding-bottom:0px;
}
.user-info {
  padding:15px 15px 10px;
}
/*.desck{
	min-height:380px;
}*/
.desck .user {
    float: left;
    padding:15px 0 9px 0;
	width:100%;
}
.desck .user .thump {
    float: left;
}
.desck .user .user_info {
    float: left;
    margin-left: 9px;
}
.desck .user .user_info h5 {
    font-size: 15px;
    font-weight: 500;
	color:#4e4f53;
	 margin-bottom: 0;
	 
}
.desck .user .user_info .star_rate {
    display: block;
    margin-top: 3px;
}
.desck .user .user_info .date {
    font-size: 11px;
    font-weight: 400;
	color:#8a8b8d;
}
.desck .user .user_info .proffesion {
    background-image: url("../images/proffessin.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
	font-size:11px;
	color:#8a8b8d;
}
.review_message{
	display:inline-block;
	vertical-align:top;
	border-radius:2px;	
	-moz-border-radius:2px;	
	-ms-border-radius:2px;	
	-o-border-radius:2px;	
	-webkit-border-radius:2px;
	behavior: url(css/PIE.htc);
	background:#afb420;
	margin-right: 1px;
}
.review_message a{
	display:inline-block;
	padding: 3px 8px;
	font-size:12px;
	color:#ffffff;
	font-weight:500;	
	border-top-left-radius:2px;
	border-top-right-radius:0px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:0px;
	
	-moz-border-top-left-radius:2px;
	-moz-border-top-right-radius:0px;
	-moz-border-bottom-left-radius:2px;
	-moz-border-bottom-right-radius:0px;
	
	-ms-border-top-left-radius:2px;
	-ms-border-top-right-radius:0px;
	-ms-border-bottom-left-radius:2px;
	-ms-border-bottom-right-radius:0px;
	
	-o-border-top-left-radius:2px;
	-o-border-top-right-radius:0px;
	-o-border-bottom-left-radius:2px;
	-o-border-bottom-right-radius:0px;
	
	-webkit-border-top-left-radius:2px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:2px;
	-webkit-border-bottom-right-radius:0px;
	behavior: url(css/PIE.htc);
	transition:background linear .2s;
	-moz-transition:background linear .2s;
	-ms-transition:background linear .2s;
	-o-transition:background linear .2s;
	-webkit-transition:background linear .2s;
}
 .review_message a:hover{
	background:#9ba01a;	
}
.review_message a+a{
	background:url(../images/review_border.png) repeat-y left top;	
	border-top-left-radius:0px;
	border-top-right-radius:2px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:2px;
	
	-moz-border-top-left-radius:0px;
	-moz-border-top-right-radius:2px;
	-moz-border-bottom-left-radius:0px;
	-moz-border-bottom-right-radius:2px;
	
	-ms-border-top-left-radius:0px;
	-ms-border-top-right-radius:2px;
	-ms-border-bottom-left-radius:0px;
	-ms-border-bottom-right-radius:2px;
	
	-o-border-top-left-radius:0px;
	-o-border-top-right-radius:2px;
	-o-border-bottom-left-radius:0px;
	-o-border-bottom-right-radius:2px;
	
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:2px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:2px;
	margin-left:-4px;
}
 .review_message a i {
    font-size: 14px;
}
.like a, .like_dup a{
	display:inline-block;
	font-size:12px;
	color:#ffffff;
	font-weight:500;
	background:#ff9e05;
	padding: 3px 8px 3px 10px;
	border-radius:2px;	
	-moz-border-radius:2px;	
	-ms-border-radius:2px;	
	-o-border-radius:2px;	
	-webkit-border-radius:2px;
	behavior: url(css/PIE.htc);	
	transition:background linear .2s;
	-moz-transition:background linear .2s;
	-ms-transition:background linear .2s;
	-o-transition:background linear .2s;
	-webkit-transition:background linear .2s;	
}
.like a:hover, .like_dup a:hover{
	background:#dc8803;	
}
.like a.liked i{
	color:#a06201;
}
 .like a i, .share a i{
	 margin-right:4px;
}
.share a:hover{
	background:#204490;	
}
.desck .share, .desck .like, .desck .review_message,.like_dup{
	display:inline-block;
}
a.share{
	float:right;
}
a.share i{
	margin-right:0px;	
}
a.share:hover > i{
	color:#3b5998;	
}
.share a {
    background: none repeat scroll 0 0 #3b5998;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 8px 3px 10px;
    transition: background 0.2s linear 0s;
}
.share a:hover {
    background: none repeat scroll 0 0 #204490;
}
.desck p{
    color: #4e4f53;
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
}
.comment-count{
	margin-top:9px;
}
.comment-count .comment, .comment-count .like{
	display:inline-block;
	color:#c6c6c6;
}
.ad{
	margin-bottom:20px;
}
.desck .share_social {
  border: medium none;
  color: #a7a6a6;
  float: left;
  margin-top: 6px;
}
.desck .share_social a {
    color: #c6c6c6;
    font-size: 18px;
    font-weight: 300;
    padding: 0px 8px 0px 0px;
}
.share_social {
    border-right: 1px solid #e9e9e9;
    color: #a7a6a6;
    float: left;
}
.comment i{
	font-size:12px;
}
.comment-count .like {
  margin-left: 21px;
}
.mail-sec{
	padding:0px 15px;
	margin-top:8px;
}
.mail-sec a {
  color: #7e7e7f;
  font-size: 12px;
  font-weight:bold;
}
.mail-sec span i{
	margin-right:1px;
}
.mail-sec .addreview{
	margin-left:10px;
}
.mail-sec .fa-chevron-right{
	font-size:12px;
}
.colo{
	color:#7e7e7f;
}
.comment-count .fa{
	padding-right:5px;
}
/*.sticky .notification sup, .notification sup{
	font-size:10px;
	color:#ffffff;
	background:#ff9e05;
	height:20px;
	width:20px;	
	border-radius:300px;	
	-moz-border-radius:300px;	
	-ms-border-radius:300px;	
	-o-border-radius:300px;	
	-webkit-border-radius:300px;
	behavior: url(css/PIE.htc);
	display:block;
	right:-5px;
	top:-9px;
	box-sizing:border-box;
	padding-top:10px;
	position:absolute;
	text-align:center;
	font-weight:normal;
}*/
.sticky .notification .noti_icon{
	margin-top:8px;
}
.postmsg{
	color:#878787;
	font-size:14px;
	font-weight:300;
}
.postmsgs a{
	font-size:15px;
	font-weight:500;
	text-decoration:none;
	color:#4e4f53;
}
.postmsgs{
	margin:0px;
}
.desc-update{
	margin-bottom:0px;
	padding:10px 15px 10px 15px;
}
.count-share-i{
	padding: 7px 15px;
}
.comment-count .like i ,.comment-count .comment i{
	margin-right:4px;
}
.colo{
	font-size:12px;
}

.comment-sec{
	width:100%;
	display:none;
	position:relative;
	height:auto;
}
.comment-secs-n{
	margin-bottom:0px !important;
	border:0px;
	border-bottom:1px solid #ccc;
	background:#f5f5f5;
	padding: 10px 15px 6px;
	display:;
	-moz-border-bottom-left-radius: 3px;
	-os-border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-os-border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.user-img{
	width:30px;
	height:30px;
	overflow:hidden;
	border-radius:50%;
	border:1px solid #dfdfdf;
}
.comments{
	position:relative;
}
.comments .comments_arrow {
  left: -7px;
  position: absolute;
  top: 5px;
}
.comments textarea {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  color: #8a8b8d;
  font-size: 12px;
  font-weight: 400;
  height: 30px;
  padding: 2px 9px;
}
.left-img{
	float:left;
	max-width:265px;
	min-width:180px;
	overflow:hidden;
	position:relative;
}
.right-thumbs{
	width:135px;
	height:135px;
	overflow:hidden;
	margin-left:6px;
	margin-bottom:6px;
	position:relative;
}
.right-thumbs img, .left-img img{
	min-height:100%;
}
.count-5-plus{
	height:276px;
}
.count-7-plus{
	height:307px;
}
.count-7-plus img{
	max-height:500px;
}
.count-2-plus{
	height:270px;
	max-width:270px !important;
	width:270px !important;
}
.count-2-plus+.count-2-plus{
	margin-left:6px;
}
.count-4{
	height:132px !important;
	width:132px !important;
	max-width:132px !important;
	min-width:132px !important;
}
.count-4+.count-4{
	margin-left:6px;
}
.time-post{
	font-size:11px;
	color:#7e7e7f;
}
.progression .progress{
	border-radius:30px;
	overflow:hidden;
}
.media-sec  img{
	max-height:500px;
	border:1px solid #f4f4f4;
}
.smileys{
	display:inline-block;
	width:46%;
	height:31px;
	background:#fff;
	border:1px solid #dfdfdf;
	cursor:pointer;
	position:relative;
	border-radius:3px;
}
.smileys > img {
	padding-top:7px;
}
.upload-pic{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	filter: alpha(opacity=0);
	opacity: 0;
	cursor:pointer;
}
.fixxxeee{
	position:relative;
	width:858px;
	z-index:99;
	background:#ededed;
	padding-bottom:10px;
}
.working_comments{
	margin-top:7px;
}
.border-top-s{
	border-bottom:1px solid #e4e4e4;
	width:1170px;
	position:fixed;
	z-index:1;
}
/*.inner_content_section .inner_top_border{
	border-top:0px;
	padding:0px;
}*/
.sidebar{
	padding-top:7px;
}
.top-fix{
	margin-bottom:0px;
	padding-top:7px;
}
.top-fix input{
	background:#fff url("../images/search_icon.png") no-repeat scroll 98% center;
	border:1px solid #e1e0e0;
	padding:3px 20px 3px 10px;
}
#newsfeed{
}
.marginit{
	margin-top:86px;
}
.working_comments{
	width:100%;
}
 .comments textarea{
}
.hidee{
	height:0px !important;
}
.post_btns input[type="submit"]{
	padding:3px 20px !important;
}
.no-border-sl{
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
#newsfeed img{
	margin-bottom:10px;
}
.close_popup img{
	margin-bottom:0px !important;
}
.time-post i{
	color:#c6c6c6;
}
/*----------Feed Loader------------*/

.feedLoader{
	width:100%;
	height:auto;
	background:#fff;
	border-radius:3px;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}
.feedContainer{
	padding:15px 15px 15px 15px;
}
.img-s{
	width:60px;
	height:60px;
	background:#f7f7f7;
	border-radius:100%;
}
.rectangle-md{
	width:100%;
	margin-bottom:10px;
}
.rectangle-lg{
	width:70%;
}
.rectangle-sm{
	width:15%;
	display:inline-block;
	border-radius:3px;
}
.rectangle, .rectangle-sm{
	height:15px;
	background:#f7f7f7;
	margin-left:10px;
	border-radius:3px;
}
.rectangle{
	width:50%;
	display:inline-block;
}
.rectangle-full{
	margin-top:10px;
	width:100%;
	height:250px;
	background:#f7f7f7;
	margin-left:10px;
	margin-bottom:10px;
	border-radius:3px;
}
.line{
	width:100%;
	height:1px;
	border-bottom:1px solid #f7f7f7;
}
.rectangle-wd{
	width:100%;
	padding:5px 15px 3px;
}
.rectangle-sm-down{
	width:12%;
	height:25px;
	display:inline-block;
	background:#f7f7f7;
	border-radius:3px;
	margin-right:5px;
	border-radius:3px;
}
/*---------------------comment box-------*/
.comment_box_outer{
	background:#ffffff;
	border-bottom:1px solid #ccc;
}
.comment_box_outer .working_comments {
  background: #f4f4f4 none repeat scroll 0 0;
  border: 1px solid #ededed;
  border-radius: 3px;
  margin: 4px 0;
  padding: 4px;
}
.comment_box_outer .working_comments .thumb,.comment_box .comment_box_inner .thumb{
	float: left;
	height: 30px;
	overflow: hidden;
	width: 30px;
	border-radius:100px;
}
.comment_box_outer .working_comments .thumb img,.comment_box .comment_box_inner .thumb img{
	/*border-radius: 300px;*/
	height: auto;
	width: 100%;
}
.comment_box_outer .working_comments .comments {
	display: block;
	margin-left: 53px;
	position: relative;
}
.comment_box_outer .working_comments .comments .comments_arrow{
	left: -7px;
	position: absolute;
	top: 5px;
}
.comment_box_outer .working_comments .comments input[type="text"],.comment_box_outer .working_comments .comments textarea{
	border:1px solid #eaeaea;
	
}
.comment_box_outer .working_comments .comments .upload_section {
  margin-top: 15px;
}
.comment_box_outer .comment_box{
	border-bottom:1px solid #eeeeee;
	padding:10px 0px 0px;
	background:#fff;
}
.comment_box_outer .comment_box .comment_box_inner{
	padding-left:20px;
	position:relative;
}
.reply_comment .comment_box_inner:last-child{
	border-bottom:0px;
}
.comment_box_outer .comment_box .comment_box_inner .comment_descr{
	display: block;
	margin-left: 40px;
	position: relative;
}
.comment_box_outer .comment_box .comment_box_inner .comment_descr h3{
	color:#4e4f53;
	font-size:13px;
	font-weight:600;
	margin-bottom:0px !important;
}
.comment_box_outer .comment_box .comment_box_inner .comment_descr h3 a{
	color:#4e4f53;
}
.comment_box_outer .comment_box .comment_box_inner .comment_descr p{
	margin-bottom:2px !important;
	font-size:12px;
	font-weight:normal;
	color:#4e4f53;
}
.comment_box_outer .comment_box .comment_box_inner .comment_descr p.bottomTime{
	color:#A7A6A6;
	font-size:11px;
	font-weight:bold;
}
.comment_box_outer .comment_box .comment_box_inner .comment_descr p.bottomTime a{
	color:#A7A6A6;
}
.comment_box_outer .comment_box .comment_box_inner .comment_descr p.bottomTime span,.comment_box_outer .comment_box .comment_box_inner .comment_descr p.bottomTime span a{
	color:#a7a6a6;
}
.comment_box_outer .comment_box .comment_box_inner .comment_descr p.bottomTime span a:hover{
	color:#A7A6A6;
}
.comment_box_outer .comment_box .comment_box_inner .comment_descr p.bottomTime span.seperator{
	color:#A7A6A6;
	padding:0px 10px;
	font-weight:bold;
	font-size:14px;
}
.bottomTime .commentLikeBtn.liked,.bottomTime .commentLikeBtn.liked > span{
	color:#FF9E05 !important;
}
.comment_box_outer .comment_box .comment_box_inner .reply_comment {
  border-left: 1px solid #eeeeee;
  margin-left: 43px;
}
.comment_box_outer .comment_box .comment_box_inner .reply_comment .working_comments{
	margin-right:0px !important;
	margin-bottom:0px !important;
}
.reply_comment .comment_box_inner {
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
  padding: 6px 10px !important;
}
.ajaxloader,.showReplyComments{
	display:none;
}
.comment_action{
	position: absolute;
	right: 11px;
	top: -12px;
	padding: 10px;
	cursor:pointer;
}
.reply_comment .comment_action{
	top: 1px !important;
}
.comment_action .comment_action_drop{
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #cbcaca;
	border-radius: 3px;
	box-sizing: border-box;
	display: none;
	margin-right: 15px;
	margin-top: 5px;
	padding: 2px 10px;
	position: absolute;
	right: -18px;
	text-align: left;
	width: 150px;
	z-index: 999;
	box-shadow:2px 1px 5px 0 rgba(150, 150, 150, 0.2);
	
}
.comment_action .comment_action_drop .arrow{
	position: absolute;
	right: 11px;
	top: -14px;
}
.comment_action .comment_action_drop a{
	color: #4e4f53;
	float: left;
	overflow: hidden;
	width: 100%;
	font-size:12px;
}
.comment_action .comment_action_drop a i{
	font-size:13px;
	display:inline-block;
	vertical-align: calc(1.5px);
}
.see_more_videos {
  background: #f0f0f0 none repeat scroll 0 0;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  color: #4e4f53;
  display: block;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 6px;
}
a.see_more_videos:hover{
	color: #4e4f53;
}
.home_video{
	position:relative;
	display:inline-block;
}
.home_video a.playbtn {
  background: rgba(0, 0, 0, 0) url("../images/play_btn_vid.png") no-repeat scroll center center;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
#message_notification a{
	color:#4E4F53;
}
.comment_descr_input2{
	height:32px !important;
}
.reply_comment .working_comments{
	width:100%;
}
.like{
	cursor:pointer;
}

.dropMe_down:hover{
	color:#ccc;
}
.dropMe_down:visited,.dropMe_down:focus{
	color:#ededed;
}
.drop_down_delete{
	width:180px;
	position:absolute;
	top:30px;
	right:10px;
	height:auto;
	border:1px solid rgba(0, 0, 0, .15);
	display:none;
	background:#fff;
	padding:3px 0px;
	
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	-ms-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	-o-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
	
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	z-index:9;
}
.drop_down_delete li{
	color:#4e4f53;
	display:block;
	padding:5px 15px;
	font-size:12px;
	line-height:16px;
}
.drop_down_delete li span{
	display:block;
}
.drop_down_delete li i{
	display:inline-block;
	vertical-align:calc(1px);
	margin-right:3px;
}
.drop_down_delete li:hover{
	background:#4e4f53;
	color:#fff;
}
.helpText{
	font-size:11px;
	color:#9197a3;
	margin-left:12px;
}
.review_box .thump{
	width:40px;
	height:40px;
}

/*--------------------------*/
.request-back .modal-body{
	padding:15px;
}
.request-back .modal-footer{
	margin-top:0px;
}
.request-back .form-group{
	margin-bottom:0px;
}
.user-post-info-ad{
	margin-bottom:10px;
}
.user-post-info-ad .img-section{
	width:50px;
	height:50px;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
}
.pot-user-info{
	display:inline-block;
	margin-left:10px;
}
.pot-user-info p{
	margin-bottom:0px;
	line-height:16px;
}
.request-back label{
	font-weight:normal;
}
.request-back .modal-footer .btn-primary{
	background:#afb420 !important;
	color:#fff;
	border:0px;
	font-size:13px;
}
.request-back .modal-footer{
	padding:10px 15px;
}
.request-back .modal-header h4{
	font-size:15px;
	font-weight:400;
}
.request-back .profesn{
	font-size:12px;
}
.desc{
	margin-top:10px;
}
.inside_market{
	margin-top:12px;
	margin-left:10px;
}
.requestsentDone{
	background:#afb420 none repeat scroll 0 0 !important;
}
.fixed {
    position: fixed;
	width:312px !important;
}
.main_container_sidebar_rel{
	width:312px;
	position:relative;
}
.no_border_btm{
	border-bottom:0px;
}
.no_margin_btm{
	margin-bottom:0px;
}
.visitors_box{
	margin:10px 0;
}