@import url("polaroids.css");
.custom-upload{
	margin-bottom:10px;
}
.custom-upload a {
  color: #4e4f53;
  text-decoration: none;
}
.upload-btn {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  padding: 6px 7px;
}
.upload-btn i, .upload-btn img {
  margin-right: 4px;
}