@charset "utf-8";
/* CSS Document */

.user_greetings{
	height:290px;
	background:url('../images/greeting.jpg');
	padding:90px 70px;
}
.friends_suggest h2,.greeting_head h5{
	margin-bottom:0px;
}
.friends_suggest h5, .friends_suggest h2{
	font-weight:bold;
}
.friends_suggest h2{
	font-size:18px;
}
.friends_suggest h5{
	font-size:12px;
	font-weight:bold;
}
.greeting_head h5{
	font-size:22px;
	font-weight:400;
}
.friends_suggest h5,.greeting_head h2{
	margin-bottom:10px;
}
.greeting_head h2{
	font-size:44px;
	font-weight:bolder;
}
.greeting_desc p{
	line-height:16px;
}
.friends_suggest{
	padding:15px;
}
.worked_together_box{
	background: #fff none repeat scroll 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 4px;
	display: inline-block;
	height: 210px;
	margin-right: 0;
	overflow: hidden;
	width: 175px;
}
.worked_together_box:last-child{
	margin-right:0px;
}
.cover_image_profile{
	height: 175px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.cover_image_profile img{
	width:100%;
	min-height:100%;
}
.profile_img_info {
  margin-top: -37px;
  padding: 0 10px;
  position: relative;
  z-index: 9;
}
.img_profiles{
	width:50px;
	height:50px;
	border-radius:100%;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
}
.shadow_worked{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
}
.shadow_worked img{
	width:100%;
}
.user_profile_info{
	display:inline-block;
	width:100%;
	color:#fff;
	margin-top:5px;
}
.user_profile_info h5{
	font-size:12px;
	color:#fff;
	margin:0px;
	font-weight:500;
}
.user_profile_info p{
	font-size:11px !important;
	color:#fff;
	margin:0px;
	line-height:14px;
}
.follow_status{
	overflow:hidden;
	margin-top:10px;
}
.follow_status p,.follow_status a{
	border:1px solid #ccc;
	display:inline-block;
	padding:3px 15px;
	border-radius:4px;
	line-height:13px;
	margin:0px;
	font-size:12px;
	float:right;
	cursor:pointer;
	color:#6E6F72;
}
.working_together .owl-nav {
  text-align:center;
}
.working_together .owl-prev, .working_together .owl-next{
	position:absolute;
	width:30px;
	height:97%;
	top:0;
	background:rgba(0,0,0,0.3);
	line-height:160px;
	color:#fff;
	opacity:0;
	
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-ms-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
.working_together .owl-prev{
	left:0;
}
.working_together .owl-next{
	right:0;
}
.working_together .owl-prev:hover,.working_together .owl-next:hover{
	opacity:1;
}
.shadow_worked img{
	margin-bottom:0px !important;
}
.friends_suggest_users .profile_border_box{
	padding:0px;
}
.friends_suggest_users .follow_status a{
	float:none;
}
