#notification_li{position:relative}
#notificationContainer {
background: none repeat scroll 0 0 #fff;
border: 1px solid #cbcaca;
border-radius: 3px;
box-sizing: border-box;
display: none;
margin-right: 0px;
margin-top: 7px;
padding: 10px;
position: absolute;
right: -26px;
text-align: right;
width: 409px;
z-index: 99999999999;

-webkit-box-shadow: 4px 1px 10px 0px rgba(150,150,150,0.75);
-moz-box-shadow: 4px 1px 10px 0px rgba(150,150,150,0.75);
box-shadow: 4px 1px 10px 0px rgba(150,150,150,0.75);
}

#notificationTitle {
z-index: 1000;
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
width: 384px;
}
#notificationsBody {
padding: 10px 0px 0px 0px !important;
min-height:300px;
text-align: left;
}
#notificationFooter {
background-color: #EDEDED;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
margin-top:10px;
}
#notificationFooter a,#notificationFooter a:hover{
	color:#4E4F53;
}
#notificationContainer .arrow_notification{
position: absolute;
right: 35px;
top: -14px;
}
.invitefrind #notificationContainer .arrow_notification{
	top:-15px;
}
#notificationsBody .notificationBox{
	background: none repeat scroll 0 0 #ececec;
	transition: background 0.2s linear 0s;
	overflow:hidden;
}
#notificationsBody .notificationBox+.notificationBox{
	border-top:1px solid #ffffff;
}
#notificationsBody .notificationBox:nth-child(2n+1){
	background: none repeat scroll 0 0 #f5f4f4;
}
#notificationsBody .notificationBox .noti_imag{
	float:left;
	margin:5px;
	width:40px;
	height:40px;
	overflow:hidden;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
}
#notificationsBody .notificationBox .noti_text{
	float: left;
	font-size: 14px;
	margin: 10px 0 10px 6px;
	width: 70%;
}
#notificationsBody .notificationBox .noti_text p{
	color: #4e4f53;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 2px;
	text-align:left;
	font-weight:300;
}
#notificationsBody .notificationBox .noti_text p a{
	color: #4e4f53;
	font-weight:300;
}
#notificationsBody .notificationBox .noti_text p b a{
	font-weight:bold !important;
}
#message_notification{
	position:relative;
}
.message_Container{
	position:absolute;
	width:400px;
	min-height:350px;
	background:#fff;
	border:1px solid #ccc;
	right:-20px;
	top:34px;
	z-index:999;
	display:none;
	
	
	-webkit-box-shadow: 4px 1px 10px 0px rgba(150,150,150,0.75);
	-moz-box-shadow: 4px 1px 10px 0px rgba(150,150,150,0.75);
	box-shadow: 4px 1px 10px 0px rgba(150,150,150,0.75);
}
.arrow_message{
	position:absolute;
	top:-14px;
	right:25px;
}
.invitefrind .arrow_message{
	top:-15px;
}
.no_messagez{
	position:absolute;
	width:100%;
	height:100%;
	color:#4e4f53;
	text-align:center;
}
.no_messagez img{
	margin-top:70px;
	margin-bottom:10px;
}
.no_messagez p{
	font-size:18px;
	margin-bottom:10px;
}
.no_messagez span{
	font-size:12px;
	line-height:10px !important;
}
.mesage {
  display: inline-block;
  position:relative;
}
#notificationsMsgBody{
	min-height:300px !important;
	border-top:1px solid #dddddd;
}
.msg-user-info{
	padding:10px 10px 10px 55px;
}
<!------------------------------------------------------>

#notificationsMsgBody a{
	text-decoration:none !important;;
}
#notificationsMsgBody .message-items{
	padding:1px 5px !important;
	border-bottom:1px solid #e0e0e0 !important;
	transition:0.3s !important;
	cursor:pointer !important;
}
#notificationsMsgBody .message-items:last-child{
	border-bottom:0px !important;
}
.notificationTitleMsg{
	margin-left:9px !important;
}
#notificationsMsgBody .user-img{
	float: left !important;
	height: 40px !important;
	margin: 5px !important;
	overflow: hidden !important;
	width: 40px !important;
	border-radius:100%;
}
#notificationsMsgBody .user-img img{
	width:100% !important;
	min-height:100% !important;
}
#notificationsMsgBody .user-name-msg a{
	color:#4e4f53 !important;
	font-weight:500 !important;
	font-size:12px;
}
#notificationsMsgBody .user-name-msg p, #notificationsMsgBody .profession-msg p, #notificationsMsgBody .user-msg-brief p{
	margin-bottom:0px !important;
	line-height:15px;
}
#notificationsMsgBody.user-msg-brief p i{
	margin-right:4px !important;
	color:#ccc !important;
}
#notificationsMsgBody .profession-msg,#notificationsMsgBody .profession-msg p a{
	font-size:13px !important;
	color:#afb420 !important;
	font-weight:500 !important;
	text-decoration:none !important;
}
#notificationsMsgBody .user-msg-brief{
	font-weight:400 !important;
	font-size:13px !important;
}
#notificationsMsgBody .user-msg-brief p a{
	color:#9e9e9e !important;
	font-size:11px;
	text-decoration:none;
}
#notificationsMsgBody .check-one .checkbox{
	margin:0px !important;
	margin-left:10px !important;
}
#notificationsMsgBody .date-msg{
	font-size:10px !important;
	color:#78787a !important;
}
#notificationsMsgBody .message-items{
	background: none repeat scroll 0 0 #ececec;
	transition: background 0.2s linear 0s !important;
	overflow:hidden !important;
}
#notificationsMsgBody .message-items+.message-items{
	border-top:1px solid #ffffff !important;
}
#notificationsMsgBody .message-items:nth-child(2n+1){
	background: none repeat scroll 0 0 #f5f4f4;
}
#notificationsMsgBody .message-items:hover{
	background:#f1f1f1;
}