@charset "UTF-8";
/* CSS Document */
.online_chat_sidebar{
	width:100%;
	height:auto;
	background:#fff;
	border:1px solid #e1e0e0;
	position:relative;
}
.header_online_sidebar{
	width:100%;
	height:auto;
	border-bottom:1px solid #ccc;
	padding:5px 10px;
	background:#4e4f53;
}
.header_online_sidebar h4{
	font-size:13px;
	font-weight:400;
	margin:0px;
	color:#fff;
}
.search_online_sec{
	position:absolute;
	bottom:0;
	left:0;
	height:40px;
	background:#fff;
	border-top:1px solid #e1e0e0;
	z-index:99;
	width:100%;
}
.search_online_sec input{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	border:0px;
	border-radius:0px;
	border-bottom:1px solid #e1e0e0;
	font-size:13px;
}
.body_online_friends{
	height:400px;
	overflow-y:scroll;
	overflow-x:hidden;
	margin-bottom:39px;
}
.count_friends{
	font-size:11px;
	padding:1px 4px;
	background:#ff9e05;
	margin-left:5px;
	border-radius:3px;
	line-height:15px;
}
.too_box_caht{
	width:100%;
	height:auto;
	background:#f9f9f9;
	border-bottom:1px solid #e1e0e0;
	padding:5px 6px;
}
.self_info, .settings_chat{
	display:inline-block;
	vertical-align:middle;
}
.self_info{
	width:70%;
}
.settings_chat{
	width:28%;
	text-align:right;
}
.settings_chat a{
	text-decoration:none;
	font-size:15px;
	font-weight:400;
	color:#4e4f53;
	padding:3px 10px;
	background:#fff;
	border:1px solid #e1e0e0;
	border-radius:3px;
}
.userInfo_online_chat,.img_user{
	display:inline-block;
	vertical-align:top;
}
.img_user,.img_friends_online{
	width:30px;
	height:30px;
	overflow:hidden;
	border-radius:100%;
	margin-right:5px;
}
.userInfo_online_chat h4,.userInfo_online_chat p{
	margin:0px;
}
.userInfo_online_chat h4{
	font-size:13px;
	font-weight:bold;
}
.userInfo_online_chat a{
	font-size:11px;
	padding-left:10px;
	line-height:23px;
	display:inline-block;
	color:#4e4f53;
	background:url("../images/status_online.png") no-repeat scroll left center;
}
.userInfo_online_chat a i{
	margin-left:4px;
	display:inline-block;
}
.online_members{
	padding:5px 10px;
	border-bottom:1px solid #f5f5f5;
	
}
.info_user, .img_friends_online{
	display:inline-block;
	vertical-align:middle;
}
.info_user h4{
	font-size:13px;
	margin:0px;
	font-weight:400;
}
.staus .fa-mobile, .staus .fa-desktop{
	vertical-align:middle;
	color:#ccc;
}
.staus .fa-desktop{
	font-size:10px;
}