.pagination a{
	 border: 1px solid #ddd;
    float: left;
    list-style: outside none none;
    margin: 0 1px;
	padding:5px 10px;
	color:#4E4F53;
}
.pagination >.current {
    color: #fff;
    background: #8A8B8D;
    text-decoration: none;
}

.pagination a :hover,
.pagination >a >.current {
    border-color: #65cea7;
}
.pagination a:hover,
.pagination a :hover {
    color: #C7C7C7;
    background: #fff;
    border-color: #DDDDDD;
}
.paginationDiv{
	float:right;
}
.pagination {
	margin:0 !important;
}