body,.top_section{
	background:#ededed !important;	
}
.post_job_main{
	background: #ffffff none repeat scroll 0 0;
	float: right;
	width: 100%;
	padding:15px;
	position:relative;
	z-index:1;
	border-bottom:1px solid #ccc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.post_job_main h5{
	background-image: url("../images/loudspeaker.png");
	background-repeat: no-repeat;
	color: #4e4f53;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 0;
	padding-left: 25px;
}
.post_job_form label{
	color:#4E4F53;
}
.post_job_form input[type="text"], input[type="url"], input[type="tel"], input[type="email"], input[type="password"], select, textarea{
	border:1px solid #cccccc ;
}
.head-sec {
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 8px 13px;
  position: relative;
  margin-bottom:5px;
}
.head-sec h5 {
  color: #4e4f53;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 !important;
}
.arw-point {
  background: rgba(0, 0, 0, 0) url("../images/arrow-down-grey.png") no-repeat scroll center center;
  bottom: -1.5px;
  height: 7px;
  left: 30px;
  position: absolute;
  width: 16px;
}
.container-compress{
	width:80%;
}
.container-compress .input-group-addon{
	background:#fff;
	color:#ccc;
}
.group-span-filestyle .btn-default,
.btn-log {
	background:#4e4f53;
	color:#fff;
	border:1px solid #4e4f53;
	outline:none;
	height:auto;
}
.btn-log{
	padding:4px 12px;
	font-size:13px;
}
	.btn-log:hover{
		background:#4e4f53;
		color:#fff;
		border:1px solid #4e4f53;
		outline:none;
	}
.group-span-filestyle:focus{
	outline:none;
}
.bootstrap-filestyle input{
	font-size:12px;
}
.bootstrap-filestyle{
	z-index:1;
}
.input-group{
	margin-bottom:15px;
}
select{
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	appearance:none;
	background:#fff url("../images/review_top_arrow.png") no-repeat scroll 95% center !important;
}
textarea{
	box-shadow:none !important;
}
#mp_type{
	background-position:97% center !important;
}
.ui-datepicker{
	position:relative;
	z-index:6;
}
form.cmxform label.error, label.error {
	/*display:block;*/
	color:#933;
	position:absolute;
	right:20px !important;
	display:block;
	margin-top:-35px !important;
	
}
.wysihtml5-toolbar .btn{
	font-size:13px;
	color:#4e4f53;
}