body,.top_section{
	background:#ededed;	
}
.whiteBg{
	background-color:#ffffff;
	padding:10px;
}
.visitor_head_box{
	background-color:#ffffff;
	padding:8px 13px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	position:relative;
}
.visitor_head_box h5{
	color: #4e4f53;
	font-size: 14px;
	font-weight: 500;
	margin:0 !important;
	line-height:30px;
}
.visitor_list_box{
	padding:15px;
	background-color:#ffffff;
	margin:5px 0px !important;
	min-height:500px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	border-bottom:1px solid #ccc;
}
.visitor_list_box li{
	margin-bottom:10px;	
}
.visitor_list_box .visitor_inner_box{
	border-bottom:1px solid #E2E0E1;
	position:relative;
}
.visitor_list_box .image_thumb{
	width:100px;
	height:100px;
	overflow:hidden;
}
.visitor_list_box .image_thumb img{
	max-width:100%;
}
.visitor_list_box .visitor_box{
	margin-left:115px;
}
.visitor_list_box .visitor_box p{
	margin-bottom:0px !important;
	font-size:12px;
	color:#a3a3a3;
}
.visitor_list_box .visitor_box p.name_head{
	font-size:14px;
	font-weight:500;
}
.visitor_list_box .visitor_box p.name_head a{
	color:#4e4f53;
}
.visitor_list_box .visitor_box .online_status{
	color:#B0B421;
}
.visitor_list_box .visitor_box .offline_status{
	color:#D3D3D3;
}
.visitor_list_box .visitor_box .follow_status_box{
	padding-bottom:5px;
}
.visitor_list_box .visitor_box .follow_status_box .follow_status{
	bottom: 1px;
	margin-top: 7px;
	position: absolute;
	right: 5px;
	text-align:right;
	width:200px;
	/*background-color: #4c4d51;*/
}
.visitor_list_box .visitor_box .follow_status_box .follow_status a.follow,.visitor_list_box .visitor_box .follow_status_box .follow_status a.following,.visitor_list_box .visitor_box .follow_status_box .follow_status a.friend{
	color: #ffffff;
	padding:3px 17px 3px 8px;
	font-size: 12px;
	font-weight: 400;
	border-radius: 3px;
	font-weight:600;
	display:inline-block;
	line-height:16px;
	
	
}
.visitor_list_box .visitor_box .follow_status_box .follow_status a.follow{
	background: none repeat scroll 0 0 #afb420;
}
.visitor_list_box .visitor_box .follow_status_box .follow_status a.following{
	background: none repeat scroll 0 0 #fff;
	color:#4c4d51;
	font-weight:500;
	border:1px solid #ccc;
}
.visitor_list_box .visitor_box .follow_status_box .follow_status a.friend{
	border:1px solid #ccc;
	color:#4e4f53;
	font-weight:500;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ebebeb+100 */

background: #ffffff; /* Old browsers */

background: -moz-linear-gradient(top,  #ffffff 1%, #ebebeb 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #ffffff 1%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #ffffff 1%,#ebebeb 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #ffffff 1%,#ebebeb 100%); /* IE10+ */

background: linear-gradient(to bottom,  #ffffff 1%,#ebebeb 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */

}
.static_right_adv_panel{
	background:#ffffff;
	padding:10px;
	width:100%;
}
.sidebar .static_right_adv_panel .advertisement_box .adlink{
	color: #4e4f53;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 4px;
	overflow: hidden;
}
.sidebar .static_right_adv_panel .advertisement_box .adlink span + span{
	float:right;
}
.sidebar .static_right_adv_panel .advertisement_box .adlink a{
	color: #afb420;
	font-weight: 400;
	text-decoration: underline;
}
.sidebar .static_right_adv_panel .advertisement_box .ad_text h6{
	font-size:15px;
	color:#4e4f53;
	font-weight:400;
	margin-bottom:0px;	
}
.sidebar .static_right_adv_panel .advertisement_box .ad_text .site{
	font-size:12px;
	color:#4e4f53;
	font-weight:500;
	margin-bottom:4px;
	line-height:15px;	
}
.sidebar .static_right_adv_panel .advertisement_box .ad_text .disc{
	font-size:12px;
	color:#8a8b8d;
	line-height:15px;
	margin-bottom:2px;
}
.fixedSidebar{
	position:fixed;
	top:0;
}
.whiteBg .search_box input[type="text"]{
	background: url("../images/search_icon.png") no-repeat scroll 96% center #fff;
	border: 1px solid #e1e0e0;
	border-radius: 1px;
	color: #9b9b9b;
	font-size: 14px;
	padding: 3px 30px 3px 7px;
}
.arw-point{
  background: rgba(0, 0, 0, 0) url("../images/arrow-down-grey.png") no-repeat scroll center center;
  bottom: -1px;
  height: 7px;
  left: 30px;
  position: absolute;
  width: 16px;
}
.side_mark{
	border-right:1px solid #ccc;
	position:absolute;
	width:1px;
	height:20px;
	right:0;
	bottom:0;
}
.whiteBg{
	margin-bottom:10px;
}

.tab_white_search{
	width:100%;
	height:auto;
	background:#fff;
	margin-bottom:5px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.section_search ul li{
	list-style:none;
	display:inline-block;
	padding:8px 13px;
	font-size:14px;
	color:#8c8c8c;
	position:relative;
	cursor:pointer;
}
.section_search ul li+li{
	border-left:1px solid #ededed;
}
.section_search ul li a{
	color:#8c8c8c;
}
.section_search ul li.hactive a{
	color:#4e4f53 !important;
	font-weight:500;
}
.search-img{
	width:100px;
	height:100px;
	overflow:hidden;
}
.search-img img{
	width:100%;
	min-height:100%;
}
.section_search span input{
	width:250px;
	height:25px;
	border:1px solid #ccc;
	padding:3px 12px 3px 30px;
	font-size:12px;
	background:url('../images/search_icon.png') no-repeat 6px center;
}
.border-support{
	position:relative;
}
.section_search ul {
  display: inline-block;
}
.section_search span {
  display: inline-block;
  float: right;
  padding: 12px 10px;
}
.point-it{
	width:16px;
	height:7px;
	background:url('../images/arrow-down-grey.png') no-repeat center;
	position:absolute;
	bottom:-9.5px;
	left:30px;
}
.section_search {
  border-bottom: 1px solid #ccc;
}
@media only screen and  (max-width:1200px){
	.fixedSidebar{
		position:inherit;
	}
}