@import url(http://fonts.googleapis.com/css?family=Varela+Round);
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.wcd{width:33%; height:40px; float:left;}
.wcd-logo{font-size: 36px; color: #fff;text-align: center; float:left; cursor: pointer;  color:#fff; font-size: 32px; font-family: 'Varela Round', sans-serif;
-webkit-transition:color 0.3s ease-in;  -moz-transition:color 0.3s ease-in; x²-o-transition:color 0.3s ease-in; transition:color 0.3s ease-in;
   }
   .wcd-logo:hover{color:#3facff;}
.wcd-tuto{ font-family: 'Varela Round', sans-serif; color: #fff; font-size: 16px; line-height: 36px;}
.webcodo-top{width:100%; height:40px; background-color:#232323}
/* Css Shadow Effect for the prod-box and prod-box-list div */
 .shadow{
    -webkit-box-shadow: 0px 0px 18px rgba(50, 50, 50, 0.31);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.31);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.31);
}

.clear{clear: both;}
.tuto-cnt{width: 480px; background-color: #fff; border:#ccc 1px solid; height:auto; min-height: 400px; margin: 40px auto; padding: 40px; overflow: auto; }

hr{ margin: 10px 0; border:none; border-top: #ccc 1px dotted;}

/*  First Example with big stars */
.rate-ex1-cnt{
	width:225px; height: 40px;
	border:#e9e9e9 1px solid;
	background-color:  #f6f6f6;
}
.rate-ex1-cnt .rate-btn{
	width: 45px; height:40px;
	float: left;
	background: url(../images/rating/rate-btn.png) no-repeat;
	cursor: pointer;
}
.rate-ex1-cnt .rate-btn:hover, .rate-ex1-cnt  .rate-btn-hover, .rate-ex1-cnt  .rate-btn-active{
	background: url(../images/rating/rate-btn-hover.png) no-repeat;
}
/* End first Example with big stars */

/*  Second Example with big stars */
.rate-ex2-cnt{
	width:auto;
}
.rate-ex2-cnt .rate-btn{
	width: 23px; height:21px;
	float: left;
	background: url(../images/rating/rate-btn2.png) no-repeat;
	cursor: pointer;
	margin-right:6px;
}
.rate-ex2-cnt .rate-btn:hover, .rate-ex2-cnt  .rate-btn-hover, .rate-ex2-cnt  .rate-btn-active{
	background: url(../images/rating/rate-btn2-hover.png) no-repeat;
}
/* End second Example with big stars */

/*  Third Example with big stars */
.rate-ex3-cnt{
	width:85px; height: 17px;
	border:#e9e9e9 1px solid;
	background-color:  #f6f6f6;
}
.rate-ex3-cnt .rate-btn{
	width: 17px; height:17px;
	float: left;
	background: url(../images/rating/rate-btn3.png) no-repeat;
	cursor: pointer;
}
.rate-ex3-cnt .rate-btn:hover, .rate-ex3-cnt  .rate-btn-hover, .rate-ex3-cnt  .rate-btn-active{
	background: url(../images/rating/rate-btn3-hover.png) no-repeat;
}
/* End third Example with big stars */
/* rate result */
.rate-result-cnt{
	width: 82px; height: 18px;
	position: relative;
	background-color: #ccc;
	border: #ccc 1px solid;
}
.rate-stars{
	width: 82px; height: 18px;
	background: url(../images/rating/rate-stars.png) no-repeat;
	position: absolute;
}
.rate-bg{
	height: 18px;
	background-color: #ffbe10;
	position: absolute;
}

.remodal .rate_table .rate-ex2-cnt{
	border:none;
}
.remodal .rate_table .tr{
	padding:5px !important;
}
.remodal .rate_table .rate-ex2-cnt{
	float:left;
	width:75%;
	margin-top:6px;
}
.remodal .rate_table input[type="button"]{
	padding:2px 15px !important;
	font-size:14px !important;
}
