@charset "UTF-8";
/* CSS Document */
.top_section{
	background:#ededed;
}
.pagination_box_jobs {
	position:relative;
	margin-bottom:9px;
}
.pagination_box_jobs .jobs_search{
	font-size:15px;
	font-weight:600;
	color:#000;
	display:inline-block;
	margin-top:5px;
}
.pagination_box_jobs .result_job{
	font-size:12px;
	color:#606060;
}
.post_jobs{
	display:inline-block;
}
.post_jobs a{
	color:#4e4f53;
	font-size:13px;
	padding:5px 12px;
	background:#fff;
	border:1px solid #ccc;
	border-radius:3px;
	position:absolute;
	right:53px;
	top:0px;
}
.content-jobs a{
	font-size:13px;
	color:#4e4f53;
}
.job-head p{
	font-size:16px;
	font-weight:500;
	color:#4e4f53;
}
.info-job p{
	margin-bottom:0px;
}
.place-job i{
	color:#4e4f53;
}
.place-job p{
	font-size:12px;
	color:#afb420;
}
.minute-info{
	margin-top:10px;
}
.post-info p{
	font-size:12px;
}
.post-info input[type="submit"]{
	font-size:12px;
	padding:4px 20px;
}
.post-info input[type="submit"]:hover{
	background:#414246;
	color:#fff;
}
.dim-me{
	color:#a3a3a3;
}
.serach_filter .upload-help select{
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   background:url('../images/review_top_arrow.png') no-repeat 97% center #fff;
   border:1px solid #cbcbcb;
   font-size:12px;
   height:30px;
   color:#888888;
   font-weight:400;
   padding:2px;
}
.grey-sec-search{
	width:100%;
	height:auto;
	background:#e7e6e6;
	border-radius:3px;
	border-bottom:1px solid #9e9e9e;
	margin-bottom:10px;
	padding:15px 10px;
}
.grey-sec-search .form-group{
	margin-bottom:0px;
}
.grey-sec-search  input{
	border:1px solid #c2c2c2;
	font-size:13px;
	color:#4e4f53;
}
.grey-sec-search .btn{
	width:100%;
	background:#4e4f53;
	color:#fff;
}
.marketplace, .search-place{
	width:100%;
	height:auto;
	margin-bottom:10px;
	-moz-border-bottom-right-radius:3px;
	-ms-border-bottom-right-radius:3px;
	-o-border-bottom-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	behavior: url(css/PIE.htc);
}
.newBaground{
	background:#fff;
	padding:15px;
	border-bottom:1px solid #ccc;
}
.no-padding_no_bg{
	background:none;
	padding:0px;
	border-bottom:none;
}
.marketplace-image{
	width:160px;
	height:120px;
	overflow:hidden;
}
.marketplace-image img{
	width:100%;
	min-height:100%;
}
.new-width-marketplace{
	width:180px;
}
.marketplace_main .place-job i{
	color:#bababa;
}
.dark-me{
	color:#4e4f53;
}
.marketplace_main .post-info{
	margin-top:10px;
	padding-bottom:7px;
}
.post-info_down {
	padding-top:3px;
	border-top:1px solid #e4e4e4;
}
.post-info_down p{
	font-size:12px;
	line-height:17px;
}
.market-price{
	margin-top:20px;
	margin-bottom:20px;
}
.market-price a{
	padding:8px 15px;
	background:#afb420;
	color:#fff;
	text-decoration:none;
	border-radius:30px;
}
.tab_white_search{
	width:100%;
	height:auto;
	background:#fff;
	margin-bottom:5px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.section_search ul li{
	list-style:none;
	display:inline-block;
	padding:8px 13px;
	font-size:14px;
	color:#8c8c8c;
	position:relative;
	cursor:pointer;
}
.section_search ul li+li{
	border-left:1px solid #ededed;
}
.section_search ul li a{
	color:#8c8c8c;
}
.section_search ul li.hactive a{
	color:#4e4f53 !important;
	font-weight:500;
}
.search-img{
	width:100px;
	height:100px;
	overflow:hidden;
}
.search-img img{
	width:100%;
	min-height:100%;
}
.search-main .job-head p{
	font-size:14px;
	display:inline-block;
}
.search-main .job-head p a{
	color:#4e4f53;
}
.new-width-search{
	width:120px;
}
.status-user{
	font-size:12px;
	color:#afb420;
	margin-bottom:0px;
}
.follow-btn a{
	font-size:12px;
	color:#4e4f53;
	padding:3px 8px;
	border-radius:3px;
	display:inline-block;
	margin-top:3px;
	font-weight:500;
	border:1px solid #ccc;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ebebeb+100 */

background: #ffffff; /* Old browsers */

background: -moz-linear-gradient(top,  #ffffff 1%, #ebebeb 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #ffffff 1%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #ffffff 1%,#ebebeb 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #ffffff 1%,#ebebeb 100%); /* IE10+ */

background: linear-gradient(to bottom,  #ffffff 1%,#ebebeb 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */

}
.follow-btn{
	position:absolute;
	right:0px;
	margin-top:-27px;
}
.follow-btn a>i{
	display:inline-block;
	line-height:13px;
	margin-right:3px;
}
.follow-btn a.follow{
	background:#afb420 none repeat scroll 0 0;
}
.border-me-under{
	border-bottom:1px solid #e1e0e0;
	background:url('../images/line-back.png') no-repeat bottom right;
	margin-bottom:20px;
	padding-top:15px;
	width:100%;
	margin-top:-15px;
	
}
.verify{
	width:18px;
	height:18px;
	margin-left:3px;
}
.point-it{
	width:16px;
	height:7px;
	background:url('../images/arrow-down-grey.png') no-repeat center;
	position:absolute;
	bottom:-9px;
	left:50%;
	margin-left:-10px;
}
.filter_search p{
	margin-bottom:5px;
}
.serach_filter .form-group{
	margin-bottom:8px;
}
.serach_filter  input[type="text"]{
	border:1px solid #cbcbcb;
	height:30px;
	font-size:12px;
	box-shadow:none;
	color:#888888;
	font-weight:400;
}
.serach_filter  .btn{
	width:80px;
	background:#4e4f53;
	color:#fff;
	font-size:13px;
	height:30px;
	text-transform:uppercase;
	margin-top:2px;
	border:0px;
}
.status-user p.online_status{
	color:#B0B421;
}
.status-user p.offline_status{
	color:#D3D3D3;
}

.videoSearch  .item,.blogSearch .item, .item_music{
	padding:15px;
	background:#fff;
	margin-bottom:8px;
	border-bottom:1px solid rgba(209, 209, 209, 1);
	position:relative;
	border-radius:3px;
}
.videoSearch  .item,.blogSearch .item{
	height:165px !important;
}
.videoSearch .item_music{
	height:129px !important;
}
.videoSearch  .item a.vidimg{
	position:relative;
	height:146px;
}
.videoSearch  .item .vidDescr{
	padding:0px 10px;
	position:relative;
	min-height:146px;
}
.videoSearch .item .vidDescr_music{
	min-height:108px;
}
.videoSearch  .item .vidDescr h2,.blogSearch .BlogDescr h2 {
	font-size: 16px;
	font-weight: 400;
	min-height: 21px;
	margin-bottom:0 !important;
}
.videoSearch  .item .vidDescr h2 >a,.blogSearch .BlogDescr h2 > a{
	color:#4E4F53;
	font-weight:bold;
}
.videoSearch  .item .vidDescr p,.blogSearch .BlogDescr p{
	margin-bottom:0pc !important;
}
.item .video_duration{
	background: #000 none repeat scroll 0 0;
	color: #fff;
	font-size: 11px;
	opacity: 1;
	padding: 1px 6px;
	position: absolute;
	right: 10px;
	top: 113px;
	z-index: 1001;
}
.videoSearch .vidDescr .rating_box{
	background: url("../images/rating_star_white.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	display: inline-block;
	height: 11px;
	position: relative;
	vertical-align: sub;
	width: 68px;
	margin-left:3px;
}
.videoSearch  .vidDescr .rating_yellow{
	background: url("../images/rating_star_yellow.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	height: 11px;
	left: 0;
	position: absolute;
	top: 0;
}
.video_info .published_date{
	font-size: 11px;
	text-align: right;
	color: #A7A6A6;
}
.videoSearch  .item .vidDescr .likeWidget,.blogSearch .BlogDescr .likeWidget{
	/*position:absolute;
	bottom:2px;*/
	color:#A7A6A6;
	font-size:11px;
}
.videoSearch  .item .vidDescr .likeWidget .fa,.blogSearch .BlogDescr .likeWidget .fa{
	font-size:13px;
}
.videoSearch  .item .vidDescr .likeWidget span+span{
	padding-left:15px;
}
.videoSearch  .item .vidDescr .publishedBy span.publishedBySpan,.blogSearch .BlogDescr .publishedBy span.publishedBySpan{
	color:#A7A6A6;
	vertical-align:middle;
}
.videoSearch  .item .vidDescr .publishedBy a,.blogSearch .BlogDescr .publishedBy a{
	color:#4E4F53;
	vertical-align:middle;
}
.item .video_duration{
	right:1px;
}
.videoSearch .item h1{
	color: #4e4f53;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 0;
}
.videoSearch .item p,.blogSearch .item p{
	margin-bottom:0px;
	font-size:12px;
}
.blogSearch .blogImg{
	width:180px !important;
	height:135px !important;
	overflow:hidden;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	display:block;
}
.blogSearch .blogImg img{
	max-width:100%;
}
.clear_all{
	color: #afb420;
	font-size: 12px;
	font-weight: 500;
	padding:5px;
}
.clear_all:hover{
	color:#4E4F53;
}
.section_search{
	border-bottom:1px solid #ccc;
}
.section_search ul{
	display:inline-block;
}
.section_search span{
	display:inline-block;
	float:right;
	padding:12px 10px;
}
.section_search span input{
	width:250px;
	height:25px;
	border:1px solid #ccc;
	padding:3px 12px 3px 30px;
	font-size:12px;
	background:url('../images/search_icon.png') no-repeat 6px center;
}
.border-support{
	position:relative;
}
.following{
	background:#fff !important;
	border:1px solid #ccc;
	color:#000 !important;
}
.desc-blog-s{
	font-size:13px !important;
	line-height:18px;
	margin-top:10px;
}
.publishedBy i{
	color:#c6c6c6;
}
.likeWidget {
  bottom: 10px;
  margin-left: 25%;
  position: absolute;
  width: 100%;
  font-size:11px;
  font-weight:bold;
  color:#c6c6c6;
}
.videoSearch .likeWidget{
	margin-left:0px;
}
.has-spinner{
	color:#fff !important;
}
/*new*/
.publishedBy {
  color: #a7a6a6;
  font-size: 11px !important;
  font-weight: 500;
  line-height:16px;
}
.photoSearch{
	clear:both;
}
.photoSearch .item{
	width:25%;
	padding:2px;
	float:left;
	cursor:pointer;
}
.photoSearch .item .dessi_bottom {
    background:url("../images/photo_shadow.png") repeat-x scroll center -63px;
    bottom: 2px;
    margin-bottom: 0;
    overflow: hidden;
    padding:10px 10px 10px 13px;
    position: absolute;
    top: auto;
    width: 98.3%;
	transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	opacity:1;
	z-index:100;
}
.photoSearch .item .dessi_bottom .by_bottom {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
	opacity:1;
}
.videoSearch .item a.MusicImg{
	height:100px;
	display:block;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.promoted_profile{
	position:absolute;
	margin-top:-11px;
	color:#ff9e05;
	font-size:10px;
	right:0;
}
.promoted_video{
	color:#ff9e05;
	font-size:10px;
	text-align:right;
}
.promoted_music{
	color:#ff9e05;
	font-size:10px;
	margin-top:5px;
}
@media only screen  and (min-device-width: 1200px){
	.less-padding{
		padding-right:0px;
	}

}