.dropdown_option_unfriend{
	background: none repeat scroll 0 0 #fff;
	border-radius: 3px;
	box-shadow: 4px 1px 10px 0 rgba(150, 150, 150, 0.75);
	box-sizing: border-box;
	display: none;
	height: auto;
	margin-right: -2px;
	margin-top: 3px;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: left;
	width: 270px;
	z-index: 999;
	border:1px solid #ccc;
	bottom:40px;
}
.dropdown_option_unfriend .menu-drop{
	margin:0px !important;
	padding:10px 10px !important;
}
.dropdown_option_unfriend .menu-drop p{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #4e4f53;
	display: block;
	padding: 0;
	text-transform: capitalize;
	border:none !important;
	line-height:16px;
	font-size:12px;
	margin-bottom:0px;
}
.dropdown_option_unfriend .menu-drop a{
	text-decoration:none;
	background:#4e4f52;
	font-size:11px;
	padding:2px 10px;
	border-radius:3px;
	color:#fff;
	overflow:hidden;
	font-weight:500;
}
.dropdown_option_unfriend .menu-drop .cancel{
	background:#fff !important;
	border:1px solid #ccc;
	color:#4e4f52 !important;
}
.dropdown_option_unfriend .menu-drop p span{
	font-weight:500;
	font-size:14px;
}
.dropdown_option_unfriend .arrow {
  position: absolute;
  right: 7px;
  bottom: -20px;
}
.popUnfriend .fa.folow_option{
	position: absolute;
	right: 6px;
	top: 9px;
}
.header-popup{
	padding:3px 10px;
	height:auto;
	background:#dfdfdf;
}
.header-popup p{
	color:#4e4f53 !important;
}
.header-popup p i{
	margin-right:4px;
	vertical-align:calc(2px);
}