@import url("music.css");
.user_profile .top_videos .album .desc .player{
	background-color:inherit !important;
	display:none;
}
.user_profile .top_videos .album .desc .player a.list{
	padding:2px 25px;
}
.mymusic-modal .modal-content{
	overflow:hidden;
}
.mymusic-modal .modal-header{
	background:#f8f7f7;
	border-bottom:0px;
	padding:10px 15px;
}
.mymusic-modal .modal-header h4{
	font-size:14px;
	font-weight:500;
	color:#444;
}
.mymusic-modal .modal-body{
	padding:10px 15px;
}
.mymusic-modal label{
	color:#4e4f53;
	font-weight:500;
}
.mymusic-modal .form-control{
	border:1px solid #ccc;
	padding:6px 9px;
	box-shadow:none;
	font-size:12px;
}
.mymusic-modal .form-group{
	margin-bottom:7px;
}
.mymusic-modal .background-img{
	padding:6px 9px 6px 25px;
}
.mymusic-modal .addPlace{
	background:url('../images/map-amrker.png') no-repeat 10px center;
}
.mymusic-modal .when{
	padding:6px 9px 6px 30px;
	background:url('../images/when.png') no-repeat 10px center;
}
.mymusic-modal .time{
	padding:6px 9px 6px 30px;
	background:url('../images/time.png') no-repeat 10px center;
}
.mymusic-modal .modal-footer{
	margin:0px;
	padding:10px 15px;
	background:#f8f7f7;
	border-top:0px;
}
.mymusic-modal .btn{
	font-size:12px;
}
.mymusic-modal .btn-primary{
	background:#000;
	color:#fff;
	border:0px;
}
#myElement{
	margin-top:25px;
}
.musicImg{
	margin-top:10px;
}
input[type=file]{
	height:inherit !important;
}