body,.top_section{
	background:#ededed;	
}
.status_hide{
	display:none !important;
}
/*--------------------------*/
@media only screen and  (max-width:1200px){
	
}
@media only screen and (min-width:992px) and (max-width:1200px){

	
	
}
@media only screen and (min-width:769px) and (max-width:992px){

	
}
@media only screen  and (max-width:769px){
	
	
	
}

/*------------*/
