body,.top_section{
	background:#ededed;	
}
/*.user_profile .content{
	width:auto;
	float:none;
}	
.user_profile .content .profile_content{
	width:900px;	
}*/

.user_profile .content .pagination_box .video_search,  .video_search {
    width: 100%;
	/*float:left;*/
}
.video_search input[type="text"],  .video_search input[type="text"] {
    background: url("../images/menu-icon.png") no-repeat scroll 96% center #fff;
    border: 1px solid #ccc;
    border-radius: 1px;
    color: #9b9b9b;
    font-size: 13px;
   /* padding: 3px 35px 3px 9px;*/
	max-width:390px;
	border-radius:3px;
	height:33px;
}
 .video_search input[type="submit"], .video_search input[type="submit"] {
    background-color: #4e4f53;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    margin-left: -3px;
	 padding:0px;
	   width:100%;
   height:33px;
	border-radius:3px;
}
 .pagination_box .upload, .upload {
	display:inline-block;
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ccc;
	display: inline-block;
	border-radius:3px;
	font-size:12px;
}
.pagination_box .upload a,  .upload a {
    font-weight: 600;
  	padding: 8px 17px 7px 37px;
    display: block;
    background-image: url(../images/camera.png);
    background-repeat: no-repeat;
    background-position: 10px center;
	color:#4e4f53;
	font-size:12px;
}

.option, .option {
    border: 1px solid #ccc;
    float: left;
    padding: 10px 25px 10px 8px;
    cursor: pointer;
	position:relative;
	border-radius:3px;
	background:url('../images/review_top_arrow.png') no-repeat 94% center #fff;
}
.option p,.option p {
    font-size: 12px;
    font-weight: 600;
    line-height: 11px;
    margin: 0;
}
.option ul, .option ul {
     background-color: #fff;
    display: none;
   	top:32px;
    position: absolute;
	width:200px;
	left:0px;
	z-index:999999;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	overflow:hidden;
	border-radius:3px;
	-webkit-box-shadow:4px 1px 10px 0 rgba(150, 150, 150, 0.75);
	-moz-box-shadow:4px 1px 10px 0 rgba(150, 150, 150, 0.75);
	-ms-box-shadow:4px 1px 10px 0 rgba(150, 150, 150, 0.75);
	-o-box-shadow:4px 1px 10px 0 rgba(150, 150, 150, 0.75);
	box-shadow:4px 1px 10px 0 rgba(150, 150, 150, 0.75);
}
.option ul li{
	padding:5px;
	line-height:21px;
}
.option ul li:hover{
	background:#f4f4f4;
}
.option ul li a{
	text-decoration:none;
	color:#333; 
}
 .noti {
    float: left;
    position: relative;
}
.noti a {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 51px;
    margin-left: 25px;
    padding: 5px 4px;
	display:block;
}
 .noti .notifications {
    background-color: #ff9e05;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    padding: 6px 8px;
    position: absolute;
    right: -15px;
    top: -20px;
    z-index: 10;
}
.user_profile .videos {
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 3px;
    padding: 15px;
}
.user_profile .videos .video_left {
    float: left;
    width: 100%;
}
.user_profile .videos .video_left.video_left_single{
	padding:0px 10px;
}
.user_profile .videos .video_right {
    float: right;
    width: 100%;
}
.user_profile .videos .video_desc {
    background-color: #fcfcfc;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.05);
    margin-top: 3px;
}
.user_profile .videos .video_desc .desc_sec {
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
}
.user_profile .videos .video_desc .desc_sec .user {
    float: left;
    padding:15px 20px 9px 10px;
	width:35%;
}
.user_profile .videos .video_desc .desc_sec .user .thump {
    float: left;
	height:60px;
	width:60px;
	overflow:hidden;
	border-radius: 50%;
}
.user_profile .videos .video_desc .desc_sec .user .thump img {
   
	max-width:100%;
}
.user_profile .videos .video_desc .desc_sec .user .user_info {
    float: left;
    margin-left: 9px;
}
.user_profile .videos .video_desc .desc_sec .user .user_info h5 {
    font-size: 15px;
    font-weight: 400;
	color:#4e4f53;
	 margin-bottom: 0;
}
.user_profile .videos .video_desc .desc_sec .user .user_info h5 a{
	color:#4e4f53;
}
.user_profile .videos .video_desc .share {
    border-top: 1px solid #fff;
    overflow: hidden;
    padding: 0 15px;
}
.user_profile .videos .video_desc .share .share_coment {
    float: left;
	padding: 5px 0;
}
.user_profile .videos .video_desc .share .share_icns {
    float: right;
}
.user_profile .videos .video_desc .share .share_coment a.share_heart1 {
    background-color: #ff9e05;
}
.user_profile .videos .video_desc .share .share_coment a.share_heart2 {
    background-color: #3b5998;
}
.user_profile .videos .video_desc .share .share_coment a.share_heart3 {
    background-color: #4e4f53;
}
.user_profile .videos .video_desc .share .share_coment a {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 5px 6px;
    text-align: center;
    width: 75px;
}
.user_profile .videos .video_desc .share .share_coment a.voted {
	color:#A7A6A6;
}
.user_profile .videos .video_desc .share .share_coment a .fa {
    padding-right: 5px;
}
.user_profile .videos .video_desc .share .share_icns .share_icon_content .share_social {
    color: #a7a6a6;
    float: left;
}
.user_profile .videos .video_desc .share .share_icns .share_icon_content .round_section {
    float: left;
}
.user_profile .videos .video_desc .share .share_icns .share_icon_content .share_last {
    float: left;
}
.user_profile .videos .video_desc .share .share_icns .share_icon_content .share_social a {
    color: #a7a6a6;
    font-size: 21px;
    font-weight: 300;
    padding: 0 3px;
}
.user_profile .videos .video_desc .share .share_icns .share_icon_content .share_social {
    border-right: 1px solid #e9e9e9;
    color: #a7a6a6;
    float: left;
    padding: 5px 18px 5px 0;
}
.user_profile .videos .video_desc .share .share_icns .share_icon_content .round_section {
    float: left;
    font-size: 10px;
    padding: 13px 16px;
}
.user_profile .videos .video_desc .share .share_icns .share_icon_content .round_section a {
    color: #a7a6a6;
    font-size: 6px;
    padding: 0 1px;
    text-align: center;
}
.user_profile .videos .video_desc .share .share_icns .share_icon_content .share_last {
    float: left;
    padding: 9px 0;
}
.user_profile .videos .video_desc .share .share_icns .share_icon_content .share_last a {
    color: #a7a6a6;
    font-size: 15px;
}
.user_profile .videos .video_desc .desc_sec .user .user_info .date {
    font-size: 12px;
    font-weight: 400;
}
.user_profile .videos .video_desc .desc_sec .user .user_info .proffesion {
    background-image: url("../images/proffessin.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.user_profile .videos .video_desc .desc_sec .user .user_info .star_rate {
    display: block;
    margin-top: 3px;
}
.user_profile .videos .video_desc .desc_sec .video_info {
    float: left;
    padding-left: 14px;
    padding-right: 13px;
    padding-top: 17px;
    width: 65%;
	border-left:1px solid #e9e9e9;
	min-height:84px;
}
.user_profile .videos .video_desc .desc_sec .video_info h1 {
    font-size: 16px;
    font-weight: 400;
	min-height:18px;
	margin-top:3px;
}
.user_profile .videos .video_desc .desc_sec .video_info .views {
    font-size: 18px;
    font-weight: 600;
}
.user_profile .videos .video_desc .desc_sec .video_info .views .fa.fa-eye,.user_profile .videos .video_desc .desc_sec .video_info .likeStrCount .fa.fa-heart-o,.user_profile .videos .video_desc .desc_sec .video_info .fa-thumbs-up,.user_profile .videos .video_desc .desc_sec .video_info .rateStrCount .fa.fa-thumbs-up  {
    color: #979797;
	font-size:13px;
}
.user_profile .videos .video_desc .desc_sec .video_info .likeStrCount,.user_profile .videos .video_desc .desc_sec .video_info .rateStrCount,.shareStrCount{
	color: #A7A6A6;
    font-size: 11px;
    font-weight: normal;
	padding:5px;
}
.user_profile .video_right h6 {
     color: #4e4f53;
    font-size: 14px;
    font-weight: 500;
	margin-bottom:0;
}
.user_profile .video_right a.create {
    color: #afb420;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
}
.user_profile .video_right .ads {
    margin-top: 3px;
}
.user_profile .video_right .ads .ad h4 {
    color: #4e4f53;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 9px;
}
.user_profile .video_right .ads .ad h6 {
    font-size: 12px;
    font-weight: 600;
}
.user_profile .video_right .ads .ad p {
    color: #8a8b8d;
    font-size: 12px;
    line-height: 20px;
}
.user_profile .video_right a.promote {
    background-color: #afb420;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-top: 21px;
    padding: 6px 0;
    text-align: center;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	behavior: url(css/PIE.htc);
	position: relative;
}

.user_profile .top_videos {
    margin-top: 15px;
	position:relative;
}
.user_profile .video_left .top_videos {
	margin-top: 0px !important;
}
.user_profile .top_videos + .top_videos {
    margin-top: 18px;
}
.user_profile .top_videos h1,.search_videos h1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
	width:94%;
	color:#4E4F53;
}
/*----------------------------------------*/
/*.user_profile .top_videos ul {
    border-top: 1px solid #eeeeee;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
    margin-top: 6px;
    padding: 9px;
}*/
.user_profile .top_videos ul li {
    float: left;
    width: 224px;
	line-height:22px;
}
.user_profile .video_left .top_videos ul li{
	width: 200px;
}
.user_profile .top_videos ul li + li {
    margin-left: 0px;
}
.user_profile .top_videos ul li a.video_image {
    display: block;
    margin-bottom: 13px;
}
.user_profile .top_videos ul li span {
    color: #000;
    font-size: 11px;
    font-weight: 600;
}
.user_profile .top_videos ul li .title{
	display:block;
}
.user_profile .top_videos ul li .title a {
    color: #4e4f53;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.user_profile .top_videos ul li .produce {
    color: #a09e9e;
    display: block;
    font-size: 12px;
    font-weight: 400;
}
.user_profile .top_videos ul li .produce a {
    color: #afb420;
}
.top_videos ul li span.time {
    color: #a09e9e;
}
.user_profile .top_videos .controls a {
    position: absolute;
    top: 0px;
}
.user_profile .top_videos .controls a.prev {
    right: 14px;
}
.user_profile .top_videos .controls a.next {
    right: 0px;
}
/*--------------------------*/
.videos_slider_section .owl-buttons {
    position: absolute;
    right: 0;
    top: -33px;
}
.videos_slider_section .owl-buttons div {
    background-repeat: no-repeat;
    float: left;
    text-indent: -5000px;
    width: 20px;
}
.mouseWheelButtons1 .prev,.mouseWheelButtons2 .prev,.mouseWheelButtons3 .prev{
	background:url('../images/prev.png') no-repeat;
	padding: 0px 5px;
	color:#515151 !important;
}
.mouseWheelButtons1 .next,.mouseWheelButtons2 .next,.mouseWheelButtons3 .next{
	background:url('../images/next.png') no-repeat;
	padding: 0px 5px;
	color:#515151 !important;
	margin-left:10px;
}
/**/
.videos_slider_section .item{
	margin:0;
	position:relative;
	height:261px;
	overflow:hidden;
}
.videos_slider_section  .item+.item{
	margin-top:10px;
}
.user_profile .top_videos .videos_slider_section {
    border-top: 1px solid #eeeeee;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
    margin-top: 6px;
    padding: 9px 7px;
	height:270px;
	overflow:hidden;
}
.user_profile .video_left .top_videos .videos_slider_section {
	height:542px;
}
.videos_slider_section .video_main {
    padding-right: 10px;
}
.videos_slider_section .title {
    display: block;
    margin-bottom: 2px;
    margin-top: 10px;
	height:29px;
}
.videos_slider_section .title .video_main {
    padding-right: 10px;
}
.videos_slider_section .title a {
    color: #4e4f53;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.videos_slider_section .produce {
    color: #a09e9e;
    display: block;
    font-size: 11px;
    font-weight: 600;
	margin-bottom:14px;
}
.videos_slider_section .produce a {
    color: #afb420;
}
.videos_slider_section div.time {
    color: #a09e9e;
}
.videos_slider_section .video_views {
    color: #a09e9e;
    font-size: 11px;
    font-weight: 600;
	margin-bottom:10px;
}
.videos_slider_section div.time {
    color: #a09e9e;
    font-size: 11px;
    text-align: right;
	font-weight:600;
}
.videos_slider_section div.time .five_moths {
    color: #a09e9e;
}
.carousel2 .item img,.carousel3 .item img{
	height:150px;
	overflow:hidden;
}
.item .video_duration{
	background: none repeat scroll 0 0 #000;
	color: #fff;
	font-size: 11px;
	opacity: 1;
	padding: 1px 6px;
	position: absolute;
	right: 10px;
	top: 113px;
	z-index: 1001;
}
.likeVideoBtn,.shareVideoBtn{
	display:inline-block;
}
.likeVideoBtn .liked{
	color:#A06201 !important;
}
.remodal .video_rate_table .rate-ex2-cnt{
	border:none;
}
.remodal .video_rate_table .tr{
	padding:5px !important;
}
.remodal .video_rate_table .rate-ex2-cnt{
	float:left;
	width:75%;
}
.remodal .video_rate_table input[type="button"]{
	padding:2px 15px !important;
	font-size:14px !important;
}
#thePlayer{
	height:440px;
}
.video_info .vidVisits{
	font-size:11px;
	color:#A7A6A6;
}
.video_info .views .rating_box{
	background: url("../images/rating_star_white.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	display: inline-block;
	height: 11px;
	position: relative;
	vertical-align: top;
	width: 68px;
	top:2px;
}
.video_info .views .rating_yellow{
	background: url("../images/rating_star_yellow.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	height: 11px;
	left: 0;
	position: absolute;
	top: 0;
}
.video_info .published_date{
	font-size: 11px;
	text-align: left;
	color: #A7A6A6;
}
.reduce-margin{
	margin-left:-5px !important;
	margin-right:-5px !important;
}
.reduce-padding{
	padding-left:5px;
	padding-right:5px;
}
.no-border{
	border-bottom:none !important;
}
.upper-video-sec{
	margin-bottom:8px;
}
.carousel1{
	z-index:0 !important;
}
.video_search input{
	padding:5px;
}
.video-border{
	border-bottom:1px solid #ccc;
	border-radius:3px;
}
/*new*/
.fa_eye,.fa_globe{
	vertical-align:calc(-1px);
}
@media only screen and (min-width:1200px){
.alt-padding-l-s{
	padding-left:5px;
}
	
}
@media only screen and (max-width:1200px){
	
	.user_profile .videos .video_left,.user_profile .videos .video_right {
		float: none;
		width: auto;
	}
	.user_profile .videos .video_right {
		margin-top: 15px;
	}
	.videos_slider_section .owl-carousel .owl-item .item{
		margin:10px;
	}



}
@media only screen  and (max-width:992px){
	.user_profile .content .pagination_box .option {
		margin-left: 0;
		margin-top: 20px;
	}	
	.user_profile .content .pagination_box .noti {
		margin-top: 20px;
	}
	.user_profile .content .pagination_box .noti .notifications {
		background-color: #ff9e05;
		border-radius: 50%;
		color: #fff;
		font-size: 11px;
		font-weight: 700;
		padding: 4px 6px;
		position: absolute;
		right: -13px;
		top: -13px;
		z-index: 10;
	}
	.user_profile .videos .video_desc .desc_sec .video_info .views {
		float: none;
		text-align: left;
	}
	.user_profile .videos .video_desc .desc_sec .user .thump {
		float: none;
	
	}
	.user_profile .videos .video_desc .desc_sec .user .user_info {
		float: none;
		margin-left: 0;
		margin-top: 7px;
	}
}
@media only screen and (min-width:769px) and (max-width:992px){

	
}
@media only screen  and (max-width:769px){
	
	
}
@media only screen  and (max-width:680px){
	.user_profile .content .pagination_box .video_search {
		float: none;
		width: auto;
	}
	.user_profile .content .pagination_box .upload {
		float: none;
		margin-left: 0;
		margin-top: 10px;
	}
	.user_profile .content .pagination_box .video_search input[type="text"] {
		max-width: 100%;
	}
	.user_profile .content .pagination_box .video_search input[type="submit"] {
		margin-left: 0;
		margin-top: 8px;
	}
	.owl-carousel .owl-item .item img {
		width: 100%;
	}


}
@media only screen  and (max-width:639px){

	
}
@media only screen  and (max-width:579px){	
.user_profile .videos .video_desc .share .share_coment {
    float: none;
    text-align: center;
}
.user_profile .videos .video_desc .share .share_icns {
    float: none;
    text-align: center;
}
.user_profile .videos .video_desc .share .share_icns .share_icon_content {
    display: inline-block;
    width: auto;
}
.user_profile .videos .video_desc .share .share_icns .share_icon_content .share_social{
	border-right:none;
}
	
}
@media only screen  and (max-width:468px){

	
}
@media only screen  and (max-width:356px){
.user_profile .videos .video_desc .share .share_coment a {
    margin-bottom: 5px;
}
.user_profile .videos .video_desc .share .share_icns .share_icon_content .share_social {
    float: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.user_profile .videos .video_desc .share .share_icns .share_icon_content .round_section {
    float: none;
    padding: 13px 0;
    width: 100%;
}
.user_profile .videos .video_desc .share .share_icns .share_icon_content .share_last {
    float: none;
    padding: 9px 0;
}
	
}
/*------------*/
