@charset "UTF-8";

.small_thumb{
	width:300px;
	height:auto;
}
.overlay_bg{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.7);
	display:none;
	z-index:999999999;
}
.lightBox{
	position:absolute;
	width:95%;
	height:95%;
	top:2.5%;
	left:2.5%;
	overflow:hidden;
	border:1px solid #232323;
}
.lightBox .bg_fixed{
	position:absolute;
	min-width:50%;
	height:100%;
	top:0;
	left:320px;
	right:0;
	background:rgba(0,0,0,0.8);
	z-index:1;
	overflow:hidden;
}
.loadImages{
	background:url('../fameuz_lightbox/images/ld.gif') no-repeat center center #000 !important;
}
.lightBox .loadingImg{
	background:url('../fameuz_lightbox/images/ld.gif') no-repeat center center #000;
}
.lightBox .bg_img_stand{
	position:absolute;
	display:none;
	width:100%;
	height:100%;
	top:0;
	left:0;
	
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
}
.lightBox .bg_img_stand_img{
	width:auto;
	height:auto;
	top:auto;
	left:auto;
	cursor:move;
	
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
	
}
.lightBox .bg_img_stand img{
	position:relative;
	display:block;
	height:100%;
	width:100%;
	z-index:-1;
	
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
}
.trnasitionClass{
	-webkit-transition: all 500ms linear 0s;
	   -moz-transition: all 500ms linear 0s;
		-ms-transition: all 500ms linear 0s;
		 -o-transition: all 500ms linear 0s;
		 	transition: all 500ms linear 0s;
}
.lightBox .side_bar{
	position:absolute;
	width:320px;
	height:100%;
	top:0;
	left:0;
	background:#fff;
	
	-webkit-box-shadow: inset 1px 1px 10px 0px rgba(244,244,244,1);
	-moz-box-shadow: inset 1px 1px 10px 0px rgba(244,244,244,1);
	box-shadow: inset 1px 1px 10px 0px rgba(244,244,244,1);
}
.lightBox .dismiss{
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	width:40px;
	height:40px;
	z-index:999999999;
	border-left:1px solid #232323;
}
.lightBox .dismiss:hover{
	background:#232323;
}
#terminate > img {
  display: block;
  line-height: 40px;
  margin: 13px auto;
  vertical-align: middle;
}
.lightBox .user_info{
	width:50px;
	height:50px;
	overflow:hidden;
	float:left;
	background:url('../fameuz_lightbox/images/id_small.gif') no-repeat center center;
	
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
}
.lightBox .loadingData{
	background:url('../fameuz_lightbox/images/id_small.gif') no-repeat center center #fff;
}
.lightBox .user_info img{
	width:100%;
	min-height:100%;
}
.lightBox .user_data{
	width:70%;
	float:left;
	padding:5px;
}
.lightBox .user_data h3,.user_data p {
	margin:0px;
}
.lightBox .user_data h3{
	font-size:12px;
	font-weight:500;
	color:#4e4f53;
}
.lightBox .user_data p{
	font-size:12px;
}
.lightBox .user-data{
	padding:10px;
	float:none;
	overflow:hidden;
	border-bottom:1px solid #ccc;
	height:71px;
}
.lightBox .footer_lightBox{
	width:80%;
	height:50px;
	position:absolute;
	bottom:0;
	right:0;
	z-index:999;
}
.lightBox .prev, .lightBox .next{
	position:absolute;
	display:block;
	top:50%;
	margin-top:-10px;
	cursor:pointer;
	z-index:999999;
}
.lightBox .prev{
	left:3%;
}
.lightBox .next{
	right:3%;
}
.lightBox .zoom {
  background: #000 none repeat scroll 0 0;
  top:0;
  left:0;
  width:100%;
  height:40px;
  position: relative;
  text-align: center;
  z-index: 99999;
  border:1px solid #232323;
}
.lightBox .zoom i{
	padding:0px 15px;
	font-size:17px;
	color:#fff;
	cursor:pointer;
	line-height:38px;
	border-right:1px solid #232323;
}
.lightBox .zoom i:last-child{
	border-left:1px solid #232323;
}
.lightBox .zoom i:first-child{
	border-left:1px solid #232323;
}
.lightBox .zoom i:hover{
	background:#232323;
}
.lightBox .zoom img{
	cursor:pointer;
}
.lightBox .vidSection{
	display:none;
}
.lightBox iframe{
	position:absolute;	
}

/*new css */

.lightBox .share_like_box {
    background: #000;
    bottom: 0;
    height: 50px;
    left: 0;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    position: absolute;
    width: 100%;
	overflow:hidden;
	padding-bottom:13px;
	z-index:99;
	border-top:1px solid #232323;
}
.lightBox .review_message {
    background: none repeat scroll 0 0 #afb420;
    border-radius: 2px;
    display: inline-block;
    vertical-align: top;
}
.lightBox .share_like_box .like {
    display: inline-block;
    margin: 0 2px;
    vertical-align: top;
}
.lightBox .share_like_box .share ,.lightBox .share_like_box .makeCover {
    display: inline-block;
    vertical-align: top;
}
.lightBox .share_like_box .worked{
	float:right;
}
.hideSec{
	display:none !important;
}
.lightBox .share_like_box .review_message{
	display:none;
}
.lightBox .share_like_box .review_message a {
    border-radius: 2px 0 0 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 10px 6px 14px;
   /* transition: background 0.2s linear 0s;*/
}
.lightBox .share_like_box .review_message a:hover {
    background: none repeat scroll 0 0 #9ba01a;
}
.lightBox .share_like_box .review_message a + a {
    background: url("../images/review_border.png") repeat-y scroll left top rgba(0, 0, 0, 0);
    border-radius: 0 2px 2px 0;
    margin-left: -4px;
}
.lightBox .share_like_box .review_message a i {
    font-size: 12px;
    margin-left: 2px;
    margin-top: 4px;
    vertical-align: top;
}
.lightBox .share_like_box .like a {
    background: none repeat scroll 0 0 #ff9e05;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 10px;
    /*transition: background 0.2s linear 0s;*/
}
.lightBox .share_like_box .like a:hover {
    background: none repeat scroll 0 0 #dc8803;
}
.lightBox .share_like_box .like a.liked i, .share_like_box .like a.liked {
    color: #a06201;
}
.lightBox .share_like_box .share a {
    background: none repeat scroll 0 0 #3b5998;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 10px;
    /*transition: background 0.2s linear 0s;*/
}
.lightBox .makeCover_btn{
    background: none repeat scroll 0 0 #fff;
    border-radius: 2px;
    color: #787777;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 10px;
	margin-left:4px;
	
}
.lightBox .share_like_box .share a:hover {
    background: none repeat scroll 0 0 #204490;
}
.lightBox .share_like_box .like a i,.share_like_box .share a i ,.lightBox  .share_like_box .worked a i, .makeCover_btn i{
    margin-right: 6px;
    margin-top: 2px;
    vertical-align: top;
}
.lightBox .share_like_box .worked a{
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 2px;
    color: #787777;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 10px;
    /*transition: background 0.2s linear 0s;*/
	border:1px solid #cdc2b1;
}
.lightBox .share_like_box .worked a:hover{
	background:#4e4f53;
	color:#fff;
	border-color:#4e4f53;
}
.lightBox .scale{
	width:150%;
	height:150%;
	margin-top:0px !important;
}
.lightBox .img_small_prev_overlay{
	width:150px;
	height:170px;
	background:rgba(0,0,0,0.7);
	top:10px;
	left:10px;
	position:absolute;
	z-index:99;
	border:1px solid #808080;
	overflow:hidden;
	display:none;
}
.lightBox .img_small_prev{
	height:150px;
	width:100%;
	margin:auto;
}
.lightBox .img_small_prev img{
	max-width:100%;
	max-height:100%;
	display:block;
	width:auto;
	margin:auto;
}
.lightBox .zoom_value{
	width:100%;
	border-top:1px solid #808080;
	height:19px;
	text-align:center;
	color:#808080;
	font-size:12px;
	position:absolute;
	bottom:0;
	left:0;
}
.lightBox .zoom_value p{
	line-height:16px !important;
}
.lightBox .drag_overlay{
	position:relative;
	height:100%;
}
.lightBox .drag_zoom{
	width:90%;
	height:50px;
	border:1px solid #fff;
	position:absolute;
	left:5%;
	top:10px;
	cursor:move;
	background:rgba(0,0,0,0);
}
.lightBox .shared{
	background:#204490 !important;
	color:#3b5998 !important;
}

.lightBox .like_countz {
  border-bottom: 1px solid #ccc;
  height: 30px;
  width: 100%;
  color:#9f9e9e;
}
.lightBox .like_countz > ul {
  padding: 0px 5px;
}
.lightBox .like_countz li {
  border-right: 1px solid #ccc;
  display: inline-block;
  font-size: 11px;
  line-height: 29px;
  padding: 0 21px;
}
.lightBox .like_countz ul li i {
  margin-right: 6px;
}
#middelSec{
	overflow:hidden;
	position:relative;
	height:623px;
}
.lightBox .zoomIn, .lightBox .zoomOut,.lightBox .reset{
	display:;
}
.lightBox .dragMe {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: red;
  color: white;
  position:absolute;
  left: 20px;
  top: 20px;
  z-index:9999999999999999 !important;
  cursor:pointer;
}
.lightBox .masnoryDiv{
	width:100%;
	position:relative;
	border-bottom:1px solid #ccc;
}
.lightBox .masnoryDiv ul{
	width:100%;
	height:auto;
	overflow:hidden;
}
.lightBox .masnoryDiv ul li{
	width:33.2333%;
	float:left;
	min-height:108px;
	height:106px;
	background:url('../fameuz_lightbox/images/id_small.gif') no-repeat center center #fff;
	border-right:1px solid #ededed;
	border-bottom:1px solid #ccc;
	overflow:hidden;
}
.lightBox .masnoryDiv ul li a img{
	width:auto;
	height:auto;
}
.lightBox .no_images{
	background:url('images/no_img.jpg') no-repeat center center #000;
}
.lightBox .loadMorePicz{
	display:block;
	padding:5px;
	background:#ededed;
	font-size:12px;
	text-align:center;
	color:#000;
}
.lightBox .desc_photoz{
	display:none;
}
.like_countz li:last-child{
	border:none !important;
}
.switch{
	position:relative;
}
.switch .drop_down{
	position:absolute;
	left:0;
	width:100px;
	top:37px;
	display:none;
	background:#000;
	border:1px solid #232323;
}
.switch .drop_down span{
	display:block;
	font-size:12px;
	font-weight:600;
	font-family: 'Roboto', sans-serif;
}
.switch .drop_down span:first-child{
	border-bottom:1px solid #232323;
}
.switch:hover .drop_down{
	display:block;
}
.switch .drop_down span:hover{
	background:#232323;
}
.lightBox .desc_photoz p{
	margin-bottom:0px !important;
}
.toggleBg{
	right:320px !important;
	left:0 !important;
}
.toggleSidebar{
	right:0 !important;
	z-index:9 !important;
	left:auto !important;
}
.comment i{
	margin-left:4px;
}
.alertClose.alert-success.alert-dismissible {
  padding: 4px 10px;
  font-size: 12px;
}
@media screen and (max-height: 700px) {
}
